
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.slider-navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
  }
  .custom .swiper-pagination  {
    position: static;
  }
  .custom .swiper-button-next,
  .custom .swiper-button-prev {
    position: static;
    width: 32px;
    height: 32px;
    margin: 0px;
  }
  .custom .swiper-pagination{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='11' viewBox='0 0 27 11' fill='none'%3E%3Cpath d='M20.0595 0.798717C20.0661 1.14154 19.9997 1.48183 19.8649 1.79548C19.7302 2.10914 19.5303 2.38873 19.2795 2.61467C18.7469 3.107 18.05 3.36885 17.3342 3.34595C16.7142 3.32056 16.1054 3.16883 15.5432 2.89914C14.8856 2.61357 14.2453 2.28757 13.6258 1.92311C12.8916 1.51199 12.1158 1.18462 11.3124 0.94707C10.3647 0.649165 9.37905 0.498474 8.38805 0.500012C5.56752 0.500012 3.46636 1.38981 2.08462 3.16913C0.623295 5.20614 -0.108507 7.69961 0.013027 10.2277H6.91144C6.90236 9.88378 6.96631 9.54203 7.0988 9.22614C7.23129 8.91026 7.42913 8.62797 7.67859 8.39871C8.22782 7.90603 8.94043 7.6494 9.66862 7.68242C10.4682 7.73424 11.2453 7.97569 11.9392 8.38747C12.8294 8.85737 13.847 9.32687 14.9919 9.79608C16.1435 10.267 17.3724 10.506 18.6118 10.4999C21.4323 10.4999 23.5335 9.61503 24.9152 7.84526C26.3772 5.81364 27.1092 3.32401 26.9868 0.799965L20.0595 0.798717Z' fill='%233D8F94'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: left center;
    width: max-content;
    padding: 0 50px;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    gap: 24px;  
}
.swiper-pagination-current {
    font-weight: 700;
}
    .home-swiper .swiper-pagination {
        width: 120px;
        right: 0;
        color: #fff;
    }

    .home-swiper .swiper-pagination-bullet {
        width: auto;
        height: auto;
        border-radius: 0;
        background: transparent;
        opacity: 1;
    }

    .home-swiper .swiper-pagination-bullet .line {
        height: 1px;
        width: 48px;
        background: #fff;
        display: block;
    }

    .home-swiper .swiper-pagination-bullet {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .home-swiper .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .home-swiper .swiper-pagination-bullet .counter {
        margin-right: 12px;
    }

    .home-swiper .swiper-pagination-bullet svg {
        display: block;
        margin-right: 16px;

    }

    .home-swiper .swiper-pagination-bullet svg path {
        fill: transparent;
        stroke: #fff;
    }

    .home-swiper .swiper-pagination-bullet .counter {
        opacity: 0;
    }

    .home-swiper .swiper-pagination-bullet .line {
        display: none;
        opacity: 0;
    }

    .home-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active .counter {
        opacity: 1;
    }

    .home-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active .line {
        opacity: 1;
    }

    .home-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active svg path {
        fill: #fff;
        stroke: transparent;
    }
    .home-swiper.swiper-horizontal>.swiper-pagination-bullets, .home-swiper .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        right: 0;
        left: auto;
        bottom: auto;
        top: 50%;
        transform: translate3d(0px,-50%,0);
    }
    
    .home-swiper.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .home-swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0;
    }
    @media(min-width: 768px){
        .home-swiper .swiper-pagination-bullet .line{
            display: block
        }
    }

    @media(min-width: 768px){
        /* .reviews-swiper .swiper-wrapper{
            align-items: center;
        }
        .swiper-slide.swiper-slide-active>div{
            padding-bottom: 70px;
        }
        .swiper-slide.swiper-slide-active .stars{
           height: auto;
           margin-top: 32px;
        }
        .swiper-slide .stars{
            height: 0px;
            margin-top: 0;
            overflow: hidden;
            transition: all .3s ease;
        }
        .lines-height{
            --max-lines: 3; 
  overflow: hidden;
  display: -webkit-box; 
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
        }
        .swiper-slide.swiper-slide-active .lines-height{
            overflow: visible;
            -webkit-line-clamp: 100;
        } */
    }