---
import Layout from "../layouts/Layout.astro";
import HomeHero from "../components/HomeHero.astro";
import Sponsors from "../components/Sponsors.astro";
import FollowUs from "../components/FollowUs.astro";
import ReviewsSlider from "../components/ReviewsSlider.astro";
import CoursesSlider from "../components/CoursesSlider.astro";
import ClassesSlider from "../components/ClassesSlider.astro";
import Subscribe from "../components/Subscribe.astro";
import AboutUs from "../components/AboutUs.astro";
import OfferTab from "../components/OfferTab.astro";
import Input from "../components/Input.astro";
import Select from "../components/Select.astro";
---

<Layout title="Basket | Game On" isHome={false} textdark={true}>
  <section class="pt-36 bg-blue-100 pb-20 md:mt-12">
    <div class="container wrapper">
      <div class="grid lg:grid-cols-2">
        <div>
          <img src="/assets/images/details-1.png" class="w-full h-auto max-w-[540px]"/>
        </div>
        <div class="pt-8 lg:pt-0 lg:pl-8">
          <h1 class="block text-gray-800 mb-16">Purchase 1</h1>
          <div class="md:flex items-center mb-9">
            <h5 class="text-blue-800 mr-8">Description</h5>
            <h5>yoga online classes</h5>
          </div>
          <div class="flex mb-5 gap-2 items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <g clip-path="url(#clip0_58_2324)">
                <path
                  d="M1.5 2.50101H22.5C22.5 2.50101 23.5 2.50101 23.5 3.50101V22.501C23.5 22.501 23.5 23.501 22.5 23.501H1.5C1.5 23.501 0.5 23.501 0.5 22.501V3.50101C0.5 3.50101 0.5 2.50101 1.5 2.50101Z"
                  stroke="#515151"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M5.5 0.501007V5.50101"
                  stroke="#515151"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M18.5 0.501007V5.50101"
                  stroke="#515151"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M0.5 7.50101H23.5"
                  stroke="#515151"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M12 7.50101V23.501"
                  stroke="#515151"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M6 7.50101V23.501"
                  stroke="#515151"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M18 7.50101V23.501"
                  stroke="#515151"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M0.5 15.501H23.5"
                  stroke="#515151"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M0.5 11.501H23.5"
                  stroke="#515151"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M0.5 19.501H23.5"
                  stroke="#515151"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g>
              <defs>
                <clipPath id="clip0_58_2324">
                  <rect width="24" height="24" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
            <span class="btn-text leading-[19px]">Date:</span>
            <span class="btn-text leading-[19px]">12.12.2022</span>
          </div>
          <div class="flex mb-8 gap-2 items-center">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M3.5 6.002H20.5C20.5 6.002 23.5 6.002 23.5 9.002V19.002C23.5 19.002 23.5 22.002 20.5 22.002H3.5C3.5 22.002 0.5 22.002 0.5 19.002V9.002C0.5 9.002 0.5 6.002 3.5 6.002Z"
                stroke="#515151"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M8.5 6V4C8.50132 3.46997 8.71246 2.96203 9.08724 2.58724C9.46203 2.21246 9.96997 2.00132 10.5 2H13.5C14.0299 2.00158 14.5377 2.2128 14.9125 2.58753C15.2872 2.96227 15.4984 3.47005 15.5 4V6"
                stroke="#515151"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M12 11.002V10.002"
                stroke="#515151"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M13.4991 11H11.4661C11.1545 11.0002 10.8527 11.1088 10.6125 11.3072C10.3722 11.5056 10.2085 11.7814 10.1494 12.0873C10.0903 12.3932 10.1394 12.7102 10.2884 12.9838C10.4374 13.2574 10.677 13.4707 10.9661 13.587L13.0301 14.412C13.3198 14.5279 13.56 14.7411 13.7095 15.015C13.859 15.2888 13.9084 15.6062 13.8493 15.9126C13.7901 16.2189 13.626 16.4951 13.3852 16.6935C13.1445 16.892 12.8421 17.0004 12.5301 17H10.4991"
                stroke="#515151"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M12 18.002V17.002"
                stroke="#515151"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <span class="btn-text leading-[19px]">Price:</span>
            <span class="btn-text leading-[19px]">100 EUR</span>
          </div>
          <p class="mb-8">
            Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum, ac aliquet odio . Forem ipsum
            dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero
            et velit interdum, ac aliquet odio . Nunc vulputate libero et velit
            interdum, ac aliquet odio . Nunc vulputate libero et velit interdum,
            ac aliquet odio . Nunc vulputate libero et velit interdum, ac
            aliquet odio . Nunc vulputate libero et velit interdum, ac aliquet
            odio . Nunc vulputate libero et velit interdum, ac aliquet odio .
          </p>
          <a href="/account-full" class="btn dark full  btn-text">Open product</a>
        </div>
      </div>
    </div>
  </section>
</Layout>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="/assets/style/slider.css" />
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script is:inline src="/assets/js/main.js"></script>
