---
import Layout from "../layouts/Layout.astro";
import HomeHero from "../components/HomeHero.astro";
import Sponsors from "../components/Sponsors.astro";
import FollowUs from "../components/FollowUs.astro";
import ReviewsSlider from "../components/ReviewsSlider.astro";
import CoursesSlider from "../components/CoursesSlider.astro";
import ClassesSlider from "../components/ClassesSlider.astro";
import Subscribe from "../components/Subscribe.astro";
import RotationCircle from "../components/RotationCircle.astro";
---

<Layout title="Welcome to Astro." isHome={false}>
  <section class="bg-blue-800/10 md:pt-12 h-screen relative">
    <div class="container wrapper relative grid lg:grid-cols-2 h-full">
      <div class="md:py-0 relative z-30">
        <div
          class="max-w-[512px] flex flex-col justify-center md:justify-end lg:justify-center h-full md:pb-[5vh] lg:pb-0"
        >
          <h1 class="mb-4 text-white md:text-gray-800">PURCHASE 1</h1>
          <p class="mb-8 md:mb-16 text-white md:text-gray-800">
            Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
          </p>
          
          <RotationCircle />
        </div>
      </div>
    </div>
    <div
      class="hero-cover absolute right-0 top-0 md:top-[48px] bottom-0 md:h-1/2 lg:h-auto w-full lg:w-1/2 md:rounded-tl-[48px] overflow-hidden"
    >
      <img
        src="/assets/images/hero-2.png"
        class="relative w-full h-full object-cover"
      />
    </div>
  </section>
  <section>
    <div class="relative">
      <video
        id="video"
        playsinline=""
        loop=""
        controlslist="nodownload"
        poster="/assets/images/video-cover.png"
        src="https://c.stocksy.com/a/XhRK00/y0/4873047.mp4"
        class="w-full h-full object-cover z-10"
        muted=""></video>
      <button
        class="absolute w-12 h-12 lg:w-20 lg:h-20 md:w-[132px] md:h-[132px] rounded-full left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 hover:scale-105 transition-all duration-300"
        id="play_button"
        ><svg xmlns="http://www.w3.org/2000/svg" width="132" height="132" viewBox="0 0 132 132" fill="none" class="w-full h-full">
            <path d="M-0.000686646 65.999C-0.0219727 52.8531 3.90273 40.0034 11.2655 29.1129C18.4262 18.5056 28.5096 10.2028 40.2937 5.21036C50.4036 0.93165 61.4223 -0.753077 72.3488 0.309209C83.2753 1.3715 93.7632 5.14704 102.86 11.293C113.467 18.4537 121.77 28.5372 126.762 40.3213C131.041 50.4311 132.726 61.4499 131.663 72.3764C130.601 83.3029 126.825 93.7908 120.679 102.887C113.519 113.494 103.435 121.797 91.6512 126.79C81.5413 131.068 70.5226 132.753 59.5961 131.691C48.6696 130.628 38.1818 126.853 29.0854 120.707C18.4781 113.546 10.1752 103.463 5.18276 91.6788C1.74484 83.5548 -0.018158 74.8205 -0.000686646 65.999ZM81.197 66.5065L56.8377 51.7894V81.2236L81.197 66.5065Z" fill="#ABCFD1"/>
          </svg>
      </button>
    </div>
  </section>
  <section class="py-16 bg-blue-100">
    <div class="wrapper">
        <div class="max-w-[867px] mx-auto">
            <h4>Gorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim, metus nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum tellus elit sed risus. Maecenas eget condimentum velit, sit amet feugiat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent auctor purus luctus enim egestas, ac scelerisque ante pulvinar. Donec ut rhoncus ex. Suspendisse ac rhoncus nisl, eu tempor urna. Curabitur vel bibendum lorem. Morbi convallis convallis.</h4>
        </div>
    </div>
  </section>
  <section class="bg-blue-800/10 pb-28">
    <div class="container wrapper">
        <div class="grid md:grid-cols-2  lg:grid-cols-3 gap-4 pb-10">
            <img src="/assets/images/tip-1.png"/>
            <img src="/assets/images/tip-2.png"/>
            <img src="/assets/images/tip-3.png"/>
            <img src="/assets/images/tip-3.png"/>
            <img src="/assets/images/tip-4.png"/>
            <img src="/assets/images/tip-1.png"/>
            <img src="/assets/images/tip-2.png"/>
            <img src="/assets/images/tip-3.png"/>
            <img src="/assets/images/tip-4.png"/>
        </div>
        
    </div>
  </section>
</Layout>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="/assets/style/slider.css" />
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script is:inline src="/assets/js/main.js"></script>
