---
import Layout from "../layouts/Layout.astro";
import HomeHero from "../components/HomeHero.astro";
import Sponsors from "../components/Sponsors.astro";
import FollowUs from "../components/FollowUs.astro";
import ReviewsSlider from "../components/ReviewsSlider.astro";
import CoursesSlider from "../components/CoursesSlider.astro";
import ClassesSlider from "../components/ClassesSlider.astro";
import Subscribe from "../components/Subscribe.astro";
import Input from "../components/Input.astro";
import Select from "../components/Select.astro"
---

<Layout title="Get in touch | Game On" isHome={false} logoWhite={true}>
   <section class="bg-white  md:pt-12 relative">
    <div class="container wrapper pt-[144px] pb-[123px] relative z-20 grid items-center">
        <div class="max-w-[512px]">
            <h1 class="mb-4 text-white">Get in touch</h1>
            <p class="text-white">Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
        </div>
        <div class="absolute right-0 bottom-0 hidden md:block w-[176px] h-[212px]">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="101"
            height="141"
            viewBox="0 0 101 141"
            fill="none"
            class="absolute right-0 bottom-0 inView"
          >
            <path
              class="path-line"
              d="M 101 141 L 1 1"
              stroke="#fff"
              stroke-width="1"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="43"
            viewBox="0 0 27 43"
            fill="none"
            class="absolute top-[61px] left-[47px] inView fadeIn"
            data-delay="600"
          >
            <path
              d="M8.75201 0.891849C6.07511 1.56902 4.24089 2.5804 2.58512 4.26466C-0.189262 7.01902 -0.373034 8.85939 1.43023 16.2259C2.82758 21.9291 2.95404 24.8772 2.05901 30.8473C1.49451 34.5737 1.44929 35.7319 1.84112 36.9171C3.58102 42.1314 14.5926 44.3602 19.8749 40.5746C22.1274 38.9526 22.8985 36.8556 23.1445 31.7423C23.3081 27.8681 23.8958 23.5825 24.6493 20.8877C24.8298 20.284 24.4708 20.2148 20.5479 20.3303C18.2101 20.3991 15.5983 20.5957 14.8093 20.7386C13.2722 21.0631 13.1976 21.2248 12.7984 23.8295L12.6052 25.351L15.0224 25.2798C16.5281 25.2355 17.4046 25.3693 17.414 25.6881C17.4386 26.5251 16.3886 32.6194 16.0228 33.6673C15.5103 35.1184 13.7542 36.0876 11.4956 36.1541C9.91056 36.2008 9.34994 36.0179 8.5736 35.2429L7.63406 34.3132L8.55139 29.1004C9.63516 22.8057 9.54336 18.3406 8.31859 13.1111C7.45775 9.46654 7.45306 9.30711 8.13815 8.32957C9.54326 6.21389 13.2284 6.10539 15.7858 8.10441C17.1659 9.18071 17.7115 10.2018 18.3857 12.8945C18.6563 14.0035 18.6959 14.0023 22.0244 13.9043L25.3926 13.8052L25.3456 12.2109C25.287 10.2181 24.4778 8.32719 22.6231 5.94847C19.2424 1.58025 13.79 -0.413307 8.75201 0.891849Z"
              fill="#fff"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="42"
            viewBox="0 0 27 42"
            fill="none"
            class="absolute top-[52px] left-[74px] inView fadeIn"
            data-delay="1200"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.869038 18.9913C-0.066784 15.0848 -0.125956 10.406 0.722971 7.95129C1.87988 4.51098 6.64991 1.17472 11.6506 0.224321C14.9252 -0.37073 19.3569 0.251431 22.0752 1.69551C25.6571 3.61824 26.6855 6.18214 25.4431 10.2944C24.2646 14.0721 24.3013 16.8266 25.5489 22.6224C27.3214 30.8653 26.7205 34.9339 23.2949 37.8904C21.7648 39.2287 19.1025 40.3307 16.4135 41.0766L13.294 36.6445C17.0402 36.7829 18.7906 35.0705 19.1265 29.1556C19.3234 26.0773 19.1579 24.6695 18.3261 21.6947C17.4311 18.3772 17.3578 17.5257 17.6841 12.4233C18.0401 6.85709 18.0455 6.77276 17.0202 6.15676C14.4851 4.51268 9.56382 5.55285 8.3444 7.97298C7.16739 10.3958 7.18035 15.5199 8.40243 20.3826C9.54323 24.9889 9.7265 26.302 8.62271 30.0076L0.869038 18.9913Z"
              fill="#fff"></path>
          </svg>
        </div>      
    </div>
    <img src="/assets/images/contact.png" class=" absolute inset-0 z-10 w-full h-full object-cover"/>
   </section>
<section class="bg-white py-20">
    <div class="container wrapper grid md:grid-cols-2">
        <div>
            <p class="mb-10">Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            <h5 class="mb-2">002 010 66269735</h5>
            <h5 class="mb-10">002 010 66269735</h5>
            <div class="flex gap-6 items-center mb-6" >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                    <path d="M12.56 13.8018V20.5H9.52304V13.8018H7V11.0858H9.52304V10.0976C9.52304 6.42899 11.0357 4.5 14.2362 4.5C15.2174 4.5 15.4627 4.65976 16 4.78994V7.47633C15.3984 7.36982 15.2291 7.31065 14.6042 7.31065C13.8624 7.31065 13.4653 7.52367 13.1032 7.94379C12.7411 8.36391 12.56 9.09172 12.56 10.1331V11.0917H16V13.8077H13.5455L12.56 13.8018Z" fill="#373737"/>
                  </svg>
                  <p>@gameonkiteboarding</p>
            </div>
            <div class="flex gap-6 items-center" >
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                    <path d="M15.9914 18.5H4.00863C2.35277 18.5 1 17.1472 1 15.4914V3.50862C1 1.85277 2.35277 0.5 4.00863 0.5H15.9914C17.6472 0.5 19 1.85277 19 3.50862V15.4914C19 17.1546 17.6546 18.5 15.9914 18.5Z" stroke="#515151"/>
                    <path d="M6.73656 12.771C7.60884 13.6433 8.76941 14.1238 10.0039 14.1238C11.2384 14.1238 12.3916 13.6433 13.2713 12.771C14.1435 11.8988 14.624 10.7382 14.624 9.5037C14.624 8.2692 14.1435 7.10863 13.2713 6.23635C12.399 5.36407 11.2384 4.88358 10.0039 4.88358C8.76941 4.88358 7.60884 5.36407 6.73656 6.23635C5.86428 7.10863 5.38379 8.2692 5.38379 9.5037C5.38379 10.7382 5.86428 11.8988 6.73656 12.771Z" stroke="#515151"/>
                    <path d="M15.5248 4.73175C16.0147 4.73175 16.4119 4.33459 16.4119 3.84467C16.4119 3.35474 16.0147 2.95758 15.5248 2.95758C15.0349 2.95758 14.6377 3.35474 14.6377 3.84467C14.6377 4.33459 15.0349 4.73175 15.5248 4.73175Z" stroke="#515151"/>
                  </svg>
                  <p>@gameonkiteboarding</p>
            </div>
        </div>
        <form class="w-full max-w-[562px] md:ml-auto flex flex-col gap-8">
            <Input name="email" type="email" placeholder="Email"/>
            <Select name="temat" placeholder="Temat" />
            <div class="custom-textarea">
                <textarea placeholder="Treść wiadomości" name="message" rows="4"></textarea>
                <div class="textarea-cover"></div>
              </div>
            <button type="button" class="btn dark full btn-text w-full">Send</button>
        </form>
    </div>
</section>
 <FollowUs />
  <ReviewsSlider />
</Layout>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="/assets/style/slider.css" />
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="../js/main.js"></script>
