---
interface Props {
  title: string;
  isHome: boolean;
  textdark?: boolean;
  logoWhite?: boolean;
}
import "../styles/global.css";
import Input from "../components/Input.astro";
import Button from "../components/Button.astro";
const { title, isHome, textdark, logoWhite } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div class="grid md:grid-cols-2 h-screen">
      <div
        class="bg-blue-800 flex flex-col justify-center items-center text-white px-6"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="208"
          height="54"
          viewBox="0 0 208 54"
          fill="none"
        >
          <g clip-path="url(#clip0_56_1650)">
            <path
              d="M20.9359 46.0088V53.5974H19.6621V46.0088H20.9359ZM24.7469 46.0088L22.2045 49.6728L20.6791 51.5334L20.4379 50.2096L21.4916 48.6564L23.2057 46.0088H24.7469ZM23.3473 53.5974L21.413 50.0115L22.2884 49.1099L24.8517 53.5974H23.3473Z"
              fill="white"></path>
            <path
              d="M35.6942 46.0088V53.5974H34.4203V46.0088H35.6942Z"
              fill="white"></path>
            <path
              d="M48.5862 46.0088V53.5974H47.3176V46.0088H48.5862ZM50.531 46.0088V47.072H45.3938V46.0088H50.531Z"
              fill="white"></path>
            <path
              d="M64.5921 52.5393V53.5974H61.2791V52.5393H64.5921ZM61.6146 46.0088V53.5974H60.3408V46.0088H61.6146ZM64.1465 49.1672V50.2096H61.2791V49.1672H64.1465ZM64.5606 46.0088V47.072H61.2791V46.0088H64.5606Z"
              fill="white"></path>
            <path
              d="M76.9022 50.1783H75.3454L75.3401 49.2089H76.7188C76.932 49.2089 77.1137 49.1672 77.2639 49.0838C77.4142 49.0004 77.5278 48.8788 77.6047 48.719C77.6851 48.5592 77.7252 48.3663 77.7252 48.1405C77.7252 47.8903 77.6903 47.687 77.6204 47.5307C77.5505 47.3708 77.4404 47.2544 77.2902 47.1815C77.1434 47.1085 76.9547 47.072 76.724 47.072H75.7228V53.5974H74.449V46.0088H76.724C77.0805 46.0088 77.3985 46.0505 77.6781 46.1339C77.9611 46.2138 78.2005 46.3371 78.3962 46.5039C78.5919 46.6707 78.7405 46.8844 78.8418 47.145C78.9466 47.4021 78.9991 47.7079 78.9991 48.0623C78.9991 48.3715 78.9327 48.6564 78.7999 48.917C78.6671 49.1742 78.4696 49.3861 78.2075 49.5529C77.9489 49.7162 77.6274 49.8135 77.243 49.8448L76.9022 50.1783ZM76.8551 53.5974H74.926L75.5131 52.5393H76.8551C77.0822 52.5393 77.2692 52.4907 77.416 52.3934C77.5627 52.2961 77.6728 52.1606 77.7462 51.9869C77.8196 51.8131 77.8563 51.6099 77.8563 51.3771C77.8563 51.1339 77.8248 50.9219 77.7619 50.7412C77.699 50.5605 77.5977 50.4216 77.4579 50.3243C77.3181 50.227 77.1329 50.1783 76.9022 50.1783H75.6179L75.6284 49.2089H77.2692L77.5627 49.579C77.9297 49.5859 78.2285 49.6762 78.4591 49.85C78.6898 50.0202 78.8593 50.2409 78.9676 50.5119C79.076 50.7829 79.1301 51.073 79.1301 51.3823C79.1301 51.8653 79.0393 52.2718 78.8575 52.6019C78.6758 52.9285 78.4155 53.1769 78.0765 53.3472C77.741 53.514 77.3338 53.5974 76.8551 53.5974Z"
              fill="white"></path>
            <path
              d="M94.3863 49.1829V50.4754C94.3863 51.0105 94.3234 51.4796 94.1976 51.8826C94.0753 52.2857 93.8971 52.6227 93.6629 52.8938C93.4323 53.1613 93.1527 53.3628 92.8242 53.4983C92.4992 53.6338 92.1358 53.7016 91.7339 53.7016C91.3355 53.7016 90.972 53.6338 90.6435 53.4983C90.3185 53.3628 90.0372 53.1613 89.7996 52.8938C89.5654 52.6227 89.3837 52.2857 89.2544 51.8826C89.1286 51.4796 89.0657 51.0105 89.0657 50.4754V49.1829C89.0657 48.6408 89.1286 48.1665 89.2544 47.76C89.3802 47.35 89.5602 47.0077 89.7943 46.7332C90.032 46.4587 90.3133 46.252 90.6383 46.113C90.9668 45.974 91.3285 45.9045 91.7234 45.9045C92.1253 45.9045 92.4887 45.974 92.8137 46.113C93.1422 46.252 93.4236 46.4587 93.6577 46.7332C93.8918 47.0077 94.0718 47.35 94.1976 47.76C94.3234 48.1665 94.3863 48.6408 94.3863 49.1829ZM93.123 50.4754V49.1724C93.123 48.7867 93.0916 48.4567 93.0287 48.1822C92.9692 47.9042 92.8801 47.6783 92.7613 47.5046C92.6425 47.3274 92.4957 47.1971 92.321 47.1137C92.1497 47.0268 91.9505 46.9834 91.7234 46.9834C91.5032 46.9834 91.3058 47.0268 91.131 47.1137C90.9598 47.1971 90.813 47.3274 90.6907 47.5046C90.5719 47.6783 90.481 47.9042 90.4181 48.1822C90.3587 48.4567 90.329 48.7867 90.329 49.1724V50.4754C90.329 50.8541 90.3605 51.1808 90.4234 51.4553C90.4863 51.7263 90.5771 51.9487 90.6959 52.1224C90.8183 52.2926 90.9668 52.4195 91.1415 52.5029C91.3163 52.5862 91.5137 52.6279 91.7339 52.6279C91.9575 52.6279 92.1567 52.5862 92.3315 52.5029C92.5062 52.4195 92.6512 52.2926 92.7665 52.1224C92.8854 51.9487 92.9745 51.7263 93.0339 51.4553C93.0933 51.1808 93.123 50.8541 93.123 50.4754Z"
              fill="white"></path>
            <path
              d="M106.995 47.0512L105.15 53.5974H103.819L106.24 46.0088H107.069L106.995 47.0512ZM108.468 53.5974L106.618 47.0512L106.529 46.0088H107.373L109.805 53.5974H108.468ZM108.5 50.7777V51.8409H104.946V50.7777H108.5Z"
              fill="white"></path>
            <path
              d="M119.484 46.0088H121.79C122.293 46.0088 122.72 46.0956 123.069 46.2694C123.419 46.4431 123.684 46.7002 123.866 47.0407C124.051 47.3778 124.144 47.7965 124.144 48.2968C124.144 48.6756 124.086 49.0091 123.971 49.2975C123.859 49.5859 123.697 49.8291 123.483 50.0272C123.27 50.2218 123.013 50.3729 122.713 50.4806L122.341 50.6839H120.391L120.385 49.6207H121.759C122.007 49.6207 122.213 49.5668 122.377 49.4591C122.542 49.3514 122.664 49.202 122.744 49.0109C122.828 48.8198 122.87 48.6026 122.87 48.3594C122.87 48.0988 122.833 47.8729 122.76 47.6818C122.687 47.4872 122.571 47.3378 122.414 47.2336C122.257 47.1259 122.049 47.072 121.79 47.072H120.758V53.5974H119.484V46.0088ZM123.038 53.5974L121.586 50.1888L122.912 50.1835L124.401 53.5296V53.5974H123.038Z"
              fill="white"></path>
            <path
              d="M135.982 53.5974H134.656L134.667 52.5393H135.982C136.391 52.5393 136.718 52.4646 136.963 52.3152C137.207 52.1623 137.384 51.9295 137.492 51.6168C137.6 51.3041 137.655 50.9045 137.655 50.4181V49.1829C137.655 48.8076 137.623 48.4879 137.56 48.2239C137.501 47.9563 137.406 47.7391 137.277 47.5724C137.151 47.4021 136.985 47.277 136.779 47.1971C136.573 47.1137 136.325 47.072 136.035 47.072H134.63V46.0088H136.035C136.472 46.0088 136.867 46.0783 137.219 46.2173C137.572 46.3562 137.875 46.5612 138.126 46.8323C138.381 47.0998 138.577 47.4316 138.713 47.8277C138.85 48.2239 138.918 48.679 138.918 49.1933V50.4181C138.918 50.9323 138.85 51.3875 138.713 51.7836C138.577 52.1762 138.381 52.5081 138.126 52.7791C137.871 53.0466 137.564 53.2499 137.204 53.3889C136.844 53.5279 136.437 53.5974 135.982 53.5974ZM135.385 46.0088V53.5974H134.111V46.0088H135.385Z"
              fill="white"></path>
            <path
              d="M150.342 46.0088V53.5974H149.068V46.0088H150.342Z"
              fill="white"></path>
            <path
              d="M165.792 46.0088V53.5974H164.545L161.85 48.3437V53.5974H160.618V46.0088H161.85L164.566 51.2989V46.0088H165.792Z"
              fill="white"></path>
            <path
              d="M181.033 49.704V52.6957C180.939 52.8104 180.795 52.9476 180.603 53.1074C180.414 53.2638 180.159 53.4028 179.838 53.5244C179.52 53.6425 179.118 53.7016 178.632 53.7016C178.223 53.7016 177.849 53.6356 177.51 53.5035C177.175 53.3715 176.886 53.1717 176.645 52.9042C176.404 52.6366 176.219 52.3031 176.09 51.9035C175.96 51.5004 175.896 51.0244 175.896 50.4754V49.1255C175.896 48.5835 175.953 48.1109 176.069 47.7079C176.187 47.3048 176.36 46.9695 176.588 46.702C176.815 46.4309 177.091 46.2312 177.416 46.1026C177.741 45.9706 178.115 45.9045 178.538 45.9045C179.072 45.9045 179.518 45.9984 179.874 46.186C180.234 46.3701 180.509 46.6446 180.697 47.0095C180.89 47.3708 181.001 47.8121 181.033 48.3333H179.79C179.763 48.0136 179.701 47.7548 179.607 47.5567C179.516 47.3552 179.385 47.2058 179.214 47.1085C179.043 47.0112 178.822 46.9626 178.553 46.9626C178.309 46.9626 178.099 47.0043 177.924 47.0877C177.75 47.171 177.606 47.3013 177.494 47.4785C177.383 47.6523 177.301 47.8747 177.248 48.1457C177.196 48.4167 177.169 48.7398 177.169 49.1151V50.4754C177.169 50.8576 177.203 51.186 177.269 51.4605C177.335 51.735 177.432 51.9608 177.557 52.138C177.687 52.3118 177.846 52.4403 178.034 52.5237C178.223 52.6036 178.438 52.6436 178.679 52.6436C178.917 52.6436 179.106 52.6193 179.245 52.5706C179.385 52.522 179.493 52.4681 179.57 52.409C179.651 52.3465 179.715 52.2979 179.764 52.2631V50.6995H178.532V49.704H181.033Z"
              fill="white"></path>
            <path
              d="M26.508 0.14463C23.9015 0.716282 22.1 1.63092 20.4518 3.19344C17.692 5.74682 17.462 7.49988 18.9952 14.5884C20.1835 20.0762 20.2218 22.8964 19.1869 28.5748C18.5353 32.119 18.4586 33.2242 18.8036 34.3675C20.3368 39.3981 30.9159 41.8371 36.1289 38.3691C38.352 36.8828 39.1569 34.9011 39.5402 30.023C39.8086 26.3263 40.4985 22.2485 41.3034 19.6951C41.4951 19.1235 41.1501 19.0473 37.3554 19.0473C35.0939 19.0473 32.5641 19.1616 31.7975 19.2759C30.3027 19.5427 30.226 19.6951 29.766 22.1723L29.5361 23.6205H31.8742C33.3307 23.6205 34.174 23.7729 34.174 24.0778C34.174 24.8781 32.9858 30.6708 32.6025 31.6617C32.0658 33.0337 30.341 33.9102 28.1562 33.9102C26.623 33.9102 26.0863 33.7197 25.3581 32.9574L24.4765 32.0428L25.5114 27.0885C26.7379 21.1052 26.7763 16.8369 25.7414 11.8063C25.0131 8.3002 25.0131 8.14776 25.703 7.23311C27.1212 5.25139 30.686 5.25139 33.1008 7.23311C34.404 8.3002 34.9023 9.29106 35.4772 11.8825C35.7072 12.9496 35.7456 12.9496 38.9653 12.9496H42.2234V11.4252C42.2234 9.51972 41.4951 7.69044 39.7702 5.36572C36.6271 1.09739 31.4142 -0.960564 26.508 0.14463Z"
              fill="white"></path>
            <path
              d="M51.4998 4.26048C51.4614 9.06236 50.8865 10.8916 46.8618 19.0853C42.6072 27.7744 42.0705 29.5656 42.1472 35.7776C42.1472 38.3309 42.2622 40.5413 42.3388 40.6556C42.4538 40.7319 44.102 40.9224 46.0569 41.0368L49.5833 41.2654L49.4683 36.3492L49.3149 31.433L51.9981 31.5854C53.4929 31.6617 55.7928 31.8141 57.1343 31.9665L59.6258 32.1952L60.5457 34.4818C61.044 35.7394 61.5423 37.6831 61.6573 38.7883L61.8873 40.8081L64.992 40.6938L68.0968 40.5794L67.9818 38.4834C67.8284 35.7394 66.8319 32.8812 64.3021 28.1174C61.7723 23.3155 61.159 20.7622 60.8523 14.0929C60.6224 8.83369 60.1241 6.47087 58.5142 2.77419L57.5943 0.754349H54.5662H51.4998V4.26048ZM55.4094 16.0365C55.2561 18.3231 55.7161 23.5442 56.2527 24.8781C56.4444 25.4497 56.1761 25.5259 53.1863 25.5259C51.3848 25.5259 49.8899 25.3735 49.8899 25.1829C49.8899 23.811 54.7962 13.2545 55.2945 13.5593C55.4478 13.6356 55.5244 14.7789 55.4094 16.0365Z"
              fill="white"></path>
            <path
              d="M69.7828 1.5167C69.7828 1.63103 69.7828 2.85056 69.8211 4.26063C69.8594 6.08992 69.5145 8.3003 68.5945 11.6921C66.8697 18.3614 66.8313 23.087 68.4795 27.8127C69.6294 31.2045 70.0127 35.8158 69.3228 38.9409L69.0162 40.389H71.9293H74.8424L75.3406 39.1314C75.6473 38.4835 76.0689 36.6924 76.2989 35.2442C76.7972 32.3097 76.6055 31.0521 74.6124 23.6587C73.6541 20.0763 73.4625 18.4376 73.8841 16.837C74.0758 16.151 74.3441 16.5321 75.3406 18.933C75.9923 20.5718 77.2572 22.9346 78.1388 24.1922C79.9403 26.8599 82.2784 31.3188 82.6617 32.8432C82.8917 33.796 83.1217 33.9103 84.5399 33.9103C85.9198 33.9103 86.1881 33.7579 86.8397 32.6527C88.2579 30.1755 88.6796 28.3081 88.9862 23.2395C89.1779 20.0763 89.5228 17.5611 89.8678 16.7608L90.4428 15.4269L90.4811 16.7989C90.5194 17.5611 91.056 19.8858 91.746 21.9437C93.4325 27.2029 93.4708 31.1283 91.7843 36.0826L90.5961 39.6268H92.3976C93.3559 39.6268 94.8124 39.5125 95.579 39.3982C97.0356 39.1314 97.0356 39.1314 98.2238 35.4728C98.9521 33.2624 99.527 30.671 99.642 28.9179C99.7953 26.3645 99.642 25.488 98.5304 21.8675C96.8439 16.4559 96.7672 12.8354 98.2621 7.80487C98.8371 5.89937 99.412 3.72709 99.5653 2.92678L99.7953 1.5167H96.5756H93.3559L92.7426 2.73623C92.3976 3.42221 90.6344 6.05181 88.8329 8.56708C85.1915 13.6357 83.39 16.9132 83.0067 19.3904C82.7767 20.7242 82.6617 20.9148 82.2401 20.4955C81.2435 19.4666 79.8253 15.2745 78.867 10.4726C78.2921 7.72865 77.4871 4.64173 77.0655 3.53654L76.2606 1.55481L73.0408 1.44048C71.2776 1.36426 69.8211 1.40237 69.7828 1.5167Z"
              fill="white"></path>
            <path
              d="M140.924 1.63091C136.478 2.77421 132.376 6.05168 131.533 9.21482C130.881 11.5776 131.265 16.0746 132.453 19.6189C133.871 23.8872 134.063 26.8979 133.143 30.6708C132.453 33.4148 132.453 33.8721 132.951 35.0535C133.871 37.3401 136.401 38.7883 140.579 39.4362C144.144 39.9697 150.737 37.6831 153.573 34.8629C156.486 32.0047 156.793 28.308 154.723 20.9909C153.266 15.846 153.075 13.3688 153.918 9.9008C154.8 6.1279 153.726 3.8794 150.392 2.355C147.862 1.21169 143.837 0.906811 140.924 1.63091ZM146.099 6.66144C147.057 7.15688 147.057 7.23309 147.057 12.2636C147.057 16.875 147.172 17.6372 148.168 20.5716C149.088 23.2012 149.318 24.4589 149.318 27.2409C149.357 32.6144 147.862 34.4056 143.339 34.4437C141.576 34.4818 140.962 34.3294 140.272 33.6434C139.506 32.8431 139.467 32.6526 139.889 30.8614C140.694 27.3934 140.464 24.0778 139.161 19.9619C137.781 15.6554 137.474 11.0441 138.394 8.79561C139.352 6.54711 143.722 5.32759 146.099 6.66144Z"
              fill="white"></path>
            <path
              d="M102.938 2.54557C102.823 3.15533 102.286 5.13706 101.749 7.04257C101.213 8.90996 100.676 11.7682 100.561 13.3689C100.408 15.8841 100.561 16.8369 101.826 21.1433C103.551 26.9742 103.512 29.0702 101.673 34.7105C101.021 36.7304 100.484 38.5597 100.484 38.8264C100.484 39.4743 119.611 39.4362 119.803 38.7502C119.879 38.5215 120.186 37.3782 120.531 36.273L121.106 34.2913H114.667H108.189L108.994 32.0809C109.53 30.5565 109.76 28.9559 109.799 26.7455V23.6205H115.28C121.643 23.6205 121.451 23.811 119.918 19.6189L119.075 17.3323L113.325 17.1418L107.614 16.9512L107.269 15.4649C106.886 14.0167 107.307 10.5868 108.15 7.538L108.572 6.08981L115.127 6.01359L121.681 5.89926L122.179 4.18431C122.486 3.23155 122.716 2.24069 122.716 1.97392C122.716 1.63093 120.493 1.5166 112.942 1.5166H103.167L102.938 2.54557Z"
              fill="white"></path>
            <path
              d="M159.13 2.39313C159.13 2.88857 158.555 5.06084 157.903 7.27123C156.255 12.5685 156.217 16.2271 157.788 21.1433C158.478 23.3918 158.938 25.6784 159.015 27.8126C159.168 30.7471 159.053 31.433 157.826 35.0154C157.06 37.2258 156.485 39.017 156.562 39.0551C156.6 39.0932 158.133 39.2456 159.935 39.3981L163.269 39.6648L164.534 36.3111C166.297 31.6236 166.297 28.0794 164.573 22.2866C163.921 19.9619 163.346 17.561 163.346 16.9512L163.384 15.8079L164.036 17.1418C164.419 17.8658 166.067 20.686 167.716 23.3918C171.434 29.4513 172.354 31.5093 173.465 36.1587L174.347 39.8173L177.567 40.0459C179.33 40.1603 180.901 40.1603 181.055 40.0459C181.208 39.9316 181.63 38.7121 181.974 37.3401C182.779 34.177 182.511 30.9757 180.978 25.3354C179.445 19.7713 179.445 16.9893 181.016 11.7682C181.668 9.55783 182.281 6.4328 182.396 4.64163L182.626 1.5166H179.368H176.11L175.842 3.99376C175.727 5.32761 175.075 8.10965 174.423 10.1676C173.044 14.3978 172.852 18.5137 173.81 22.0198C174.615 25.0305 173.733 23.9254 171.242 18.9329C169.9 16.2271 168.827 13.407 168.329 11.2347C166.872 5.09895 166.297 2.85046 165.952 2.16447C165.684 1.63093 165.071 1.5166 162.388 1.5166C159.245 1.5166 159.13 1.55471 159.13 2.39313Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip0_56_1650">
              <rect
                width="206.997"
                height="53.5973"
                fill="white"
                transform="translate(0.501953)"></rect>
            </clipPath>
          </defs>
        </svg>
        <div class="flex gap-4 mt-14 mb-16 w-full justify-center">
          <a
            href="/login"
            class="flex justify-center btn btn-text items-center gap-[10px] px-4 md:pl-6 md:pr-8 py-[10px] bg-blue-200/30"
            ><svg
              width="27"
              height="11"
              viewBox="0 0 27 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20.0595 0.896068C20.0661 1.23889 19.9997 1.57918 19.8649 1.89283C19.7302 2.20649 19.5303 2.48608 19.2795 2.71202C18.7469 3.20435 18.05 3.4662 17.3342 3.4433C16.7142 3.41791 16.1054 3.26618 15.5432 2.99649C14.8856 2.71092 14.2453 2.38492 13.6258 2.02046C12.8916 1.60934 12.1158 1.28198 11.3124 1.04442C10.3647 0.746516 9.37905 0.595825 8.38805 0.597363C5.56752 0.597363 3.46636 1.48716 2.08462 3.26648C0.623295 5.30349 -0.108507 7.79696 0.013027 10.325H6.91144C6.90236 9.98113 6.96631 9.63938 7.0988 9.32349C7.23129 9.00761 7.42913 8.72532 7.67859 8.49606C8.22782 8.00338 8.94043 7.74675 9.66862 7.77977C10.4682 7.83159 11.2453 8.07304 11.9392 8.48482C12.8294 8.95472 13.847 9.42422 14.9919 9.89343C16.1435 10.3644 17.3724 10.6033 18.6118 10.5972C21.4323 10.5972 23.5335 9.71238 24.9152 7.94261C26.3772 5.91099 27.1092 3.42136 26.9868 0.897317L20.0595 0.896068Z"
                fill="white"></path>
            </svg>
            <span>Login</span></a
          >
          <a
            href="/sign-up"
            class="flex justify-center btn btn-text items-center gap-[10px] px-4 md:pl-6 md:pr-8 py-[10px] hover:bg-blue-200/30 transition-all duration-300 ease-linear group"
            ><svg
              width="27"
              height="11"
              viewBox="0 0 27 11"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="opacity-0 group-hover:opacity-100 transition-all duration-300 ease-linear"
            >
              <path
                d="M20.0595 0.896068C20.0661 1.23889 19.9997 1.57918 19.8649 1.89283C19.7302 2.20649 19.5303 2.48608 19.2795 2.71202C18.7469 3.20435 18.05 3.4662 17.3342 3.4433C16.7142 3.41791 16.1054 3.26618 15.5432 2.99649C14.8856 2.71092 14.2453 2.38492 13.6258 2.02046C12.8916 1.60934 12.1158 1.28198 11.3124 1.04442C10.3647 0.746516 9.37905 0.595825 8.38805 0.597363C5.56752 0.597363 3.46636 1.48716 2.08462 3.26648C0.623295 5.30349 -0.108507 7.79696 0.013027 10.325H6.91144C6.90236 9.98113 6.96631 9.63938 7.0988 9.32349C7.23129 9.00761 7.42913 8.72532 7.67859 8.49606C8.22782 8.00338 8.94043 7.74675 9.66862 7.77977C10.4682 7.83159 11.2453 8.07304 11.9392 8.48482C12.8294 8.95472 13.847 9.42422 14.9919 9.89343C16.1435 10.3644 17.3724 10.6033 18.6118 10.5972C21.4323 10.5972 23.5335 9.71238 24.9152 7.94261C26.3772 5.91099 27.1092 3.42136 26.9868 0.897317L20.0595 0.896068Z"
                fill="white"></path>
            </svg>
            <span>Sign Up</span></a
          >
        </div>
        <form class="max-w-[380px] mx-auto w-full">
          <div class="relative custom-input mb-6">
            <input
              id="mail"
              type="text"
              name="email"
              placeholder="E-mail"
              class="text-white placeholder:text-white border-white"
            />
          </div>
          <div class="relative custom-input mb-12">
            <input
              id="password"
              type="password"
              name="password"
              placeholder="Password"
              class="hide text-white placeholder:text-white border-white"
            />
            <button type="button" class="toggle-password">
              <svg
                class="close"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M23 7.34998C23 7.34998 19.5 14.35 12 14.35C4.5 14.35 1 7.34998 1 7.34998"
                  stroke="currentColor"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M1.375 12.5375L3.375 10.5375"
                  stroke="currentColor"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M7.62811 16.4L8.82811 13.9"
                  stroke="currentColor"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M22.625 12.5375L20.625 10.5375"
                  stroke="currentColor"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M16.3719 16.4L15.1719 13.9"
                  stroke="currentColor"
                  stroke-miterlimit="10"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
              <svg
                class="open"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="14"
                viewBox="0 0 24 14"
                fill="none"
              >
                <path
                  d="M12 10.5C13.933 10.5 15.5 8.933 15.5 7C15.5 5.067 13.933 3.5 12 3.5C10.067 3.5 8.5 5.067 8.5 7C8.5 8.933 10.067 10.5 12 10.5Z"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M23.38 6.67C22.21 5.35 17.56 0.5 12 0.5C6.44002 0.5 1.79002 5.35 0.620021 6.67C0.543642 6.76301 0.501892 6.87964 0.501892 7C0.501892 7.12036 0.543642 7.23699 0.620021 7.33C1.79002 8.65 6.44002 13.5 12 13.5C17.56 13.5 22.21 8.65 23.38 7.33C23.4564 7.23699 23.4981 7.12036 23.4981 7C23.4981 6.87964 23.4564 6.76301 23.38 6.67Z"
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
            </button>
          </div>
          <button
            onclick="location.href = '/account'"
            type="button"
            class="button secondary button--effect-1"
          >
            <span
              class="morph-shape"
              data-morph-active="M286,113c0,0-68.8-5-136-5c-78.2,0-137,5-137,5s5-15.802,5-50.5C18,33.999,13,12,13,12s59,5,137,5c85,0,136-5,136-5s-5,17.598-5,52C281,96.398,286,113,286,113z"
            >
              <svg
                width="100%"
                height="100%"
                viewBox="0 0 300 125"
                preserveAspectRatio="none"
              >
                <path
                  d="M286,113C286,113,217.2,113,150,113C71.8,113,13,113,13,113C13,113,13,97.19800000000001,13,62.5C13,33.999,13,12,13,12C13,12,72,12,150,12C235,12,286,12,286,12C286,12,286,29.598,286,64C286,96.398,286,113,286,113C286,113,286,113,286,113"
                ></path>
                <desc>Created with Snap</desc><defs></defs></svg
              >
            </span>
            <span class="button__text">Login</span></button
          >
        </form>
        <a href="/" class="flex gap-6 items-center cursor-pointer mt-16"
          ><span
            class="pl-[5px] py-[6px] pr-[7px] flex w-6 h-6 justify-center items-center bg-white rounded-full"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
            >
              <path
                d="M9.20289 0.250976L2.91639 5.81398C2.88987 5.83743 2.86864 5.86626 2.85409 5.89854C2.83955 5.93082 2.83203 5.96582 2.83203 6.00123C2.83203 6.03663 2.83955 6.07163 2.85409 6.10391C2.86864 6.13619 2.88987 6.16502 2.91639 6.18848L9.20289 11.751"
                stroke="#373737"
                stroke-width="1"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg></span
          ><p class="text-white">go back to home</p></a
        >
        <button class="button dark button--effect-1" style="
">
          <span
            class="morph-shape"
            data-morph-active="M286,113c0,0-68.8-5-136-5c-78.2,0-137,5-137,5s5-15.802,5-50.5C18,33.999,13,12,13,12s59,5,137,5c85,0,136-5,136-5s-5,17.598-5,52C281,96.398,286,113,286,113z"
          >
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 300 125"
              preserveAspectRatio="none"
            >
              <path
                d="M286,113C286,113,217.2,113,150,113C71.8,113,13,113,13,113C13,113,13,97.19800000000001,13,62.5C13,33.999,13,12,13,12C13,12,72,12,150,12C235,12,286,12,286,12C286,12,286,29.598,286,64C286,96.398,286,113,286,113C286,113,286,113,286,113"
              ></path>
              <desc>Created with Snap</desc><defs></defs></svg
            >
          </span>
          <span class="button__text">Hit me</span>
        </button>
        <Button  text="Login" type="button" color="primary-outlined"/>
      </div>
      <div class="hidden md:block relative">
        <img
          src="/assets/images/login-img.png"
          class="h-full w-full object-cover"
        />
        <svg
          class="absolute bottom-0 right-0"
          width="233"
          height="213"
          viewBox="0 0 233 213"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_58_4114)">
            <g clip-path="url(#clip1_58_4114)">
              <path
                d="M113.752 63.8918C111.075 64.569 109.241 65.5804 107.585 67.2647C104.811 70.019 104.627 71.8594 106.43 79.2259C107.828 84.9291 107.954 87.8772 107.059 93.8473C106.495 97.5737 106.45 98.7319 106.841 99.9171C108.581 105.131 119.593 107.36 124.875 103.575C127.128 101.953 127.899 99.8556 128.145 94.7423C128.308 90.8681 128.896 86.5825 129.65 83.8877C129.83 83.284 129.471 83.2148 125.548 83.3303C123.21 83.3991 120.599 83.5957 119.81 83.7386C118.272 84.0631 118.198 84.2248 117.799 86.8295L117.605 88.351L120.023 88.2798C121.528 88.2355 122.405 88.3693 122.414 88.6881C122.439 89.5251 121.389 95.6194 121.023 96.6673C120.511 98.1184 118.754 99.0876 116.496 99.1541C114.911 99.2008 114.35 99.0179 113.574 98.2429L112.634 97.3132L113.552 92.1004C114.635 85.8057 114.544 81.3406 113.319 76.1111C112.458 72.4665 112.453 72.3071 113.138 71.3296C114.544 69.2139 118.229 69.1054 120.786 71.1044C122.166 72.1807 122.712 73.2018 123.386 75.8945C123.657 77.0035 123.696 77.0023 127.025 76.9043L130.393 76.8052L130.346 75.2109C130.287 73.2181 129.478 71.3272 127.623 68.9485C124.243 64.5803 118.79 62.5867 113.752 63.8918Z"
                fill="#3D8F94"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M132.87 72.9913C131.934 69.0848 131.875 64.406 132.723 61.9513C133.88 58.511 138.65 55.1747 143.651 54.2243C146.926 53.6293 151.357 54.2514 154.076 55.6955C157.658 57.6182 158.686 60.1821 157.444 64.2944C156.265 68.0721 156.302 70.8266 157.549 76.6224C159.322 84.8653 158.721 88.9339 155.295 91.8904C153.765 93.2287 151.103 94.3307 148.414 95.0766L145.294 90.6445C149.041 90.7829 150.791 89.0705 151.127 83.1556C151.324 80.0773 151.158 78.6695 150.327 75.6947C149.432 72.3772 149.358 71.5257 149.685 66.4233C150.041 60.8571 150.046 60.7728 149.021 60.1568C146.486 58.5127 141.564 59.5528 140.345 61.973C139.168 64.3958 139.181 69.5199 140.403 74.3826C141.544 78.9889 141.727 80.302 140.623 84.0076L132.87 72.9913Z"
                fill="#3D8F94"></path>
              <path d="M133 73L282 286" stroke="#3D8F94" stroke-width="0.5"
              ></path>
              <path
                d="M128.167 6.03001C127.667 6.06421 127.167 5.95787 126.724 5.72301C126.309 5.4918 125.97 5.14422 125.749 4.72301C125.496 4.23047 125.359 3.68662 125.349 3.13304C125.311 2.57973 125.405 2.02525 125.622 1.515C125.813 1.0759 126.125 0.70026 126.522 0.431992C126.949 0.17429 127.433 0.0270438 127.932 0.00364712C128.43 -0.0197495 128.926 0.0814082 129.375 0.297959C129.775 0.54175 130.085 0.908387 130.259 1.343L129.859 1.57298C129.731 1.20068 129.479 0.883222 129.146 0.672959C128.878 0.514851 128.579 0.416024 128.27 0.383042C127.961 0.35006 127.648 0.383736 127.352 0.481797C127.057 0.579857 126.786 0.740013 126.558 0.951523C126.33 1.16303 126.149 1.42098 126.029 1.70799C125.85 2.15174 125.773 2.63036 125.804 3.10802C125.813 3.58596 125.923 4.05653 126.129 4.48802C126.304 4.85042 126.582 5.15265 126.929 5.35606C127.303 5.55817 127.728 5.64904 128.152 5.61803C128.442 5.61293 128.728 5.54753 128.991 5.42601C129.212 5.32436 129.408 5.17712 129.567 4.994C129.715 4.82133 129.826 4.62025 129.893 4.40306C129.96 4.18774 129.99 3.9624 129.98 3.73705L129.966 3.40904L127.981 3.494L127.963 3.07701L130.363 2.97704L130.485 5.83897L130.121 5.85497L130.05 4.58897L130.13 4.60204C130.017 5.00551 129.775 5.36068 129.44 5.61302C129.068 5.8785 128.624 6.02399 128.167 6.03001Z"
                fill="white"></path>
              <path
                d="M144.159 7.09303L143.694 7.02101L143.246 5.09401L140.485 4.66896L139.478 6.36903L139.013 6.29799L142.219 0.868053L142.736 0.948009L144.159 7.09303ZM140.705 4.29298L143.151 4.66896L142.408 1.34303L140.705 4.29298Z"
                fill="white"></path>
              <path
                d="M159.803 5.70099L157.762 11.187L157.362 11.039L158.883 6.94806L159.304 5.97003H159.296L155.396 10.312L155.013 10.17L154.903 4.33795H154.894L154.573 5.35394L153.052 9.44501L152.652 9.29596L154.693 3.80902L155.316 4.04095L155.425 8.81305L155.386 9.75494H155.396L155.97 9.02203L159.17 5.47198L159.803 5.70099Z"
                fill="white"></path>
              <path
                d="M166.257 15.478L169.366 10.5181L172.755 12.642L172.538 12.9871L169.525 11.1L168.325 13.015L170.707 14.508L170.485 14.8621L168.103 13.369L166.85 15.369L169.983 17.333L169.766 17.678L166.257 15.478Z"
                fill="white"></path>
              <path
                d="M182.507 20.342C182.883 20.6786 183.157 21.1132 183.299 21.597C183.424 22.0573 183.411 22.5441 183.261 22.997C183.071 23.5147 182.778 23.9885 182.4 24.39C182.022 24.7914 181.567 25.1122 181.061 25.333C180.618 25.5075 180.134 25.5486 179.668 25.451C179.183 25.3254 178.737 25.0791 178.372 24.7351C178.008 24.391 177.736 23.9603 177.582 23.483C177.455 23.0232 177.467 22.5361 177.616 22.083C177.807 21.5655 178.1 21.0919 178.478 20.6906C178.856 20.2893 179.311 19.9687 179.816 19.748C180.261 19.5721 180.748 19.5314 181.216 19.6309C181.704 19.7446 182.151 19.9907 182.507 20.342ZM182.226 20.642C181.93 20.3486 181.557 20.1459 181.149 20.0579C180.751 19.9825 180.34 20.0253 179.966 20.181C179.087 20.5785 178.401 21.3064 178.055 22.207C177.922 22.589 177.904 23.0016 178.002 23.394C178.123 23.7922 178.346 24.1519 178.649 24.4375C178.952 24.723 179.324 24.9245 179.728 25.022C180.125 25.0956 180.535 25.0517 180.907 24.896C181.786 24.4987 182.473 23.7706 182.818 22.8699C182.951 22.4889 182.97 22.0779 182.875 21.686C182.764 21.2816 182.539 20.918 182.225 20.639L182.226 20.642Z"
                fill="white"></path>
              <path
                d="M193.725 33.785L188.936 37.1531L188.619 36.703L190.592 31.52L190.959 30.7311L190.953 30.724L190.389 31.154L186.589 33.821L186.344 33.473L191.133 30.1061L191.455 30.563L189.484 35.733L189.115 36.5331L189.686 36.11L193.481 33.441L193.725 33.785Z"
                fill="white"></path>
              <path
                d="M197.361 55.313L203.017 53.8L203.551 55.8C203.723 56.2838 203.716 56.8128 203.532 57.2921C203.435 57.4834 203.296 57.6503 203.125 57.7803C202.954 57.9104 202.756 58.0002 202.545 58.043C202.247 58.1317 201.927 58.1169 201.638 58.001C201.346 57.8731 201.113 57.641 200.982 57.35H200.974C201.022 57.6954 200.945 58.0464 200.757 58.34C200.567 58.6222 200.278 58.8225 199.947 58.9011C199.737 58.9674 199.513 58.9823 199.296 58.9445C199.078 58.9068 198.872 58.8175 198.696 58.684C198.284 58.3283 198.002 57.8446 197.896 57.31L197.361 55.313ZM197.871 55.636L198.313 57.29C198.389 57.684 198.594 58.0414 198.896 58.305C199.035 58.3906 199.19 58.447 199.352 58.4706C199.514 58.4943 199.678 58.4847 199.836 58.4424C199.994 58.4002 200.141 58.3263 200.269 58.2252C200.398 58.124 200.504 57.9976 200.581 57.8539C200.708 57.4742 200.706 57.0634 200.575 56.685L200.132 55.0309L197.871 55.636ZM200.527 54.925L200.949 56.502C201.195 57.4213 201.687 57.7827 202.423 57.586C203.16 57.3893 203.405 56.8309 203.159 55.9109L202.737 54.335L200.527 54.925Z"
                fill="white"></path>
              <path
                d="M206.001 71.532L202.278 69.732L200.004 69.906L199.971 69.463L202.243 69.289L205.649 66.946L205.69 67.468L203.777 68.761L202.72 69.474L203.874 70.018L205.96 71.005L206.001 71.532Z"
                fill="white"></path>
              <path
                d="M201.447 93.492L197.304 94.9691L197.441 94.445L201.28 93.082L201.447 93.492ZM203.947 92.7141L198.282 91.236L198.394 90.808L204.058 92.285L203.947 92.7141ZM202.989 96.387L201.177 93.387L201.127 93.301L200.027 91.455L200.61 91.607L203.14 95.824L202.989 96.387Z"
                fill="white"></path>
              <path
                d="M192.311 107.226L192.511 106.802L194.485 106.929L195.685 104.407L194.345 102.951L194.545 102.527L198.819 107.162L198.593 107.635L192.311 107.226ZM195.99 104.726L194.924 106.96L198.324 107.207L195.99 104.726Z"
                fill="white"></path>
              <path
                d="M188.524 118.449L185.09 118.249L185.402 117.828L188.547 117.999L188.524 118.449ZM191.117 119.957C190.838 120.377 190.415 120.681 189.929 120.813C189.705 120.862 189.473 120.86 189.251 120.806C189.028 120.753 188.821 120.65 188.644 120.504C188.454 120.378 188.296 120.21 188.183 120.013C188.07 119.815 188.004 119.594 187.991 119.367C187.986 118.863 188.16 118.374 188.481 117.986L188.486 117.934L189.486 116.589L187.45 115.075L187.715 114.72L192.415 118.212L191.117 119.957ZM188.794 118.22C188.541 118.516 188.402 118.893 188.401 119.282C188.456 119.623 188.642 119.928 188.92 120.134C189.197 120.339 189.544 120.428 189.886 120.382C190.26 120.273 190.582 120.032 190.793 119.704L191.82 118.322L189.82 116.836L188.794 118.22Z"
                fill="white"></path>
              <path
                d="M181.293 130.828C180.927 131.175 180.472 131.413 179.978 131.514C179.51 131.601 179.026 131.548 178.588 131.362C178.088 131.129 177.64 130.798 177.271 130.388C176.902 129.978 176.62 129.497 176.442 128.975C176.306 128.518 176.306 128.032 176.442 127.575C176.608 127.101 176.89 126.677 177.263 126.342C177.637 126.007 178.088 125.771 178.577 125.657C179.045 125.569 179.53 125.62 179.969 125.806C180.469 126.039 180.917 126.371 181.286 126.781C181.655 127.191 181.937 127.672 182.115 128.194C182.252 128.651 182.252 129.137 182.115 129.594C181.961 130.074 181.677 130.501 181.293 130.828ZM181.02 130.528C181.337 130.257 181.569 129.901 181.69 129.502C181.798 129.112 181.79 128.699 181.666 128.314C181.343 127.405 180.674 126.66 179.804 126.242C179.434 126.078 179.024 126.026 178.625 126.092C178.218 126.18 177.842 126.373 177.533 126.651C177.223 126.929 176.992 127.283 176.861 127.678C176.755 128.068 176.765 128.48 176.889 128.864C177.213 129.773 177.882 130.518 178.751 130.936C179.12 131.1 179.528 131.153 179.927 131.09C180.338 131.01 180.717 130.814 181.02 130.525V130.528Z"
                fill="white"></path>
              <path
                d="M167.695 134.161L164.682 135.961L164.472 135.612L167.867 133.58L170.873 138.603L170.492 138.831L167.695 134.161Z"
                fill="white"></path>
              <path
                d="M158.18 144.966L156.045 139.516L156.457 139.354L158.593 144.804L158.18 144.966Z"
                fill="white"></path>
              <path
                d="M143.678 149.005L142.524 143.265L143.063 143.157L147.012 147.049L147.587 147.703H147.595L147.429 147.012L146.514 142.463L146.931 142.38L148.085 148.12L147.536 148.23L143.598 144.344L143.013 143.683L143.17 144.375L144.085 148.923L143.678 149.005Z"
                fill="white"></path>
              <path
                d="M128.563 144.18H129.035L129.772 146.015H132.567L133.301 144.178H133.771L131.437 150.035H130.912L128.563 144.18ZM132.406 146.42H129.932L131.177 149.595L132.406 146.42Z"
                fill="white"></path>
              <path
                d="M109.003 140.605L108.693 146.73L108.26 146.57L108.595 140.889L105.281 145.472L104.797 145.295L105.245 139.646L101.81 144.193L101.395 144.04L105.133 139.179L105.65 139.37L105.336 143.631L105.206 144.931H105.214L105.96 143.854L108.487 140.407L109.003 140.605Z"
                fill="white"></path>
              <path
                d="M92.1582 139.185L95.1772 134.169L95.5563 134.397L92.5372 139.413L92.1582 139.185Z"
                fill="white"></path>
              <path
                d="M80.0967 130.13L83.9457 125.719L84.3596 126.08L83.6797 131.58L83.5116 132.434L83.5187 132.441L83.9646 131.889L87.0137 128.389L87.3336 128.669L83.4856 133.081L83.0647 132.714L83.7467 127.223L83.9137 126.356L83.4607 126.903L80.4106 130.403L80.0967 130.13Z"
                fill="white"></path>
              <path
                d="M70.2061 118.92L73.6851 119.357L73.7852 119.371L75.9181 119.647L75.4381 120.011L70.5601 119.387L70.2061 118.92ZM72.498 121.947L77.165 118.414L77.4321 118.768L72.7651 122.302L72.498 121.947ZM73.4301 119.506L74.8361 115.337L75.1621 115.769L73.8561 119.628L73.4301 119.506Z"
                fill="white"></path>
              <path
                d="M63.8725 108.622C63.634 108.178 63.5248 107.676 63.5574 107.173C63.5985 106.699 63.7772 106.247 64.0715 105.873C64.4283 105.452 64.8665 105.107 65.3599 104.86C65.8533 104.613 66.3916 104.468 66.9424 104.434C67.4177 104.421 67.8863 104.548 68.2905 104.799C68.7035 105.084 69.0379 105.468 69.2627 105.917C69.4875 106.366 69.5955 106.864 69.5765 107.365C69.537 107.839 69.359 108.291 69.0645 108.665C68.708 109.086 68.2697 109.431 67.7763 109.678C67.2828 109.926 66.7443 110.071 66.1934 110.104C65.7165 110.116 65.2467 109.987 64.8425 109.734C64.4225 109.46 64.0867 109.075 63.8725 108.622ZM64.2375 108.439C64.4145 108.816 64.6964 109.135 65.0495 109.356C65.3969 109.563 65.7972 109.665 66.2015 109.648C67.1628 109.574 68.0567 109.126 68.6915 108.4C68.9477 108.086 69.1066 107.703 69.1485 107.3C69.171 106.884 69.0848 106.47 68.8984 106.098C68.7119 105.726 68.4318 105.409 68.0855 105.178C67.7376 104.973 67.3378 104.874 66.9345 104.892C65.9724 104.963 65.0775 105.412 64.4445 106.14C64.1888 106.453 64.0289 106.833 63.9844 107.234C63.9502 107.653 64.0381 108.073 64.2375 108.443V108.439Z"
                fill="white"></path>
              <path
                d="M64.4834 93.941L59.2515 97.141L59.1394 96.694L64.0194 93.7651L58.3654 93.615L58.2404 93.115L63.1564 90.297L57.4634 90.026L57.3555 89.596L63.4784 89.941L63.6124 90.474L59.9125 92.62L58.7625 93.247V93.256L60.0734 93.2651L64.3444 93.407L64.4834 93.941Z"
                fill="white"></path>
              <path
                d="M56.0023 77.853C55.9701 77.3796 56.0633 76.906 56.2723 76.48C56.4836 76.0918 56.8147 75.7825 57.2163 75.598L57.5164 75.9601C57.1516 76.1095 56.8464 76.3753 56.6483 76.7161C56.4685 77.0743 56.388 77.4741 56.4153 77.874C56.4194 78.1785 56.4877 78.4786 56.6154 78.755C56.7152 78.9722 56.8721 79.1582 57.0693 79.2931C57.2512 79.4125 57.4661 79.4712 57.6834 79.4611C57.808 79.4603 57.9312 79.4342 58.0454 79.3842C58.1596 79.3341 58.2623 79.2612 58.3473 79.17C58.5626 78.8801 58.6969 78.5381 58.7363 78.1791L58.9434 77.0181C58.9911 76.5711 59.161 76.1459 59.4343 75.7891C59.5482 75.668 59.6856 75.5715 59.8381 75.5056C59.9907 75.4397 60.1551 75.4058 60.3213 75.406C60.6279 75.3906 60.9308 75.4779 61.1823 75.6541C61.4461 75.8434 61.6536 76.1009 61.7824 76.399C61.9392 76.7576 62.0232 77.1437 62.0293 77.535C62.0489 77.9155 62.004 78.2965 61.8964 78.662C61.8056 78.9731 61.6498 79.2616 61.4393 79.5081C61.2386 79.7399 60.9847 79.9196 60.6993 80.032L60.3843 79.6531C60.6497 79.5666 60.8901 79.4166 61.0844 79.2161C61.2796 79.0084 61.4236 78.758 61.5053 78.485C61.5982 78.176 61.6376 77.8533 61.6213 77.531C61.6156 77.2299 61.5583 76.9319 61.4523 76.65C61.3678 76.4168 61.2203 76.2115 61.0262 76.057C60.8345 75.9167 60.5994 75.8487 60.3623 75.865C60.2451 75.8669 60.1295 75.8931 60.023 75.942C59.9164 75.9909 59.8212 76.0614 59.7433 76.149C59.5402 76.4239 59.417 76.7496 59.3873 77.0901L59.1653 78.3051C59.1154 78.6239 59.016 78.933 58.8704 79.2211C58.7635 79.4346 58.5994 79.6142 58.3964 79.74C58.1999 79.853 57.978 79.9147 57.7513 79.9191C57.4549 79.932 57.1618 79.8526 56.9124 79.692C56.6412 79.5147 56.4223 79.2682 56.2783 78.978C56.1027 78.6286 56.0083 78.244 56.0023 77.853Z"
                fill="white"></path>
              <path
                d="M56.7136 64.949L62.5006 65.839L62.4326 66.276L56.6455 65.387L56.7136 64.949ZM57.2896 61.1971L59.4005 63.997L59.4596 64.0771L60.7466 65.8L60.1466 65.709L57.1975 61.774L57.2896 61.1971ZM59.1156 63.918L63.0865 62.0251L63.0035 62.56L59.3246 64.31L59.1156 63.918Z"
                fill="white"></path>
              <path
                d="M66.8011 49.2911L66.6442 49.7341L64.6672 49.811L63.7292 52.4421L65.2112 53.753L65.0532 54.196L60.3252 50.024L60.5012 49.5311L66.8011 49.2911ZM63.4012 52.154L64.2322 49.824L60.8242 49.924L63.4012 52.154Z"
                fill="white"></path>
            </g>
          </g>
          <defs>
            <clipPath id="clip0_58_4114">
              <rect width="233" height="213" fill="white"></rect>
            </clipPath>
            <clipPath id="clip1_58_4114">
              <rect
                width="310.08"
                height="408.832"
                fill="white"
                transform="translate(56)"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    

    <script  src="../js/login.js"></script>
  </body>
</html>
