---
import Layout from "../layouts/Layout.astro";
import HomeHero from "../components/HomeHero.astro";
import Sponsors from "../components/Sponsors.astro";
import FollowUs from "../components/FollowUs.astro";
import ReviewsSlider from "../components/ReviewsSlider.astro";
import CoursesSlider from "../components/CoursesSlider.astro";
import ClassesSlider from "../components/ClassesSlider.astro";
import Subscribe from "../components/Subscribe.astro";
---

<Layout title="Welcome to Astro." isHome={false}>
  <section class="bg-blue-800/10 md:pt-12 h-screen relative">
    <div class="container wrapper relative grid lg:grid-cols-2 h-full">
      <div class="md:py-0 relative z-30">
        <div
          class="max-w-[512px] flex flex-col justify-center md:justify-end lg:justify-center h-full md:pb-[5vh] lg:pb-0"
        >
          <h1 class="mb-4 text-white md:text-gray-800">Product name</h1>
          <p class="mb-8 md:mb-16 text-white md:text-gray-800">
            Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum, ac aliquet odio mattis. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
          </p>
          <div class="flex
          gap-8 mb-8">
            <h5 class="text-white md:text-blue-800">Available</h5>
            <h5 class="text-white md:text-gray-800">13-14 august</h5>
          </div>
          <span class="btn-text mb-2 text-white md:text-gray-800">Time: 40 min</span>
          <span class="btn-text mb-8 text-white md:text-gray-800">Price: 100 EUR</span>
          <a class="btn dark full btn-text text-white">Pay deposit</a>
          <svg
            width="177"
            height="213"
            viewBox="0 0 177 213"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="absolute right-0 bottom-0 hidden md:block"
          >
            <g clip-path="url(#clip0_58_3935)">
              <path
                d="M57.752 63.8918C55.0751 64.569 53.2409 65.5804 51.5851 67.2647C48.8107 70.019 48.627 71.8594 50.4302 79.2259C51.8276 84.9291 51.954 87.8772 51.059 93.8473C50.4945 97.5737 50.4493 98.7319 50.8411 99.9171C52.581 105.131 63.5926 107.36 68.8749 103.575C71.1274 101.953 71.8985 99.8556 72.1445 94.7423C72.3081 90.8681 72.8958 86.5825 73.6493 83.8877C73.8298 83.284 73.4708 83.2148 69.5479 83.3303C67.2101 83.3991 64.5983 83.5957 63.8093 83.7386C62.2722 84.0631 62.1976 84.2248 61.7984 86.8295L61.6052 88.351L64.0224 88.2798C65.5281 88.2355 66.4046 88.3693 66.414 88.6881C66.4386 89.5251 65.3886 95.6194 65.0228 96.6673C64.5103 98.1184 62.7542 99.0876 60.4956 99.1541C58.9106 99.2008 58.3499 99.0179 57.5736 98.2429L56.6341 97.3132L57.5514 92.1004C58.6352 85.8057 58.5434 81.3406 57.3186 76.1111C56.4578 72.4665 56.4531 72.3071 57.1381 71.3296C58.5433 69.2139 62.2284 69.1054 64.7858 71.1044C66.1659 72.1807 66.7115 73.2018 67.3857 75.8945C67.6563 77.0035 67.6959 77.0023 71.0244 76.9043L74.3926 76.8052L74.3456 75.2109C74.287 73.2181 73.4778 71.3272 71.6231 68.9485C68.2424 64.5803 62.79 62.5867 57.752 63.8918Z"
                fill="#3D8F94"></path>
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M76.869 72.9913C75.9332 69.0848 75.874 64.406 76.723 61.9513C77.8799 58.511 82.6499 55.1747 87.6506 54.2243C90.9252 53.6293 95.3569 54.2514 98.0752 55.6955C101.657 57.6182 102.686 60.1821 101.443 64.2944C100.265 68.0721 100.301 70.8266 101.549 76.6224C103.321 84.8653 102.72 88.9339 99.2949 91.8904C97.7648 93.2287 95.1025 94.3307 92.4135 95.0766L89.294 90.6445C93.0402 90.7829 94.7906 89.0705 95.1265 83.1556C95.3234 80.0773 95.1579 78.6695 94.3261 75.6947C93.4311 72.3772 93.3578 71.5257 93.6841 66.4233C94.0401 60.8571 94.0455 60.7728 93.0202 60.1568C90.4851 58.5127 85.5638 59.5528 84.3444 61.973C83.1674 64.3958 83.1804 69.5199 84.4024 74.3826C85.5432 78.9889 85.7265 80.302 84.6227 84.0076L76.869 72.9913Z"
                fill="#3D8F94"></path>
              <path d="M77 73L226 286" stroke="#3D8F94" stroke-width="0.5"
              ></path>
              <path
                d="M72.167 6.03001C71.6668 6.06421 71.167 5.95787 70.724 5.72301C70.3085 5.4918 69.9697 5.14422 69.7491 4.72301C69.4961 4.23047 69.3593 3.68662 69.349 3.13304C69.3111 2.57973 69.4048 2.02525 69.6221 1.515C69.8132 1.0759 70.1254 0.70026 70.5221 0.431992C70.9491 0.17429 71.4334 0.0270438 71.9315 0.00364712C72.4297 -0.0197495 72.9258 0.0814082 73.375 0.297959C73.7748 0.54175 74.0849 0.908387 74.2591 1.343L73.859 1.57298C73.7305 1.20068 73.4791 0.883222 73.146 0.672959C72.878 0.514851 72.5793 0.416024 72.2699 0.383042C71.9605 0.35006 71.6475 0.383736 71.3522 0.481797C71.0569 0.579857 70.786 0.740013 70.5578 0.951523C70.3295 1.16303 70.1493 1.42098 70.0291 1.70799C69.8495 2.15174 69.7726 2.63036 69.8041 3.10802C69.8126 3.58596 69.9234 4.05653 70.1291 4.48802C70.3036 4.85042 70.5821 5.15265 70.9291 5.35606C71.3035 5.55817 71.7277 5.64904 72.152 5.61803C72.442 5.61293 72.7278 5.54753 72.9911 5.42601C73.2115 5.32436 73.4078 5.17712 73.567 4.994C73.7149 4.82133 73.8259 4.62025 73.8931 4.40306C73.9603 4.18774 73.9896 3.9624 73.98 3.73705L73.9661 3.40904L71.9811 3.494L71.963 3.07701L74.3631 2.97704L74.485 5.83897L74.1211 5.85497L74.0501 4.58897L74.13 4.60204C74.017 5.00551 73.7746 5.36068 73.4401 5.61302C73.0682 5.8785 72.6239 6.02399 72.167 6.03001Z"
                fill="#3D8F94"></path>
              <path
                d="M88.1581 7.09303L87.693 7.02101L87.245 5.09401L84.484 4.66896L83.4771 6.36903L83.012 6.29799L86.218 0.868053L86.735 0.948009L88.1581 7.09303ZM84.704 4.29298L87.15 4.66896L86.407 1.34303L84.704 4.29298Z"
                fill="#3D8F94"></path>
              <path
                d="M103.803 5.70099L101.762 11.187L101.362 11.039L102.883 6.94806L103.304 5.97003H103.296L99.396 10.312L99.0131 10.17L98.903 4.33795H98.894L98.573 5.35394L97.052 9.44501L96.652 9.29596L98.693 3.80902L99.316 4.04095L99.425 8.81305L99.386 9.75494H99.396L99.97 9.02203L103.17 5.47198L103.803 5.70099Z"
                fill="#3D8F94"></path>
              <path
                d="M110.257 15.478L113.366 10.5181L116.755 12.642L116.538 12.9871L113.525 11.1L112.325 13.015L114.707 14.508L114.485 14.8621L112.103 13.369L110.85 15.369L113.983 17.333L113.766 17.678L110.257 15.478Z"
                fill="#3D8F94"></path>
              <path
                d="M126.507 20.342C126.883 20.6786 127.157 21.1132 127.299 21.597C127.424 22.0573 127.41 22.5441 127.261 22.997C127.071 23.5147 126.778 23.9885 126.4 24.39C126.022 24.7914 125.566 25.1122 125.061 25.333C124.618 25.5075 124.134 25.5486 123.668 25.451C123.183 25.3254 122.737 25.0791 122.372 24.7351C122.008 24.391 121.736 23.9603 121.582 23.483C121.455 23.0232 121.467 22.5361 121.616 22.083C121.806 21.5655 122.099 21.0919 122.477 20.6906C122.856 20.2893 123.311 19.9687 123.816 19.748C124.261 19.5721 124.748 19.5314 125.216 19.6309C125.704 19.7446 126.15 19.9907 126.507 20.342ZM126.226 20.642C125.93 20.3486 125.556 20.1459 125.149 20.0579C124.751 19.9825 124.34 20.0253 123.966 20.181C123.087 20.5785 122.401 21.3064 122.055 22.207C121.922 22.589 121.904 23.0016 122.002 23.394C122.123 23.7922 122.346 24.1519 122.649 24.4375C122.951 24.723 123.323 24.9245 123.728 25.022C124.125 25.0956 124.535 25.0517 124.907 24.896C125.786 24.4987 126.473 23.7706 126.818 22.8699C126.95 22.4889 126.97 22.0779 126.875 21.686C126.764 21.2816 126.538 20.918 126.225 20.639L126.226 20.642Z"
                fill="#3D8F94"></path>
              <path
                d="M137.724 33.785L132.935 37.1531L132.618 36.703L134.591 31.52L134.958 30.7311L134.952 30.724L134.388 31.154L130.588 33.821L130.343 33.473L135.132 30.1061L135.454 30.563L133.483 35.733L133.114 36.5331L133.685 36.11L137.48 33.441L137.724 33.785Z"
                fill="#3D8F94"></path>
              <path
                d="M141.361 55.313L147.017 53.8L147.551 55.8C147.722 56.2838 147.716 56.8128 147.532 57.2921C147.435 57.4834 147.295 57.6503 147.124 57.7803C146.953 57.9104 146.755 58.0002 146.545 58.043C146.247 58.1317 145.927 58.1169 145.638 58.001C145.346 57.8731 145.112 57.641 144.982 57.35H144.974C145.022 57.6954 144.945 58.0464 144.757 58.34C144.567 58.6222 144.278 58.8225 143.947 58.9011C143.736 58.9674 143.513 58.9823 143.295 58.9445C143.078 58.9068 142.872 58.8175 142.696 58.684C142.283 58.3283 142.002 57.8446 141.896 57.31L141.361 55.313ZM141.871 55.636L142.313 57.29C142.388 57.684 142.594 58.0414 142.896 58.305C143.035 58.3906 143.19 58.447 143.352 58.4706C143.513 58.4943 143.678 58.4847 143.836 58.4424C143.993 58.4002 144.141 58.3263 144.269 58.2252C144.397 58.124 144.503 57.9976 144.581 57.8539C144.708 57.4742 144.706 57.0634 144.575 56.685L144.132 55.0309L141.871 55.636ZM144.527 54.925L144.949 56.502C145.195 57.4213 145.686 57.7827 146.423 57.586C147.16 57.3893 147.405 56.8309 147.159 55.9109L146.737 54.335L144.527 54.925Z"
                fill="#3D8F94"></path>
              <path
                d="M150 71.532L146.277 69.732L144.003 69.906L143.97 69.463L146.242 69.289L149.648 66.946L149.689 67.468L147.776 68.761L146.719 69.474L147.873 70.018L149.959 71.005L150 71.532Z"
                fill="#3D8F94"></path>
              <path
                d="M145.446 93.492L141.303 94.9691L141.44 94.445L145.279 93.082L145.446 93.492ZM147.946 92.7141L142.281 91.236L142.393 90.808L148.057 92.285L147.946 92.7141ZM146.988 96.387L145.176 93.387L145.126 93.301L144.026 91.455L144.609 91.607L147.139 95.824L146.988 96.387Z"
                fill="#3D8F94"></path>
              <path
                d="M136.31 107.226L136.51 106.802L138.484 106.929L139.684 104.407L138.344 102.951L138.544 102.527L142.818 107.162L142.592 107.635L136.31 107.226ZM139.989 104.726L138.923 106.96L142.323 107.207L139.989 104.726Z"
                fill="#3D8F94"></path>
              <path
                d="M132.524 118.449L129.09 118.249L129.402 117.828L132.547 117.999L132.524 118.449ZM135.117 119.957C134.838 120.377 134.416 120.681 133.929 120.813C133.705 120.862 133.474 120.86 133.251 120.806C133.028 120.753 132.821 120.65 132.644 120.504C132.454 120.378 132.297 120.21 132.183 120.013C132.07 119.815 132.004 119.594 131.991 119.367C131.987 118.863 132.16 118.374 132.481 117.986L132.486 117.934L133.486 116.589L131.45 115.075L131.715 114.72L136.415 118.212L135.117 119.957ZM132.794 118.22C132.541 118.516 132.402 118.893 132.401 119.282C132.456 119.623 132.643 119.928 132.92 120.134C133.197 120.339 133.544 120.428 133.886 120.382C134.26 120.273 134.582 120.032 134.793 119.704L135.82 118.322L133.82 116.836L132.794 118.22Z"
                fill="#3D8F94"></path>
              <path
                d="M125.293 130.828C124.927 131.175 124.472 131.413 123.978 131.514C123.51 131.601 123.026 131.548 122.588 131.362C122.088 131.129 121.64 130.798 121.271 130.388C120.902 129.978 120.62 129.497 120.442 128.975C120.306 128.518 120.306 128.032 120.442 127.575C120.608 127.101 120.89 126.677 121.264 126.342C121.637 126.007 122.089 125.771 122.577 125.657C123.046 125.569 123.53 125.62 123.969 125.806C124.469 126.039 124.917 126.371 125.286 126.781C125.655 127.191 125.937 127.672 126.115 128.194C126.252 128.651 126.252 129.137 126.115 129.594C125.962 130.074 125.677 130.501 125.293 130.828ZM125.02 130.528C125.337 130.257 125.569 129.901 125.69 129.502C125.799 129.112 125.79 128.699 125.666 128.314C125.343 127.405 124.674 126.66 123.804 126.242C123.434 126.078 123.024 126.026 122.625 126.092C122.218 126.18 121.842 126.373 121.533 126.651C121.223 126.929 120.992 127.283 120.861 127.678C120.755 128.068 120.765 128.48 120.889 128.864C121.213 129.773 121.882 130.518 122.751 130.936C123.12 131.1 123.528 131.153 123.927 131.09C124.338 131.01 124.717 130.814 125.02 130.525V130.528Z"
                fill="#3D8F94"></path>
              <path
                d="M111.694 134.161L108.681 135.961L108.471 135.612L111.866 133.58L114.872 138.603L114.491 138.831L111.694 134.161Z"
                fill="#3D8F94"></path>
              <path
                d="M102.18 144.966L100.045 139.516L100.457 139.354L102.593 144.804L102.18 144.966Z"
                fill="#3D8F94"></path>
              <path
                d="M87.6781 149.005L86.524 143.265L87.0631 143.157L91.0121 147.049L91.587 147.703H91.5951L91.4291 147.012L90.514 142.463L90.931 142.38L92.0851 148.12L91.536 148.23L87.598 144.344L87.0131 143.683L87.17 144.375L88.0851 148.923L87.6781 149.005Z"
                fill="#3D8F94"></path>
              <path
                d="M72.563 144.18H73.0341L73.772 146.015H76.566L77.3 144.178H77.771L75.436 150.035H74.912L72.563 144.18ZM76.406 146.42H73.932L75.177 149.595L76.406 146.42Z"
                fill="#3D8F94"></path>
              <path
                d="M53.0031 140.605L52.6931 146.73L52.2601 146.57L52.5951 140.889L49.2802 145.472L48.7971 145.295L49.2451 139.646L45.8101 144.193L45.3942 144.04L49.1331 139.179L49.6492 139.37L49.3361 143.631L49.2061 144.931H49.2141L49.9601 143.854L52.4871 140.407L53.0031 140.605Z"
                fill="#3D8F94"></path>
              <path
                d="M36.158 139.185L39.177 134.169L39.556 134.397L36.537 139.413L36.158 139.185Z"
                fill="#3D8F94"></path>
              <path
                d="M24.0961 130.13L27.9451 125.719L28.359 126.08L27.6791 131.58L27.511 132.434L27.5181 132.441L27.964 131.889L31.0131 128.389L31.333 128.669L27.485 133.081L27.0641 132.714L27.7461 127.223L27.9131 126.356L27.4601 126.903L24.41 130.403L24.0961 130.13Z"
                fill="#3D8F94"></path>
              <path
                d="M14.2061 118.92L17.6851 119.357L17.7852 119.371L19.9181 119.647L19.4381 120.011L14.5601 119.387L14.2061 118.92ZM16.498 121.947L21.165 118.414L21.4321 118.768L16.7651 122.302L16.498 121.947ZM17.4301 119.506L18.8361 115.337L19.1621 115.769L17.8561 119.628L17.4301 119.506Z"
                fill="#3D8F94"></path>
              <path
                d="M7.87212 108.622C7.63359 108.178 7.52439 107.676 7.55705 107.173C7.5981 106.699 7.77679 106.247 8.07109 105.873C8.42794 105.452 8.86617 105.107 9.35954 104.86C9.85292 104.613 10.3912 104.468 10.9421 104.434C11.4174 104.421 11.886 104.548 12.2901 104.799C12.7031 105.084 13.0376 105.468 13.2624 105.917C13.4872 106.366 13.5951 106.864 13.5761 107.365C13.5367 107.839 13.3586 108.291 13.0641 108.665C12.7076 109.086 12.2694 109.431 11.7759 109.678C11.2825 109.926 10.744 110.071 10.193 110.104C9.71616 110.116 9.24636 109.987 8.84209 109.734C8.42208 109.46 8.08632 109.075 7.87212 108.622ZM8.23711 108.439C8.4141 108.816 8.69601 109.135 9.04912 109.356C9.3965 109.563 9.79686 109.665 10.2011 109.648C11.1624 109.574 12.0563 109.126 12.6911 108.4C12.9473 108.086 13.1062 107.703 13.1481 107.3C13.1707 106.884 13.0844 106.47 12.898 106.098C12.7116 105.726 12.4315 105.409 12.0851 105.178C11.7373 104.973 11.3374 104.874 10.9341 104.892C9.97203 104.963 9.07709 105.412 8.44414 106.14C8.18841 106.453 8.02857 106.833 7.98405 107.234C7.94984 107.653 8.03776 108.073 8.23711 108.443V108.439Z"
                fill="#3D8F94"></path>
              <path
                d="M8.48303 93.941L3.2511 97.141L3.13904 96.694L8.01904 93.7651L2.36499 93.615L2.23999 93.115L7.15601 90.297L1.46301 90.026L1.3551 89.596L7.47803 89.941L7.61206 90.474L3.91211 92.62L2.76208 93.247V93.256L4.073 93.2651L8.34399 93.407L8.48303 93.941Z"
                fill="#3D8F94"></path>
              <path
                d="M0.00207996 77.853C-0.0301391 77.3796 0.063008 76.906 0.272099 76.48C0.483365 76.0918 0.814485 75.7825 1.21607 75.598L1.51612 75.9601C1.15136 76.1095 0.846166 76.3753 0.648076 76.7161C0.468248 77.0743 0.387754 77.4741 0.415044 77.874C0.419195 78.1785 0.48741 78.4786 0.615117 78.755C0.714916 78.9722 0.871818 79.1582 1.0691 79.2931C1.25092 79.4125 1.46585 79.4712 1.68311 79.4611C1.80777 79.4603 1.93099 79.4342 2.04517 79.3842C2.15935 79.3341 2.26203 79.2612 2.34705 79.17C2.5624 78.8801 2.6967 78.5381 2.73609 78.1791L2.94312 77.0181C2.99089 76.5711 3.16073 76.1459 3.43409 75.7891C3.54792 75.668 3.68534 75.5715 3.8379 75.5056C3.99045 75.4397 4.15488 75.4058 4.32105 75.406C4.62765 75.3906 4.93058 75.4779 5.18201 75.6541C5.44582 75.8434 5.65331 76.1009 5.78211 76.399C5.939 76.7576 6.02292 77.1437 6.02906 77.535C6.04863 77.9155 6.00373 78.2965 5.89612 78.662C5.80535 78.9731 5.64955 79.2616 5.43909 79.5081C5.23833 79.7399 4.98444 79.9196 4.6991 80.032L4.38404 79.6531C4.64948 79.5666 4.88985 79.4166 5.08411 79.2161C5.27931 79.0084 5.42335 78.758 5.50501 78.485C5.598 78.176 5.63732 77.8533 5.6211 77.531C5.61532 77.2299 5.5581 76.9319 5.45203 76.65C5.36752 76.4168 5.22005 76.2115 5.02601 76.057C4.83422 75.9167 4.59911 75.8487 4.36207 75.865C4.24484 75.8669 4.12927 75.8931 4.02271 75.942C3.91615 75.9909 3.82091 76.0614 3.74305 76.149C3.53991 76.4239 3.41675 76.7496 3.38709 77.0901L3.16504 78.3051C3.1152 78.6239 3.01574 78.933 2.87012 79.2211C2.76321 79.4346 2.59912 79.6142 2.39612 79.74C2.19963 79.853 1.97775 79.9147 1.7511 79.9191C1.45469 79.932 1.16159 79.8526 0.912114 79.692C0.64097 79.5147 0.422062 79.2682 0.278081 78.978C0.102425 78.6286 0.00807009 78.244 0.00207996 77.853Z"
                fill="#3D8F94"></path>
              <path
                d="M0.713135 64.949L6.50012 65.839L6.43213 66.276L0.64502 65.387L0.713135 64.949ZM1.28906 61.1971L3.40002 63.997L3.45911 64.0771L4.74609 65.8L4.14612 65.709L1.19702 61.774L1.28906 61.1971ZM3.11511 63.918L7.08606 62.0251L7.00305 62.56L3.3241 64.31L3.11511 63.918Z"
                fill="#3D8F94"></path>
              <path
                d="M10.801 49.2911L10.644 49.7341L8.66711 49.811L7.72913 52.4421L9.21106 53.753L9.0531 54.196L4.32507 50.024L4.5011 49.5311L10.801 49.2911ZM7.40112 52.154L8.23206 49.824L4.8241 49.924L7.40112 52.154Z"
                fill="#3D8F94"></path>
            </g>
            <defs>
              <clipPath id="clip0_58_3935">
                <rect width="310.08" height="408.832" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
    </div>
    <div
      class="hero-cover absolute right-0 top-0 md:top-[48px] bottom-0 md:h-1/2 lg:h-auto w-full lg:w-1/2 md:rounded-tl-[48px] overflow-hidden"
    >
      <img
        src="/assets/images/hero-2.png"
        class="relative w-full h-full object-cover"
      />
    </div>
  </section>
  <section class="pt-16 pb-24">
    <div class="wrapper container">
        <div class="text-center text-black mb-12 max-w-[868px] mx-auto">
            <h2 class="h1 uppercase mb-4">LiVe classes</h2>
            <h4>
                We want to motivate you, give you inspiration, and help during the learning process, we don’t want to see stuck on the trick a milion times over! We want to challenge youand give you different tasks that will make you a more diverse and stylish rider.
            </h4>
          </div>
        <div>
            <div class="grid gap-8 md:gap-4 md:grid-cols-2 mb-14">
                <img src="/assets/images/product-1.png" />
                <div class="pl-14">
                    <h3 class="mb-4">What is included</h3>
                    <ul class="list-disc pl-5 ">
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                    </ul>
                </div>
            </div>
            <div class="grid gap-8 md:gap-4 md:grid-cols-2 mb-14">
                <div class="px-8 py-10 bg-blue-300/30">
                    <h3 class="mb-4">Daily schedule</h3>
                    <ul class="list-disc pl-5 ">
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                    </ul>
                </div>
                <div class="px-8 py-10 bg-blue-300/30">
                    <h3 class="mb-4">Where to stay</h3>
                    <ul class="list-disc pl-5 ">
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                    </ul>
                </div>

            </div>
            <div class="grid gap-8 md:gap-4 md:grid-cols-2">
                <img src="/assets/images/product-1.png" />
                <div class="pl-14">
                    <h3 class="mb-4">What is included</h3>
                    <ul class="list-disc pl-5 ">
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                        <li>Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio .</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
  </section>
  <section class="py-20 bg-gray-100">
    <div class="wrapper">
        <div class="max-w-[868px] mx-auto grid justify-center text-center">
            <h2 class="h1 mb-8">AvailABILITY</h2>
            <div class="flex justify-center
            gap-8 mb-8">
              <h5 class="text-blue-800">Available</h5>
              <h5 class="text-gray-800">13-14 august</h5>
            </div>
            <span class="btn-text mb-2 text-gray-800">Time: 40 min</span>
            <span class="btn-text mb-8 text-gray-800">Price: 100 EUR</span>
            <div class="flex flex-wrap gap-8">
                <a class="btn dark outlined bt-text min-w-[264px]">All about the camp</a>
                <a class="btn dark full btn-text text-white min-w-[264px]">Pay deposit</a>
            </div>
            
        </div>
    </div>
  </section>
  <section class="py-20 bg-white">
    <div class="wrapper container">
        <ul class="flex mb-4 gap-4 w-full flex-wrap md:flex-nowrap">
            <li class="flex-grow"><img src="/assets/images/product-galery-1.png" class="object-cover max-h-full min-w-full"/></li>
            <li class="flex-grow">  <img src="/assets/images/product-galery-2.png" class="object-cover max-h-full min-w-full"/></li>
          
        </ul>
        <div class="grid md:grid-cols-3 gap-4">
            <img src="/assets/images/product-galery-3.png" class="row-span-2 "/>
            <img src="/assets/images/product-galery-4.png"/>
            <img src="/assets/images/product-galery-5.png"/>
            <img src="/assets/images/product-galery-6.png"/>
            <img src="/assets/images/product-galery-5.png"/>
        </div>
    </div>
  </section>
  <section class="bg-white py-20">
    <div class="wrapper">
        <div class="max-w-[868px] mx-auto">
            <h2 class="h1 uppercase mb-4 text-center">OUR team</h2>
            <h4 class="text-center mb-20">Vorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis.</h4>
        <div class="mb-16 grid md:grid-cols-2 gap-32 md:gap-40">
            <div class="text-center">
                <img src="/assets/images/team-1.png"  class="mb-12 mx-auto"/>
                <h5 class="mb-4">Karolina Winkowska</h5>
                <h5 class="text-blue-800">@karolinawinkowska</h5>
            </div>
            <div class="text-center">
                <img src="/assets/images/team-2.png"  class="mb-12 mx-auto"/>
                <h5 class="mb-4">Aleksander Lewis-Hughes</h5>
                <h5 class="text-blue-800">@le_tranq</h5>
            </div>
        </div>
            <a class="btn dark full btn-text mx-auto">Get to Know us</a>
        </div>
    </div>

  </section>
  <ReviewsSlider />
</Layout>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="/assets/style/slider.css" />
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script is:inline src="/assets/js/main.js"></script>
