---
import Layout from "../layouts/Layout.astro";
import HomeHero from "../components/HomeHero.astro";
import Sponsors from "../components/Sponsors.astro";
import FollowUs from "../components/FollowUs.astro";
import ReviewsSlider from "../components/ReviewsSlider.astro";
import CoursesSlider from "../components/CoursesSlider.astro";
import ClassesSlider from "../components/ClassesSlider.astro";
import Subscribe from "../components/Subscribe.astro";
import RotationCircle from "../components/RotationCircle.astro";
---

<Layout title="Welcome to Astro." isHome={false}>
  <section class="bg-white md:pt-12 h-screen relative">
    <div class="container wrapper relative grid lg:grid-cols-2 h-full">
      <div class="md:py-0 relative z-30">
        <div
          class="max-w-[512px] flex flex-col justify-center md:justify-end lg:justify-center h-full md:pb-[5vh] lg:pb-0"
        >
          <h1 class="mb-4 text-white md:text-gray-800">Yoga & trainings</h1>
          <p class="mb-8 md:mb-16 text-white md:text-gray-800">
            Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
            vulputate libero et velit interdum, ac aliquet odio mattis. Class
            aptent taciti sociosqu ad litora torquent per conubia nostra, per
            inceptos himenaeos.
          </p>
          <a class="btn dark full btn-text text-white has-wave-white"
            ><span>Join now</span><div class="wave-white"></div></a
          >
          <RotationCircle />
         
        </div>
      </div>
    </div>
    <div
      class="hero-cover absolute right-0 top-0 md:top-[48px] bottom-0 md:h-1/2 lg:h-auto w-full lg:w-1/2 md:rounded-tl-[48px] overflow-hidden"
    >
      <img
        src="/assets/images/hero-1.png"
        class="relative w-full h-full object-cover"
      />
    </div>
  </section>
  <ClassesSlider />
  <CoursesSlider />
  <Subscribe />
</Layout>

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="/assets/style/slider.css" />
<script
  is:inline
  src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script is:inline src="/assets/js/main.js"></script>
