<section class="pt-11 bg-gray-100">
  <div class="container wrapper">
    <div class="md:flex">
      <div class="max-w-[537px] pb-16 md:pb-[376px] items-end">
        <h2 class="mb-[108px]">
          Sorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          vulputate libero et velit interdum, ac aliquet odio mattis. Class
          aptent taciti sociosqu ad litora torquent per conubia nostra, per
          inceptos himenaeos. Curabitur tempus urna at turpis condimentum
          lobortis.
        </h2>
        <h3 class="mb-6">Who we are?</h3>
        <p class="mb-6">
          Sorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
          vulputate libero et velit interdum, ac aliquet odio mattis. Class
          aptent taciti sociosqu ad litora torquent per conubia nostra, per
          inceptos himenaeos. Curabitur tempus urna at turpis condimentum
          lobortis.
        </p>
        <a href="/about" class="btn primary full btn-text">Get to know us</a>
      </div>
      <div class="ml-auto relative  md:flex">
        <div class="mb-[-77px] mt-auto ">
          <svg
            width="227"
            height="287"
            viewBox="0 0 227 287"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="hidden md:block absolute bottom-0 right-full"
          >
            <path
              d="M57.7562 63.8914C55.0792 64.5686 53.245 65.58 51.5893 67.2642C48.8149 70.0186 48.6311 71.859 50.4344 79.2255C51.8317 84.9286 51.9582 87.8768 51.0631 93.8469C50.4987 97.5733 50.4534 98.7315 50.8453 99.9167C52.5852 105.131 63.5968 107.36 68.879 103.575C71.1315 101.953 71.9026 99.8552 72.1487 94.7419C72.3122 90.8677 72.8999 86.5821 73.6534 83.8873C73.8339 83.2836 73.475 83.2144 69.5521 83.3299C67.2142 83.3987 64.6025 83.5953 63.8135 83.7382C62.2763 84.0627 62.2018 84.2244 61.8025 86.8291L61.6094 88.3506L64.0265 88.2794C65.5323 88.2351 66.4087 88.3689 66.4181 88.6877C66.4427 89.5247 65.3927 95.619 65.027 96.6669C64.5145 98.118 62.7583 99.0872 60.4997 99.1537C58.9147 99.2004 58.3541 99.0174 57.5777 98.2425L56.6382 97.3128L57.5555 92.1C58.6393 85.8053 58.5475 81.3402 57.3227 76.1107C56.4619 72.4661 56.4572 72.3067 57.1423 71.3292C58.5474 69.2135 62.2325 69.105 64.7899 71.104C66.17 72.1803 66.7157 73.2014 67.3898 75.8941C67.6605 77.0031 67.7001 77.0019 71.0286 76.9039L74.3967 76.8047L74.3498 75.2105C74.2911 73.2177 73.4819 71.3268 71.6272 68.9481C68.2465 64.5798 62.7941 62.5863 57.7562 63.8914Z"
              fill="#3D8F94"></path>
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M76.8732 72.9909C75.9374 69.0844 75.8782 64.4056 76.7272 61.9509C77.8841 58.5106 82.6541 55.1743 87.6548 54.2239C90.9294 53.6289 95.3611 54.251 98.0794 55.6951C101.661 57.6178 102.69 60.1817 101.447 64.294C100.269 68.0717 100.305 70.8262 101.553 76.622C103.325 84.8649 102.724 88.9335 99.2991 91.89C97.769 93.2283 95.1067 94.3303 92.4177 95.0762L89.2982 90.6441C93.0444 90.7825 94.7948 89.0701 95.1307 83.1552C95.3276 80.0769 95.1621 78.6691 94.3303 75.6943C93.4353 72.3768 93.362 71.5253 93.6883 66.4229C94.0443 60.8567 94.0497 60.7724 93.0244 60.1564C90.4893 58.5123 85.568 59.5524 84.3486 61.9726C83.1716 64.3954 83.1846 69.5195 84.4066 74.3822C85.5474 78.9885 85.7307 80.3016 84.6269 84.0072L76.8732 72.9909Z"
              fill="#3D8F94"></path>
            <path
              d="M77.0042 72.9996L226.004 286"
              stroke="black"
              stroke-width="0.5"></path>
            <path
              d="M72.1712 6.02967C71.671 6.06386 71.1712 5.95752 70.7282 5.72266C70.3127 5.49145 69.9738 5.14387 69.7532 4.72266C69.5003 4.23013 69.3635 3.68627 69.3532 3.13269C69.3153 2.57938 69.4089 2.02491 69.6263 1.51465C69.8174 1.07555 70.1296 0.699917 70.5263 0.431649C70.9532 0.173947 71.4376 0.0267005 71.9357 0.00330379C72.4339 -0.0200928 72.93 0.0810649 73.3792 0.297616C73.7789 0.541407 74.0891 0.908044 74.2632 1.34266L73.8632 1.57264C73.7347 1.20033 73.4832 0.882879 73.1502 0.672616C72.8822 0.514508 72.5835 0.415681 72.2741 0.382699C71.9647 0.349716 71.6517 0.383393 71.3564 0.481453C71.0611 0.579514 70.7902 0.73967 70.5619 0.95118C70.3337 1.16269 70.1535 1.42063 70.0333 1.70765C69.8537 2.15139 69.7768 2.63001 69.8083 3.10767C69.8168 3.58561 69.9275 4.05618 70.1332 4.48768C70.3077 4.85007 70.5863 5.1523 70.9333 5.35572C71.3076 5.55782 71.7319 5.64869 72.1562 5.61768C72.4461 5.61258 72.732 5.54718 72.9953 5.42566C73.2157 5.32402 73.4119 5.17677 73.5712 4.99366C73.7191 4.82098 73.8301 4.6199 73.8973 4.40271C73.9645 4.18739 73.9938 3.96205 73.9842 3.7367L73.9703 3.4087L71.9853 3.49366L71.9672 3.07666L74.3672 2.97669L74.4892 5.83863L74.1253 5.85462L74.0542 4.58863L74.1342 4.60169C74.0211 5.00516 73.7788 5.36034 73.4443 5.61268C73.0723 5.87816 72.6281 6.02364 72.1712 6.02967Z"
              fill="black"></path>
            <path
              d="M88.1623 7.09265L87.6972 7.02063L87.2492 5.09362L84.4882 4.66858L83.4812 6.36865L83.0161 6.2976L86.2222 0.867676L86.7392 0.947632L88.1623 7.09265ZM84.7081 4.2926L87.1542 4.66858L86.4112 1.34265L84.7081 4.2926Z"
              fill="black"></path>
            <path
              d="M103.807 5.70069L101.766 11.1866L101.366 11.0387L102.887 6.94776L103.308 5.96973H103.3L99.4003 10.3116L99.0173 10.1696L98.9072 4.33765H98.8982L98.5772 5.35364L97.0563 9.44471L96.6562 9.29566L98.6973 3.80872L99.3203 4.04066L99.4293 8.81275L99.3903 9.75464H99.4003L99.9743 9.02173L103.174 5.47169L103.807 5.70069Z"
              fill="black"></path>
            <path
              d="M110.261 15.4776L113.37 10.5177L116.759 12.6416L116.542 12.9867L113.529 11.0996L112.329 13.0146L114.711 14.5077L114.489 14.8617L112.107 13.3686L110.854 15.3686L113.987 17.3326L113.77 17.6776L110.261 15.4776Z"
              fill="black"></path>
            <path
              d="M126.511 20.3416C126.887 20.6782 127.161 21.1128 127.303 21.5966C127.428 22.057 127.414 22.5438 127.265 22.9967C127.075 23.5143 126.782 23.9882 126.404 24.3896C126.026 24.7911 125.57 25.1118 125.065 25.3326C124.622 25.5072 124.138 25.5483 123.672 25.4506C123.187 25.3251 122.741 25.0788 122.376 24.7347C122.011 24.3906 121.74 23.9599 121.586 23.4826C121.459 23.0228 121.471 22.5357 121.62 22.0826C121.81 21.5651 122.103 21.0916 122.481 20.6903C122.859 20.289 123.315 19.9683 123.82 19.7476C124.265 19.5718 124.752 19.531 125.22 19.6306C125.708 19.7443 126.154 19.9903 126.511 20.3416ZM126.23 20.6417C125.934 20.3483 125.56 20.1455 125.153 20.0576C124.755 19.9822 124.344 20.025 123.97 20.1806C123.091 20.5781 122.405 21.3061 122.059 22.2066C121.926 22.5887 121.908 23.0013 122.006 23.3936C122.127 23.7918 122.35 24.1516 122.653 24.4371C122.955 24.7226 123.327 24.9242 123.732 25.0217C124.129 25.0952 124.539 25.0513 124.911 24.8956C125.79 24.4983 126.477 23.7703 126.822 22.8696C126.954 22.4886 126.974 22.0776 126.879 21.6856C126.768 21.2812 126.542 20.9176 126.229 20.6386L126.23 20.6417Z"
              fill="black"></path>
            <path
              d="M137.728 33.7846L132.939 37.1527L132.622 36.7026L134.595 31.5196L134.962 30.7307L134.956 30.7236L134.392 31.1537L130.592 33.8206L130.347 33.4726L135.136 30.1057L135.458 30.5626L133.487 35.7326L133.118 36.5327L133.689 36.1096L137.484 33.4406L137.728 33.7846Z"
              fill="black"></path>
            <path
              d="M141.365 55.3127L147.021 53.7996L147.555 55.7996C147.726 56.2834 147.72 56.8125 147.536 57.2917C147.439 57.4831 147.299 57.65 147.128 57.78C146.957 57.91 146.759 57.9998 146.549 58.0427C146.251 58.1313 145.931 58.1165 145.642 58.0007C145.35 57.8727 145.116 57.6407 144.986 57.3497H144.978C145.026 57.695 144.949 58.0461 144.761 58.3397C144.571 58.6218 144.282 58.8222 143.951 58.9007C143.74 58.9671 143.517 58.9819 143.299 58.9442C143.082 58.9064 142.876 58.8171 142.7 58.6837C142.287 58.328 142.006 57.8442 141.9 57.3097L141.365 55.3127ZM141.875 55.6357L142.317 57.2896C142.392 57.6836 142.598 58.041 142.9 58.3047C143.039 58.3903 143.194 58.4467 143.356 58.4703C143.517 58.4939 143.682 58.4843 143.84 58.4421C143.997 58.3999 144.145 58.326 144.273 58.2248C144.401 58.1236 144.507 57.9972 144.585 57.8536C144.712 57.4739 144.71 57.063 144.579 56.6847L144.136 55.0306L141.875 55.6357ZM144.531 54.9246L144.953 56.5017C145.199 57.421 145.69 57.7823 146.427 57.5857C147.164 57.389 147.409 56.8306 147.163 55.9106L146.741 54.3347L144.531 54.9246Z"
              fill="black"></path>
            <path
              d="M150.004 71.5316L146.281 69.7317L144.007 69.9056L143.974 69.4626L146.246 69.2887L149.652 66.9456L149.693 67.4676L147.78 68.7606L146.723 69.4736L147.877 70.0177L149.963 71.0046L150.004 71.5316Z"
              fill="black"></path>
            <path
              d="M145.45 93.4917L141.307 94.9687L141.444 94.4447L145.283 93.0816L145.45 93.4917ZM147.95 92.7137L142.285 91.2357L142.397 90.8077L148.061 92.2846L147.95 92.7137ZM146.992 96.3867L145.18 93.3867L145.13 93.3006L144.03 91.4547L144.613 91.6067L147.143 95.8237L146.992 96.3867Z"
              fill="black"></path>
            <path
              d="M136.314 107.226L136.514 106.802L138.488 106.929L139.688 104.407L138.348 102.951L138.548 102.527L142.822 107.162L142.596 107.635L136.314 107.226ZM139.993 104.726L138.927 106.96L142.327 107.207L139.993 104.726Z"
              fill="black"></path>
            <path
              d="M132.528 118.449L129.094 118.249L129.406 117.828L132.551 117.999L132.528 118.449ZM135.121 119.957C134.842 120.377 134.42 120.681 133.933 120.813C133.709 120.862 133.477 120.86 133.255 120.806C133.032 120.753 132.825 120.65 132.648 120.504C132.458 120.378 132.301 120.21 132.187 120.013C132.074 119.815 132.008 119.594 131.995 119.367C131.99 118.863 132.164 118.374 132.485 117.986L132.49 117.934L133.49 116.589L131.454 115.075L131.719 114.72L136.419 118.212L135.121 119.957ZM132.798 118.22C132.545 118.516 132.406 118.893 132.405 119.282C132.46 119.623 132.646 119.928 132.924 120.134C133.201 120.339 133.548 120.428 133.89 120.382C134.264 120.273 134.586 120.032 134.797 119.704L135.824 118.322L133.824 116.836L132.798 118.22Z"
              fill="black"></path>
            <path
              d="M125.297 130.828C124.931 131.175 124.476 131.413 123.982 131.514C123.514 131.601 123.03 131.548 122.592 131.362C122.092 131.129 121.644 130.798 121.275 130.388C120.906 129.978 120.624 129.497 120.446 128.975C120.31 128.518 120.31 128.032 120.446 127.575C120.612 127.101 120.894 126.677 121.268 126.342C121.641 126.007 122.093 125.771 122.581 125.657C123.05 125.569 123.534 125.62 123.973 125.806C124.473 126.039 124.921 126.371 125.29 126.781C125.659 127.191 125.941 127.672 126.119 128.194C126.256 128.651 126.256 129.137 126.119 129.594C125.966 130.074 125.681 130.501 125.297 130.828ZM125.024 130.528C125.341 130.257 125.573 129.901 125.694 129.502C125.803 129.112 125.794 128.699 125.67 128.314C125.347 127.405 124.678 126.66 123.808 126.242C123.438 126.078 123.028 126.026 122.629 126.092C122.222 126.18 121.846 126.373 121.537 126.651C121.227 126.929 120.996 127.283 120.865 127.678C120.759 128.068 120.769 128.48 120.893 128.864C121.217 129.773 121.886 130.518 122.755 130.936C123.124 131.1 123.532 131.153 123.931 131.09C124.342 131.01 124.721 130.814 125.024 130.525V130.528Z"
              fill="black"></path>
            <path
              d="M111.698 134.161L108.685 135.961L108.475 135.612L111.87 133.58L114.876 138.603L114.495 138.831L111.698 134.161Z"
              fill="black"></path>
            <path
              d="M102.184 144.966L100.049 139.516L100.461 139.354L102.597 144.804L102.184 144.966Z"
              fill="black"></path>
            <path
              d="M87.6822 149.005L86.5282 143.265L87.0672 143.157L91.0162 147.049L91.5912 147.703H91.5992L91.4332 147.012L90.5182 142.463L90.9352 142.38L92.0892 148.12L91.5401 148.23L87.6022 144.344L87.0172 143.683L87.1742 144.375L88.0892 148.923L87.6822 149.005Z"
              fill="black"></path>
            <path
              d="M72.5673 144.18H73.0384L73.7763 146.015H76.5703L77.3043 144.178H77.7753L75.4403 150.035H74.9163L72.5673 144.18ZM76.4103 146.42H73.9363L75.1813 149.595L76.4103 146.42Z"
              fill="black"></path>
            <path
              d="M53.0071 140.605L52.6972 146.73L52.2642 146.57L52.5992 140.889L49.2842 145.472L48.8012 145.295L49.2492 139.646L45.8141 144.193L45.3982 144.04L49.1371 139.179L49.6532 139.37L49.3401 143.631L49.2101 144.931H49.2182L49.9642 143.854L52.4911 140.407L53.0071 140.605Z"
              fill="black"></path>
            <path
              d="M36.1621 139.185L39.1812 134.169L39.5602 134.397L36.5412 139.413L36.1621 139.185Z"
              fill="black"></path>
            <path
              d="M24.1002 130.13L27.9492 125.719L28.3632 126.08L27.6832 131.58L27.5152 132.434L27.5222 132.441L27.9682 131.889L31.0172 128.389L31.3372 128.669L27.4892 133.081L27.0683 132.714L27.7503 127.223L27.9173 126.356L27.4643 126.903L24.4142 130.403L24.1002 130.13Z"
              fill="black"></path>
            <path
              d="M14.2102 118.92L17.6892 119.357L17.7893 119.371L19.9222 119.647L19.4422 120.011L14.5642 119.387L14.2102 118.92ZM16.5022 121.947L21.1691 118.414L21.4362 118.768L16.7692 122.302L16.5022 121.947ZM17.4342 119.506L18.8402 115.337L19.1662 115.769L17.8602 119.628L17.4342 119.506Z"
              fill="black"></path>
            <path
              d="M7.87627 108.622C7.63774 108.178 7.52854 107.676 7.5612 107.173C7.60225 106.699 7.78094 106.247 8.07524 105.873C8.43209 105.452 8.87032 105.107 9.36369 104.86C9.85707 104.613 10.3954 104.468 10.9462 104.434C11.4216 104.421 11.8901 104.548 12.2943 104.799C12.7073 105.084 13.0417 105.468 13.2665 105.917C13.4914 106.366 13.5993 106.864 13.5803 107.365C13.5408 107.839 13.3628 108.291 13.0683 108.665C12.7118 109.086 12.2735 109.431 11.7801 109.678C11.2866 109.926 10.7482 110.071 10.1972 110.104C9.72031 110.116 9.25051 109.987 8.84624 109.734C8.42623 109.46 8.09047 109.075 7.87627 108.622ZM8.24126 108.439C8.41825 108.816 8.70016 109.135 9.05327 109.356C9.40065 109.563 9.80101 109.665 10.2053 109.648C11.1666 109.574 12.0605 109.126 12.6953 108.4C12.9515 108.086 13.1104 107.703 13.1523 107.3C13.1748 106.884 13.0886 106.47 12.9022 106.098C12.7158 105.726 12.4357 105.409 12.0893 105.178C11.7414 104.973 11.3416 104.874 10.9383 104.892C9.97618 104.963 9.08124 105.412 8.44829 106.14C8.19256 106.453 8.03272 106.833 7.9882 107.234C7.95399 107.653 8.04191 108.073 8.24126 108.443V108.439Z"
              fill="black"></path>
            <path
              d="M8.48718 93.9406L3.25525 97.1407L3.14319 96.6937L8.02319 93.7647L2.36914 93.6147L2.24414 93.1147L7.16015 90.2967L1.46716 90.0257L1.35925 89.5957L7.48218 89.9406L7.61621 90.4737L3.91626 92.6197L2.76623 93.2467V93.2557L4.07715 93.2647L8.34814 93.4067L8.48718 93.9406Z"
              fill="black"></path>
            <path
              d="M0.00623034 77.8527C-0.0259887 77.3792 0.0671584 76.9056 0.276249 76.4796C0.487515 76.0915 0.818635 75.7821 1.22022 75.5977L1.52027 75.9597C1.15551 76.1091 0.850316 76.3749 0.652226 76.7157C0.472398 77.0739 0.391904 77.4738 0.419194 77.8737C0.423345 78.1781 0.49156 78.4782 0.619267 78.7546C0.719066 78.9718 0.875968 79.1578 1.07325 79.2927C1.25507 79.4121 1.47 79.4709 1.68726 79.4607C1.81192 79.46 1.93514 79.4338 2.04932 79.3838C2.1635 79.3337 2.26618 79.2609 2.3512 79.1697C2.56655 78.8797 2.70085 78.5377 2.74024 78.1787L2.94727 77.0177C2.99504 76.5707 3.16488 76.1455 3.43824 75.7887C3.55207 75.6676 3.68949 75.5711 3.84204 75.5052C3.9946 75.4394 4.15903 75.4055 4.3252 75.4056C4.63179 75.3902 4.93473 75.4776 5.18616 75.6537C5.44997 75.8431 5.65746 76.1006 5.78626 76.3987C5.94315 76.7572 6.02707 77.1434 6.03321 77.5347C6.05278 77.9151 6.00788 78.2961 5.90027 78.6616C5.8095 78.9728 5.6537 79.2612 5.44324 79.5077C5.24248 79.7395 4.98859 79.9192 4.70325 80.0316L4.38819 79.6527C4.65363 79.5662 4.894 79.4162 5.08826 79.2157C5.28346 79.008 5.4275 78.7577 5.50916 78.4846C5.60214 78.1756 5.64147 77.8529 5.62525 77.5306C5.61947 77.2295 5.56225 76.9316 5.45618 76.6497C5.37167 76.4164 5.22419 76.2112 5.03015 76.0566C4.83837 75.9164 4.60326 75.8484 4.36621 75.8646C4.24899 75.8665 4.13342 75.8928 4.02686 75.9416C3.9203 75.9905 3.82506 76.061 3.7472 76.1487C3.54406 76.4235 3.4209 76.7492 3.39124 77.0897L3.16919 78.3047C3.11935 78.6236 3.01988 78.9327 2.87427 79.2207C2.76736 79.4342 2.60327 79.6138 2.40027 79.7396C2.20378 79.8526 1.9819 79.9143 1.75525 79.9187C1.45884 79.9316 1.16574 79.8522 0.916264 79.6916C0.64512 79.5143 0.426212 79.2679 0.282231 78.9777C0.106575 78.6283 0.0122205 78.2437 0.00623034 77.8527Z"
              fill="black"></path>
            <path
              d="M0.717285 64.9486L6.50427 65.8386L6.43628 66.2756L0.64917 65.3866L0.717285 64.9486ZM1.29321 61.1966L3.40417 63.9965L3.46325 64.0766L4.75024 65.7995L4.15027 65.7086L1.20117 61.7735L1.29321 61.1966ZM3.11926 63.9176L7.09021 62.0246L7.0072 62.5595L3.32825 64.3095L3.11926 63.9176Z"
              fill="black"></path>
            <path
              d="M10.8051 49.2907L10.6482 49.7337L8.67126 49.8106L7.73327 52.4417L9.21521 53.7527L9.05725 54.1956L4.32922 50.0236L4.50525 49.5307L10.8051 49.2907ZM7.40527 52.1537L8.2362 49.8237L4.82825 49.9237L7.40527 52.1537Z"
              fill="black"></path>
          </svg>
          <div class="swiper aboutus-swiper w-full max-w-[537px] ml-auto">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img src="/assets/images/aboutus.png" />
              </div>
              <div class="swiper-slide">
                <img src="/assets/images/aboutus-2.png" />
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>
