---
---

<section class="bg-white pt-16 pb-28">
    <div class="container wrapper text-center">
        <h2 class="h1 uppercase mb-4">Follow us</h2>
        <h4 class="mb-10">#gameonkite</h4>
        <div class="flex gap-4 overflow-auto">
            <img src="/assets/images/followus-1.png" />
            <img src="/assets/images/followus-2.png" />
            <img src="/assets/images/followus-3.png" />
            <img src="/assets/images/followus-4.png" />
        </div>
    </div>
</section>