---
import Input from "../components/Input.astro";

const footerMenu = [
  {
    title: "OUR OFFER",
    links: [
      { name: "Yoga & training", link: "/" },
      { name: "Kitę clinics", link: "/" },
      { name: "Tips and tricks", link: "/" },
    ],
  },
  {
    title: "CONDITIONS",
    links: [
      { name: "Terms", link: "/" },
      { name: "GDPR Policy", link: "/" },
      { name: "Cookies Settings", link: "/" },
    ],
  },
  {
    title: "INFORMATION",
    links: [
      { name: "Terms", link: "/" },
      { name: "GDPR Policy", link: "/" },
      { name: "Cookies Settings", link: "/" },
    ],
  },
  {
    title: "SOCIAL MEDIA",
    links: [
      { name: "About us", link: "/about" },
      { name: "FAQ", link: "/faq" },
      { name: "Contact Us", link: "/contact" },
    ],
  },
];
---

<footer class="bg-gray-900 text-white pt-[156px] pb-[132px] relative z-30">
  <button
    type="button"
    id="scroll-to-top"
    class="absolute right-0 top-[-74px] z-20 cursor-pointer w-[200px] h-[257px]"
  >
    <svg
      id="rotatingText"
      viewBox="0 0 100 100"
      width="145"
      height="145"
      class="overflow-visible absolute left-0 top-0 z-30"
    >
      <defs>
        <path
          id="circle"
          d="M 50 50 m -50 0 a 50 50 0 1 1 100 0 a 50 50 0 1 1 -100 0"
        >
        </path>
      </defs>
      <text width="150">
        <textPath xlink:href="#circle" class="circle-text">
          GAME ON BY KAROLINA WINKOWSKA
        </textPath>
      </text>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="74"
      height="75"
      viewBox="0 0 74 75"
      fill="none"
      class="hover:scale-110 active:scale-105 duration-300 absolute left-[37px] top-[37px] z-30 "
    >
      <path
        d="M37 74.416C57.4345 74.416 74 57.8506 74 37.416C74 16.9815 57.4345 0.416016 37 0.416016C16.5655 0.416016 0 16.9815 0 37.416C0 57.8506 16.5655 74.416 37 74.416Z"
        fill="#ABCFD1"></path>
      <path
        d="M37 73.416C56.8823 73.416 73 57.2983 73 37.416C73 17.5338 56.8823 1.41602 37 1.41602C17.1177 1.41602 1 17.5338 1 37.416C1 57.2983 17.1177 73.416 37 73.416Z"
        fill="#ABCFD1"
        stroke="#A7C6C6"
        stroke-width="2"></path>
      <path d="M50.606 44.522L37.001 30.917L23.396 44.522" fill="#ABCFD1"
      ></path>
      <path
        d="M50.606 44.522L37.001 30.917L23.396 44.522"
        stroke="white"
        stroke-width="2"></path>
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="175"
      height="235"
      viewBox="0 0 175 235"
      fill="none"
      class="absolute right-0 bottom-0 inView z-10"
    >
      <path opacity="0.342" d="M175 235 L1 -12" stroke="#A7C6C6"></path></svg>
  </button>
<div class="container wrapper">
  <div class="flex flex-wrap w-full">
    <div
      class="grid md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-[40px] lg:gap-[80px] 2xl:gap-[102px] mb-[102px] mr-auto"
    >
      {
        footerMenu.map((item) => {
          return (
            <div>
              <span class="uppercase text-blue-200 text-base font-medium mb-10 block">
                {item.title}
              </span>
              <ul class="grid gap-[13px]">
                {item.links.map((link) => {
                  return (
                    <li>
                      <a href={link.link} class="link">
                        {link.name}
                      </a>
                    </li>
                  );
                })}
              </ul>
            </div>
          );
        })
      }
    </div>
    <div class="footer-newsletter md:w-1/2 xl:max-w-[427px] w-full">
      <span class="uppercase text-blue-200 text-base font-medium mb-4 block"
        >OUR NewSletter</span
      >
      <form class="">
        <Input
          id="name"
          name="name"
          type="text"
          placeholder="Name"
          lable="Name"
          className="mb-4"
        />
        <Input
          id="email"
          name="email"
          type="mail"
          placeholder="E-mail"
          lable="E-mail"
          className="mb-8"
        />
        <button
          type="button"
          class="btn btn-text primary hover:!border-blue-200">Subscribe</button
        >
      </form>
    </div>
  </div>
</div>
