---
import Input from "../components/Input.astro";


const footerMenu = [
  {
    title: "OUR OFFER",
    links: [
      { name: "Yoga & training", link: "/" },
      { name: "Kitę clinics", link: "/" },
      { name: "Tips and tricks", link: "/" },
    ],
  },
  {
    title: "CONDITIONS",
    links: [
      { name: "Terms", link: "/" },
      { name: "GDPR Policy", link: "/" },
      { name: "Cookies Settings", link: "/" },
    ],
  },
  {
    title: "INFORMATION",
    links: [
      { name: "Terms", link: "/" },
      { name: "GDPR Policy", link: "/" },
      { name: "Cookies Settings", link: "/" },
    ],
  },
  {
    title: "SOCIAL MEDIA",
    links: [
      { name: "About us", link: "/about" },
      { name: "FAQ", link: "/faq" },
      { name: "Contact Us", link: "/contact" },
    ],
  },
];
---
 
<footer class="bg-gray-900 text-white pt-[156px] pb-[132px] relative z-30">
    <a class="absolute right-0 top-[-74px] z-20 cursor-pointer">
        <svg width="199" height="388" viewBox="0 0 199 388" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path opacity="0.342" d="M39.2031 21.0002L38.5891 21.426L292.676 387.846L293.29 387.42L39.2031 21.0002Z" fill="#A7C6C6"/>
            <path d="M30.4931 22.6441C30.8516 22.3304 31.3171 22.1667 31.793 22.187C32.3159 22.2199 32.8242 22.3733 33.278 22.635C33.8587 22.9337 34.5237 23.2337 35.273 23.5351C36.0253 23.8347 36.8284 23.9868 37.6381 23.983C38.4088 24.0419 39.1825 23.9201 39.8978 23.6272C40.613 23.3343 41.2501 22.8785 41.7581 22.296C42.7138 21.0045 43.1923 19.4217 43.1121 17.817H38.5841C38.588 18.0349 38.5443 18.251 38.4562 18.4503C38.3682 18.6496 38.2378 18.8273 38.074 18.9711C37.7262 19.2842 37.2708 19.4507 36.803 19.4361C36.3984 19.4197 36.0011 19.3233 35.6341 19.1521C35.2044 18.9703 34.7859 18.7629 34.381 18.531C33.9009 18.2697 33.3936 18.0618 32.8681 17.911C32.2488 17.7217 31.6047 17.626 30.9571 17.6271C30.1853 17.5688 29.4105 17.6922 28.695 17.9874C27.9795 18.2827 27.3433 18.7415 26.8371 19.327C25.8821 20.6219 25.4038 22.2071 25.4831 23.8141H29.992C29.9846 23.5943 30.0258 23.3754 30.1124 23.1732C30.199 22.971 30.3289 22.7904 30.4931 22.6441Z" fill="#A7C6C6"/>
            <path d="M72.167 6.02992C71.6668 6.06411 71.167 5.95777 70.724 5.72291C70.3085 5.4917 69.9697 5.14412 69.7491 4.72291C69.4961 4.23037 69.3593 3.68652 69.349 3.13294C69.3111 2.57963 69.4048 2.02515 69.6221 1.5149C69.8132 1.0758 70.1254 0.700161 70.5221 0.431893C70.9491 0.174191 71.4334 0.0269446 71.9315 0.00354794C72.4297 -0.0198487 72.9258 0.081309 73.375 0.297859C73.7748 0.541651 74.0849 0.908288 74.2591 1.3429L73.859 1.57288C73.7305 1.20058 73.4791 0.883123 73.146 0.672859C72.878 0.514752 72.5793 0.415925 72.2699 0.382942C71.9605 0.34996 71.6475 0.383637 71.3522 0.481697C71.0569 0.579757 70.786 0.739914 70.5578 0.951424C70.3295 1.16293 70.1493 1.42088 70.0291 1.70789C69.8495 2.15164 69.7726 2.63026 69.8041 3.10792C69.8126 3.58586 69.9234 4.05643 70.1291 4.48792C70.3036 4.85032 70.5821 5.15255 70.9291 5.35597C71.3035 5.55807 71.7277 5.64894 72.152 5.61793C72.442 5.61283 72.7278 5.54743 72.9911 5.42591C73.2115 5.32426 73.4078 5.17702 73.567 4.9939C73.7149 4.82123 73.8259 4.62015 73.8931 4.40296C73.9603 4.18764 73.9896 3.9623 73.98 3.73695L73.9661 3.40894L71.9811 3.4939L71.963 3.07691L74.3631 2.97694L74.485 5.83888L74.1211 5.85487L74.0501 4.58888L74.13 4.60194C74.017 5.00541 73.7746 5.36059 73.4401 5.61292C73.0682 5.8784 72.6239 6.02389 72.167 6.02992Z" fill="#A7C6C6"/>
            <path d="M88.1581 7.0929L87.693 7.02087L87.245 5.09387L84.484 4.66882L83.4771 6.3689L83.012 6.29785L86.218 0.86792L86.735 0.947876L88.1581 7.0929ZM84.704 4.29285L87.15 4.66882L86.407 1.3429L84.704 4.29285Z" fill="#A7C6C6"/>
            <path d="M103.803 5.70081L101.762 11.1868L101.362 11.0388L102.883 6.94788L103.304 5.96985H103.296L99.3961 10.3118L99.0132 10.1698L98.9031 4.33777H98.8942L98.5731 5.35376L97.0521 9.44482L96.6521 9.29578L98.6931 3.80884L99.3162 4.04077L99.4252 8.81287L99.3861 9.75476H99.3961L99.9701 9.02185L103.17 5.4718L103.803 5.70081Z" fill="#A7C6C6"/>
            <path d="M110.257 15.478L113.366 10.5181L116.755 12.642L116.538 12.9871L113.525 11.1L112.325 13.015L114.707 14.5081L114.485 14.8621L112.103 13.369L110.85 15.369L113.983 17.333L113.766 17.678L110.257 15.478Z" fill="#A7C6C6"/>
            <path d="M126.507 20.3419C126.883 20.6785 127.157 21.1131 127.299 21.5969C127.424 22.0573 127.41 22.5441 127.261 22.9969C127.071 23.5146 126.778 23.9884 126.4 24.3899C126.022 24.7914 125.566 25.1121 125.061 25.3329C124.618 25.5075 124.134 25.5485 123.668 25.4509C123.183 25.3253 122.737 25.0791 122.372 24.735C122.008 24.3909 121.736 23.9602 121.582 23.4829C121.455 23.0231 121.467 22.536 121.616 22.0829C121.806 21.5654 122.099 21.0918 122.477 20.6906C122.856 20.2893 123.311 19.9686 123.816 19.7479C124.261 19.5721 124.748 19.5313 125.216 19.6309C125.704 19.7445 126.15 19.9906 126.507 20.3419ZM126.226 20.642C125.93 20.3485 125.556 20.1458 125.149 20.0579C124.751 19.9824 124.34 20.0252 123.966 20.1809C123.087 20.5784 122.401 21.3064 122.055 22.2069C121.922 22.589 121.904 23.0015 122.002 23.3939C122.123 23.7921 122.346 24.1518 122.649 24.4374C122.951 24.7229 123.323 24.9245 123.728 25.022C124.125 25.0955 124.535 25.0516 124.907 24.8959C125.786 24.4986 126.473 23.7705 126.818 22.8699C126.95 22.4889 126.97 22.0779 126.875 21.6859C126.764 21.2815 126.538 20.9179 126.225 20.6389L126.226 20.642Z" fill="#A7C6C6"/>
            <path d="M137.724 33.7849L132.935 37.153L132.618 36.7029L134.591 31.5199L134.958 30.731L134.952 30.7239L134.388 31.1539L130.588 33.8209L130.343 33.4729L135.132 30.106L135.454 30.5629L133.483 35.7329L133.114 36.533L133.685 36.1099L137.48 33.4409L137.724 33.7849Z" fill="#A7C6C6"/>
            <path d="M141.361 55.3129L147.017 53.7998L147.551 55.7998C147.722 56.2836 147.716 56.8126 147.532 57.2919C147.435 57.4832 147.295 57.6501 147.125 57.7802C146.954 57.9102 146.756 58 146.545 58.0428C146.247 58.1315 145.927 58.1167 145.638 58.0009C145.346 57.8729 145.112 57.6408 144.982 57.3499H144.974C145.022 57.6952 144.945 58.0462 144.757 58.3398C144.567 58.622 144.278 58.8223 143.947 58.9009C143.736 58.9672 143.513 58.9821 143.295 58.9443C143.078 58.9066 142.872 58.8173 142.696 58.6838C142.283 58.3282 142.002 57.8444 141.896 57.3098L141.361 55.3129ZM141.871 55.6359L142.313 57.2898C142.388 57.6838 142.594 58.0412 142.896 58.3048C143.035 58.3905 143.19 58.4468 143.352 58.4705C143.513 58.4941 143.678 58.4845 143.836 58.4423C143.994 58.4 144.141 58.3262 144.269 58.225C144.397 58.1238 144.504 57.9974 144.581 57.8538C144.708 57.4741 144.706 57.0632 144.575 56.6848L144.132 55.0308L141.871 55.6359ZM144.527 54.9248L144.949 56.5018C145.195 57.4212 145.686 57.7825 146.423 57.5858C147.16 57.3891 147.405 56.8308 147.159 55.9108L146.737 54.3348L144.527 54.9248Z" fill="#A7C6C6"/>
            <path d="M150 71.5317L146.277 69.7318L144.003 69.9058L143.97 69.4628L146.242 69.2888L149.648 66.9458L149.689 67.4678L147.776 68.7607L146.719 69.4738L147.873 70.0178L149.959 71.0048L150 71.5317Z" fill="#A7C6C6"/>
            <path d="M145.446 93.4918L141.303 94.9689L141.44 94.4448L145.279 93.0818L145.446 93.4918ZM147.946 92.7139L142.281 91.2358L142.393 90.8079L148.057 92.2848L147.946 92.7139ZM146.988 96.3868L145.176 93.3868L145.126 93.3008L144.026 91.4548L144.609 91.6068L147.139 95.8239L146.988 96.3868Z" fill="#A7C6C6"/>
            <path d="M136.31 107.226L136.51 106.802L138.484 106.929L139.684 104.407L138.344 102.951L138.544 102.527L142.818 107.162L142.592 107.635L136.31 107.226ZM139.989 104.726L138.923 106.96L142.323 107.207L139.989 104.726Z" fill="#A7C6C6"/>
            <path d="M132.524 118.449L129.09 118.249L129.402 117.828L132.547 117.999L132.524 118.449ZM135.117 119.957C134.838 120.377 134.416 120.681 133.929 120.813C133.705 120.862 133.474 120.86 133.251 120.806C133.028 120.753 132.821 120.65 132.644 120.504C132.454 120.378 132.297 120.21 132.183 120.013C132.07 119.815 132.004 119.594 131.991 119.367C131.987 118.863 132.16 118.374 132.481 117.986L132.486 117.934L133.486 116.589L131.45 115.075L131.715 114.72L136.415 118.212L135.117 119.957ZM132.794 118.22C132.541 118.516 132.402 118.893 132.401 119.282C132.456 119.623 132.643 119.928 132.92 120.134C133.197 120.339 133.544 120.428 133.886 120.382C134.26 120.273 134.582 120.032 134.793 119.704L135.82 118.322L133.82 116.836L132.794 118.22Z" fill="#A7C6C6"/>
            <path d="M125.293 130.828C124.928 131.175 124.472 131.413 123.978 131.514C123.51 131.601 123.027 131.548 122.588 131.362C122.088 131.129 121.64 130.798 121.271 130.388C120.903 129.978 120.621 129.497 120.442 128.975C120.306 128.518 120.306 128.032 120.442 127.575C120.608 127.101 120.89 126.677 121.264 126.342C121.637 126.007 122.089 125.771 122.577 125.657C123.046 125.569 123.53 125.62 123.969 125.806C124.469 126.039 124.917 126.371 125.286 126.781C125.655 127.191 125.937 127.672 126.115 128.194C126.252 128.651 126.252 129.137 126.115 129.594C125.962 130.074 125.677 130.501 125.293 130.828ZM125.02 130.528C125.337 130.257 125.57 129.901 125.69 129.502C125.799 129.112 125.79 128.699 125.666 128.314C125.343 127.405 124.674 126.66 123.804 126.242C123.434 126.078 123.024 126.026 122.625 126.092C122.219 126.18 121.842 126.373 121.533 126.651C121.223 126.929 120.992 127.283 120.861 127.678C120.755 128.068 120.765 128.48 120.889 128.864C121.213 129.773 121.882 130.518 122.751 130.936C123.12 131.1 123.529 131.153 123.927 131.09C124.338 131.01 124.718 130.814 125.02 130.525V130.528Z" fill="#A7C6C6"/>
            <path d="M111.694 134.161L108.681 135.961L108.471 135.612L111.866 133.58L114.872 138.603L114.491 138.831L111.694 134.161Z" fill="#A7C6C6"/>
            <path d="M102.18 144.966L100.045 139.516L100.457 139.354L102.593 144.804L102.18 144.966Z" fill="#A7C6C6"/>
            <path d="M87.678 149.005L86.5239 143.265L87.063 143.157L91.012 147.049L91.5869 147.703H91.595L91.429 147.012L90.5139 142.463L90.9309 142.38L92.085 148.12L91.5359 148.23L87.5979 144.344L87.0129 143.683L87.1699 144.375L88.085 148.923L87.678 149.005Z" fill="#A7C6C6"/>
            <path d="M72.563 144.18H73.0341L73.772 146.015H76.566L77.3 144.178H77.771L75.436 150.035H74.912L72.563 144.18ZM76.406 146.42H73.932L75.177 149.595L76.406 146.42Z" fill="#A7C6C6"/>
            <path d="M53.0029 140.605L52.693 146.73L52.26 146.57L52.595 140.889L49.28 145.472L48.797 145.295L49.245 139.646L45.8099 144.193L45.394 144.04L49.1329 139.179L49.649 139.37L49.3359 143.631L49.2059 144.931H49.214L49.96 143.854L52.4869 140.407L53.0029 140.605Z" fill="#A7C6C6"/>
            <path d="M36.158 139.185L39.177 134.169L39.556 134.397L36.537 139.413L36.158 139.185Z" fill="#A7C6C6"/>
            <path d="M24.0962 130.13L27.9452 125.719L28.3591 126.08L27.6792 131.58L27.5111 132.434L27.5182 132.441L27.9641 131.889L31.0132 128.389L31.3331 128.669L27.4851 133.081L27.0642 132.714L27.7462 127.223L27.9132 126.356L27.4602 126.903L24.4102 130.403L24.0962 130.13Z" fill="#A7C6C6"/>
            <path d="M14.2061 118.92L17.6851 119.357L17.7852 119.371L19.9181 119.647L19.4381 120.011L14.5601 119.387L14.2061 118.92ZM16.498 121.947L21.165 118.414L21.4321 118.768L16.7651 122.302L16.498 121.947ZM17.4301 119.506L18.8361 115.337L19.1621 115.769L17.8561 119.628L17.4301 119.506Z" fill="#A7C6C6"/>
            <path d="M7.87224 108.622C7.63371 108.178 7.52451 107.676 7.55717 107.173C7.59822 106.699 7.77691 106.247 8.07121 105.873C8.42807 105.452 8.86629 105.107 9.35966 104.86C9.85304 104.613 10.3914 104.468 10.9422 104.434C11.4175 104.421 11.8861 104.548 12.2902 104.799C12.7033 105.084 13.0377 105.468 13.2625 105.917C13.4873 106.366 13.5952 106.864 13.5762 107.365C13.5368 107.839 13.3588 108.291 13.0643 108.665C12.7077 109.086 12.2695 109.431 11.776 109.678C11.2826 109.926 10.7441 110.071 10.1932 110.104C9.71628 110.116 9.24649 109.987 8.84221 109.734C8.42221 109.46 8.08644 109.075 7.87224 108.622ZM8.23723 108.439C8.41422 108.816 8.69613 109.135 9.04924 109.356C9.39662 109.563 9.79698 109.665 10.2012 109.648C11.1625 109.574 12.0564 109.126 12.6912 108.4C12.9475 108.086 13.1063 107.703 13.1482 107.3C13.1708 106.884 13.0845 106.47 12.8981 106.098C12.7117 105.726 12.4316 105.409 12.0853 105.178C11.7374 104.973 11.3375 104.874 10.9342 104.892C9.97215 104.963 9.07721 105.412 8.44426 106.14C8.18854 106.453 8.02869 106.833 7.98418 107.234C7.94996 107.653 8.03788 108.073 8.23723 108.443V108.439Z" fill="#A7C6C6"/>
            <path d="M8.48315 93.9409L3.25122 97.141L3.13916 96.694L8.01917 93.765L2.36511 93.615L2.24011 93.115L7.15613 90.297L1.46313 90.026L1.35522 89.5959L7.47815 89.9409L7.61218 90.474L3.91223 92.62L2.76221 93.2469V93.256L4.07312 93.265L8.34412 93.407L8.48315 93.9409Z" fill="#A7C6C6"/>
            <path d="M0.00207996 77.8528C-0.0301391 77.3794 0.063008 76.9058 0.272099 76.4798C0.483365 76.0916 0.814485 75.7823 1.21607 75.5978L1.51612 75.9599C1.15136 76.1093 0.846166 76.3751 0.648076 76.7158C0.468248 77.0741 0.387754 77.4739 0.415044 77.8738C0.419195 78.1782 0.48741 78.4784 0.615117 78.7548C0.714916 78.9719 0.871818 79.158 1.0691 79.2929C1.25092 79.4122 1.46585 79.471 1.68311 79.4608C1.80777 79.4601 1.93099 79.434 2.04517 79.3839C2.15935 79.3339 2.26203 79.261 2.34705 79.1698C2.5624 78.8799 2.6967 78.5379 2.73609 78.1789L2.94312 77.0179C2.99089 76.5709 3.16073 76.1457 3.43409 75.7888C3.54792 75.6678 3.68534 75.5713 3.8379 75.5054C3.99045 75.4395 4.15488 75.4056 4.32105 75.4058C4.62765 75.3904 4.93058 75.4777 5.18201 75.6538C5.44582 75.8432 5.65331 76.1007 5.78211 76.3988C5.939 76.7574 6.02292 77.1435 6.02906 77.5348C6.04863 77.9153 6.00373 78.2963 5.89612 78.6618C5.80535 78.9729 5.64955 79.2613 5.43909 79.5078C5.23833 79.7397 4.98444 79.9194 4.6991 80.0318L4.38404 79.6529C4.64948 79.5664 4.88985 79.4163 5.08411 79.2158C5.27931 79.0082 5.42335 78.7578 5.50501 78.4848C5.598 78.1758 5.63732 77.8531 5.6211 77.5308C5.61532 77.2296 5.5581 76.9317 5.45203 76.6498C5.36752 76.4166 5.22005 76.2113 5.02601 76.0568C4.83422 75.9165 4.59911 75.8485 4.36207 75.8648C4.24484 75.8666 4.12927 75.8929 4.02271 75.9418C3.91615 75.9907 3.82091 76.0612 3.74305 76.1488C3.53991 76.4237 3.41675 76.7494 3.38709 77.0899L3.16504 78.3048C3.1152 78.6237 3.01574 78.9328 2.87012 79.2209C2.76321 79.4344 2.59912 79.614 2.39612 79.7398C2.19963 79.8528 1.97775 79.9145 1.7511 79.9189C1.45469 79.9317 1.16159 79.8524 0.912114 79.6918C0.64097 79.5145 0.422062 79.268 0.278081 78.9778C0.102425 78.6284 0.00807009 78.2438 0.00207996 77.8528Z" fill="#A7C6C6"/>
            <path d="M0.713135 64.949L6.50012 65.839L6.43213 66.276L0.64502 65.387L0.713135 64.949ZM1.28906 61.197L3.40002 63.9969L3.45911 64.077L4.74609 65.7999L4.14612 65.709L1.19702 61.7739L1.28906 61.197ZM3.11511 63.918L7.08606 62.025L7.00305 62.5599L3.3241 64.3099L3.11511 63.918Z" fill="#A7C6C6"/>
            <path d="M10.8009 49.291L10.6439 49.734L8.66699 49.8109L7.729 52.442L9.21094 53.7529L9.05298 54.1959L4.32495 50.0239L4.50098 49.531L10.8009 49.291ZM7.401 52.1539L8.23193 49.824L4.82397 49.924L7.401 52.1539Z" fill="#A7C6C6"/>
            <path d="M76 112.416C96.4345 112.416 113 95.8506 113 75.416C113 54.9815 96.4345 38.416 76 38.416C55.5655 38.416 39 54.9815 39 75.416C39 95.8506 55.5655 112.416 76 112.416Z" fill="#ABCFD1"/>
            <path d="M76 111.416C95.8823 111.416 112 95.2983 112 75.416C112 55.5338 95.8823 39.416 76 39.416C56.1177 39.416 40 55.5338 40 75.416C40 95.2983 56.1177 111.416 76 111.416Z" fill="#ABCFD1" stroke="#A7C6C6" stroke-width="2"/>
            <path d="M89.606 82.522L76.001 68.917L62.396 82.522" fill="#ABCFD1"/>
            <path d="M89.606 82.522L76.001 68.917L62.396 82.522" stroke="white" stroke-width="2"/>
            </svg>
            
    </a>
  <div class="container wrapper">
    <div class="flex flex-wrap w-full">
    <div class="grid md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 gap-[40px] lg:gap-[80px] 2xl:gap-[102px] mb-[102px] mr-auto">
      {
        footerMenu.map((item) => {
          return (
            <div>
              <span class="uppercase text-blue-200 text-base font-medium mb-10 block">
                {item.title}
              </span>
              <ul class="grid gap-[13px]">
              {item.links.map(link=>{
                return(<li><a href={link.link} class="link">{link.name}</a></li>)
              })}
              </ul>
            </div>
          );
        })
      }
    </div>
    <div class="footer-newsletter  md:w-1/2 xl:max-w-[427px] w-full">
        <span class="uppercase text-blue-200 text-base font-medium mb-4 block">OUR NewSletter</span>
        <form class="">
            <Input id="name" name="name" type="text" placeholder="Name" lable="Name" className="mb-4"/>
            <Input id="email" name="email" type="mail" placeholder="E-mail" lable="E-mail" className="mb-8"/>
            <button type="button" class="btn btn-text btn-primary">Subscribe</button>
        </form>
    </div>
    </div>
  </div>
</footer>
