---
interface Props {
  isHome: boolean;
  textdark: boolean;
}
const { isHome, textdark } = Astro.props;
const mainMenu = [
  {
    title: "Strona główna",
    link: "/",
  },
  {
    title: "O firmie",
    link: "/",
    submenu: [
      { title: "O nas", link: "/o-nas" },
      { title: "Marka Mr Nodu", link: "/marka-mr-nodu" },
      { title: "Dla biznesu", link: "/dla-biznesu" },
    ],
  },
  {
    title: "Produkty",
    link: "/produkty",
  },
  { title: "Nasi partnerzy", link: "/nasi-partnerzy" },
  { title: "Baza wiedzy", link: "/baza-wiedzy" },
  { title: "Jakość produktów", link: "/jakosc-produktow" },
];
---

<header id="header" class="fixed left-0 right-0 top-0 z-50">
  <nav
    class="nav-top text-sm py-[12px] bg-white fixed bottom-0 left-0 right-0 z-50 md:static md:block"
  >
    <div class="container wrapper flex justify-between">
      <div class="items-center hidden md:flex">
        <span class="uppercase mr-4">Follow us</span>
        <ul class="flex gap-4 items-center">
          <li>
            <a href="/"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
              >
                <path
                  d="M12.56 13.3018V20H9.52304V13.3018H7V10.5858H9.52304V9.59763C9.52304 5.92899 11.0357 4 14.2362 4C15.2174 4 15.4627 4.15976 16 4.28994V6.97633C15.3984 6.86982 15.2291 6.81065 14.6042 6.81065C13.8624 6.81065 13.4653 7.02367 13.1032 7.44379C12.7411 7.86391 12.56 8.59172 12.56 9.63314V10.5917H16V13.3077H13.5455L12.56 13.3018Z"
                  fill="#373737"></path>
              </svg></a
            >
          </li>
          <li>
            <a href="/">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
              >
                <path
                  d="M15.9914 19H4.00863C2.35277 19 1 17.6472 1 15.9914V4.00862C1 2.35277 2.35277 1 4.00863 1H15.9914C17.6472 1 19 2.35277 19 4.00862V15.9914C19 17.6546 17.6546 19 15.9914 19Z"
                  stroke="#515151"></path>
                <path
                  d="M6.73636 13.271C7.60864 14.1433 8.76922 14.6238 10.0037 14.6238C11.2382 14.6238 12.3914 14.1433 13.2711 13.271C14.1433 12.3988 14.6238 11.2382 14.6238 10.0037C14.6238 8.7692 14.1433 7.60863 13.2711 6.73635C12.3988 5.86407 11.2382 5.38358 10.0037 5.38358C8.76922 5.38358 7.60864 5.86407 6.73636 6.73635C5.86408 7.60863 5.38359 8.7692 5.38359 10.0037C5.38359 11.2382 5.86408 12.3988 6.73636 13.271Z"
                  stroke="#515151"></path>
                <path
                  d="M15.5244 5.23175C16.0143 5.23175 16.4115 4.83459 16.4115 4.34467C16.4115 3.85474 16.0143 3.45758 15.5244 3.45758C15.0344 3.45758 14.6373 3.85474 14.6373 4.34467C14.6373 4.83459 15.0344 5.23175 15.5244 5.23175Z"
                  stroke="#515151"></path>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <ul
        class="flex gap-[42px] items-center w-full justify-evenly md:w-auto md:justify-end"
      >
        <li>
          <a class="flex items-center gap-4 cursor-pointer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M2 5H22V19H2V5Z"
                stroke="#373737"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M21 6L12 13L3 6"
                stroke="#373737"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <span class="uppercase hidden md:block">Contatc</span>
          </a>
        </li>
        <li>
          <a class="flex items-center gap-4 cursor-pointer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                d="M3.5 6.5H20.5C20.7652 6.5 21.0196 6.60536 21.2071 6.79289C21.3946 6.98043 21.5 7.23478 21.5 7.5V21.5C21.5 22.0304 21.2893 22.5391 20.9142 22.9142C20.5391 23.2893 20.0304 23.5 19.5 23.5H4.5C3.96957 23.5 3.46086 23.2893 3.08579 22.9142C2.71071 22.5391 2.5 22.0304 2.5 21.5V7.5C2.5 7.23478 2.60536 6.98043 2.79289 6.79289C2.98043 6.60536 3.23478 6.5 3.5 6.5Z"
                stroke="#515151"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M7.5 9.5V5C7.5 3.80653 7.97411 2.66193 8.81802 1.81802C9.66193 0.974106 10.8065 0.5 12 0.5C13.1935 0.5 14.3381 0.974106 15.182 1.81802C16.0259 2.66193 16.5 3.80653 16.5 5V9.5"
                stroke="#515151"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            <span class="uppercase hidden md:block">contact</span>
          </a>
        </li>
        <li>
          <a class="flex items-center gap-4 cursor-pointer">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <g clip-path="url(#clip0_11_319)">
                <path
                  d="M0.5 12C0.5 13.5102 0.797456 15.0056 1.37539 16.4009C1.95331 17.7961 2.8004 19.0639 3.86827 20.1317C4.93615 21.1996 6.2039 22.0467 7.59914 22.6246C8.99438 23.2025 10.4898 23.5 12 23.5C13.5102 23.5 15.0056 23.2025 16.4009 22.6246C17.7961 22.0467 19.0639 21.1996 20.1317 20.1317C21.1996 19.0639 22.0467 17.7961 22.6246 16.4009C23.2025 15.0056 23.5 13.5102 23.5 12C23.5 10.4898 23.2025 8.99438 22.6246 7.59914C22.0467 6.2039 21.1996 4.93615 20.1317 3.86827C19.0639 2.8004 17.7961 1.95331 16.4009 1.37539C15.0056 0.797456 13.5102 0.5 12 0.5C10.4898 0.5 8.99438 0.797456 7.59914 1.37539C6.2039 1.95331 4.93615 2.8004 3.86827 3.86827C2.8004 4.93615 1.95331 6.2039 1.37539 7.59914C0.797456 8.99438 0.5 10.4898 0.5 12Z"
                  stroke="#373737"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M8.33801 6.59201C9.3342 7.62431 10.6212 8.32873 12.0276 8.61152C13.434 8.8943 14.8932 8.74205 16.211 8.17501"
                  stroke="#373737"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M7.75 8.75C7.75 9.30812 7.85993 9.86077 8.07351 10.3764C8.28709 10.892 8.60015 11.3606 8.9948 11.7552C9.38944 12.1499 9.85796 12.4629 10.3736 12.6765C10.8892 12.8901 11.4419 13 12 13C12.5581 13 13.1108 12.8901 13.6264 12.6765C14.142 12.4629 14.6106 12.1499 15.0052 11.7552C15.3999 11.3606 15.7129 10.892 15.9265 10.3764C16.1401 9.86077 16.25 9.30812 16.25 8.75C16.25 8.19188 16.1401 7.63923 15.9265 7.1236C15.7129 6.60796 15.3999 6.13945 15.0052 5.7448C14.6106 5.35015 14.142 5.03709 13.6264 4.82351C13.1108 4.60993 12.5581 4.5 12 4.5C11.4419 4.5 10.8892 4.60993 10.3736 4.82351C9.85796 5.03709 9.38944 5.35015 8.9948 5.7448C8.60015 6.13945 8.28709 6.60796 8.07351 7.1236C7.85993 7.63923 7.75 8.19188 7.75 8.75Z"
                  stroke="#373737"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M18.317 18.5C17.751 17.3034 16.8568 16.2922 15.7385 15.584C14.6201 14.8759 13.3237 14.4999 12 14.4999C10.6763 14.4999 9.37983 14.8759 8.2615 15.584C7.14316 16.2922 6.24896 17.3034 5.68298 18.5"
                  stroke="#373737"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g>
              <defs>
                <clipPath id="clip0_11_319">
                  <rect width="24" height="24" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
            <span class="uppercase hidden md:block">Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="pt-8 md:pt-10 nav-bottom">
    <div class="container wrapper flex justify-between">
      <div class="logo">
        {
          isHome ? (
            <svg
              width="271"
              height="89"
              viewBox="0 0 271 89"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="w-20 md:w-[180px] h-auto lg:w-[271px]"
            >
              <path
                d="M4.73965 75.7874V88.2467H2.64825V75.7874H4.73965ZM10.9968 75.7874L6.82255 81.8031L4.31795 84.858L3.92205 82.6845L5.65195 80.1345L8.46646 75.7874H10.9968ZM8.69876 88.2467L5.52286 82.3594L6.96025 80.879L11.169 88.2467H8.69876Z"
                fill="white"
              />
              <path
                d="M28.9708 75.7874V88.2467H26.8793V75.7874H28.9708Z"
                fill="white"
              />
              <path
                d="M50.1379 75.7874V88.2467H48.055V75.7874H50.1379ZM53.331 75.7874V77.5331H44.8964V75.7874H53.331Z"
                fill="white"
              />
              <path
                d="M76.4171 86.5097V88.2467H70.978V86.5097H76.4171ZM71.5292 75.7874V88.2467H69.4373V75.7874H71.5292ZM75.6861 80.9731V82.6845H70.978V80.9731H75.6861ZM76.3661 75.7874V77.5331H70.978V75.7874H76.3661Z"
                fill="white"
              />
              <path
                d="M96.6292 82.6331H94.0732L94.0641 81.0415H96.3281C96.6781 81.0415 96.9762 80.9731 97.2232 80.8362C97.4702 80.6993 97.6562 80.4996 97.7822 80.2372C97.9142 79.9748 97.9801 79.658 97.9801 79.2872C97.9801 78.8765 97.9232 78.5427 97.8082 78.286C97.6932 78.0236 97.5132 77.8326 97.2662 77.7128C97.0252 77.593 96.7152 77.5331 96.3362 77.5331H94.6931V88.2467H92.6012V75.7874H96.3362C96.9222 75.7874 97.4441 75.8558 97.9031 75.9927C98.3681 76.124 98.7611 76.3265 99.0821 76.6003C99.4031 76.8741 99.6472 77.2249 99.8142 77.6528C99.9862 78.0749 100.072 78.5771 100.072 79.159C100.072 79.6667 99.9632 80.1344 99.7452 80.5623C99.5272 80.9844 99.2031 81.3324 98.7721 81.6063C98.3481 81.8744 97.8201 82.0341 97.1891 82.0855L96.6292 82.6331ZM96.5521 88.2467H93.3841L94.3482 86.5097H96.5521C96.9251 86.5097 97.2322 86.4298 97.4732 86.2701C97.7142 86.1104 97.8942 85.8878 98.0152 85.6025C98.1352 85.3173 98.1962 84.9836 98.1962 84.6013C98.1962 84.202 98.1441 83.8541 98.0411 83.5574C97.9371 83.2608 97.7711 83.0325 97.5411 82.8727C97.3121 82.713 97.0082 82.6331 96.6292 82.6331H94.5201L94.5381 81.0415H97.2321L97.7141 81.649C98.3161 81.6605 98.8072 81.8088 99.1852 82.094C99.5642 82.3736 99.8421 82.7358 100.02 83.1808C100.198 83.6258 100.287 84.1021 100.287 84.6099C100.287 85.4029 100.138 86.0704 99.8391 86.6124C99.5411 87.1487 99.1142 87.5566 98.5572 87.8361C98.0062 88.1099 97.3381 88.2467 96.5521 88.2467Z"
                fill="white"
              />
              <path
                d="M125.336 80.9987V83.1209C125.336 83.9995 125.232 84.7696 125.026 85.4314C124.825 86.0932 124.532 86.6466 124.148 87.0916C123.769 87.5309 123.31 87.8618 122.771 88.0843C122.237 88.3068 121.641 88.418 120.981 88.418C120.327 88.418 119.73 88.3068 119.191 88.0843C118.657 87.8618 118.195 87.5309 117.805 87.0916C117.42 86.6466 117.122 86.0932 116.91 85.4314C116.703 84.7696 116.6 83.9995 116.6 83.1209V80.9987C116.6 80.1087 116.703 79.3301 116.91 78.6626C117.116 77.9895 117.412 77.4275 117.796 76.9768C118.186 76.5261 118.648 76.1867 119.182 75.9585C119.721 75.7303 120.315 75.6161 120.964 75.6161C121.623 75.6161 122.22 75.7303 122.754 75.9585C123.293 76.1867 123.755 76.5261 124.139 76.9768C124.524 77.4275 124.819 77.9895 125.026 78.6626C125.232 79.3301 125.336 80.1087 125.336 80.9987ZM123.262 83.1209V80.9817C123.262 80.3484 123.21 79.8065 123.107 79.3558C123.009 78.8994 122.863 78.5285 122.668 78.2432C122.473 77.9523 122.232 77.7383 121.945 77.6014C121.664 77.4588 121.336 77.3876 120.964 77.3876C120.602 77.3876 120.278 77.4588 119.991 77.6014C119.71 77.7383 119.469 77.9523 119.268 78.2432C119.073 78.5285 118.924 78.8994 118.82 79.3558C118.723 79.8065 118.674 80.3484 118.674 80.9817V83.1209C118.674 83.7427 118.726 84.2791 118.829 84.7298C118.932 85.1748 119.081 85.5399 119.277 85.8251C119.477 86.1047 119.721 86.3129 120.008 86.4498C120.295 86.5867 120.619 86.6552 120.981 86.6552C121.348 86.6552 121.675 86.5867 121.962 86.4498C122.249 86.3129 122.487 86.1047 122.676 85.8251C122.871 85.5399 123.018 85.1748 123.115 84.7298C123.213 84.2791 123.262 83.7427 123.262 83.1209Z"
                fill="white"
              />
              <path
                d="M146.038 77.4987L143.009 88.2467H140.822L144.799 75.7874H146.159L146.038 77.4987ZM148.457 88.2467L145.418 77.4987L145.272 75.7874H146.658L150.651 88.2467H148.457ZM148.508 83.6172V85.363H142.673V83.6172H148.508Z"
                fill="white"
              />
              <path
                d="M166.542 75.7874H170.329C171.156 75.7874 171.856 75.9299 172.43 76.2151C173.003 76.5004 173.439 76.9226 173.738 77.4817C174.042 78.0351 174.194 78.7225 174.194 79.544C174.194 80.1659 174.099 80.7135 173.91 81.187C173.726 81.6606 173.459 82.0598 173.109 82.385C172.759 82.7044 172.338 82.9526 171.844 83.1295L171.233 83.4632H168.031L168.023 81.7176H170.278C170.685 81.7176 171.024 81.6291 171.293 81.4522C171.563 81.2754 171.764 81.0301 171.896 80.7163C172.034 80.4025 172.102 80.0461 172.102 79.6467C172.102 79.2189 172.042 78.8479 171.922 78.5342C171.801 78.2147 171.612 77.9694 171.354 77.7982C171.095 77.6214 170.754 77.5331 170.329 77.5331H168.634V88.2467H166.542V75.7874ZM172.378 88.2467L169.994 82.6503L172.171 82.6417L174.616 88.1356V88.2467H172.378Z"
                fill="white"
              />
              <path
                d="M193.631 88.2467H191.454L191.471 86.5097H193.631C194.302 86.5097 194.839 86.387 195.241 86.1416C195.642 85.8906 195.932 85.5084 196.11 84.995C196.288 84.4815 196.377 83.8255 196.377 83.0268V80.9987C196.377 80.3826 196.325 79.8577 196.222 79.4241C196.124 78.9849 195.969 78.6284 195.757 78.3546C195.55 78.075 195.278 77.8695 194.939 77.7383C194.601 77.6014 194.193 77.5331 193.717 77.5331H191.411V75.7874H193.717C194.434 75.7874 195.083 75.9014 195.662 76.1296C196.242 76.3578 196.738 76.6944 197.151 77.1394C197.57 77.5787 197.891 78.1234 198.115 78.7738C198.339 79.4241 198.451 80.1715 198.451 81.0158V83.0268C198.451 83.8711 198.339 84.6185 198.115 85.2689C197.891 85.9135 197.57 86.4584 197.151 86.9033C196.732 87.3426 196.227 87.6763 195.636 87.9045C195.045 88.1327 194.377 88.2467 193.631 88.2467ZM192.65 75.7874V88.2467H190.558V75.7874H192.65Z"
                fill="white"
              />
              <path
                d="M217.208 75.7874V88.2467H215.117V75.7874H217.208Z"
                fill="white"
              />
              <path
                d="M242.575 75.7874V88.2467H240.527L236.103 79.621V88.2467H234.08V75.7874H236.103L240.561 84.4731V75.7874H242.575Z"
                fill="white"
              />
              <path
                d="M267.598 81.8544V86.7663C267.443 86.9546 267.208 87.18 266.893 87.4425C266.583 87.6992 266.164 87.9274 265.636 88.127C265.114 88.321 264.454 88.418 263.656 88.418C262.985 88.418 262.371 88.3096 261.814 88.0928C261.264 87.876 260.79 87.548 260.394 87.1087C259.998 86.6694 259.694 86.1218 259.482 85.4657C259.27 84.8039 259.164 84.0223 259.164 83.1209V80.9046C259.164 80.0146 259.258 79.2387 259.448 78.577C259.643 77.9152 259.927 77.3648 260.3 76.9255C260.673 76.4805 261.126 76.1525 261.66 75.9414C262.193 75.7246 262.807 75.6161 263.501 75.6161C264.379 75.6161 265.111 75.7701 265.696 76.0782C266.287 76.3806 266.738 76.8314 267.047 77.4304C267.363 78.0237 267.547 78.7482 267.598 79.6039H265.558C265.513 79.0791 265.412 78.654 265.257 78.3288C265.108 77.9979 264.893 77.7526 264.612 77.5929C264.331 77.4331 263.969 77.3533 263.527 77.3533C263.126 77.3533 262.781 77.4217 262.494 77.5586C262.208 77.6955 261.972 77.9095 261.789 78.2004C261.605 78.4857 261.47 78.8509 261.384 79.2959C261.298 79.7409 261.255 80.2714 261.255 80.8875V83.1209C261.255 83.7484 261.31 84.2877 261.419 84.7383C261.528 85.189 261.685 85.5597 261.892 85.8507C262.104 86.1359 262.365 86.347 262.675 86.4839C262.985 86.6152 263.338 86.6808 263.734 86.6808C264.124 86.6808 264.434 86.6409 264.663 86.5611C264.893 86.4812 265.071 86.3928 265.197 86.2958C265.329 86.1931 265.435 86.1132 265.515 86.0562V83.489H263.493V81.8544H267.598Z"
                fill="white"
              />
              <path
                d="M13.8856 0.4842C9.60615 1.42278 6.64825 2.92451 3.94215 5.48996C-0.589047 9.68228 -0.96665 12.5606 1.55065 24.199C3.50155 33.2094 3.56455 37.8397 1.86535 47.1629C0.795451 52.9821 0.669551 54.7967 1.23595 56.6739C3.75335 64.9334 21.1229 68.938 29.6818 63.2439C33.3319 60.8036 34.6536 57.5499 35.283 49.5406C35.7235 43.4712 36.8563 36.776 38.1779 32.5836C38.4926 31.6451 37.9261 31.5199 31.6957 31.5199C27.9826 31.5199 23.829 31.7076 22.5703 31.8954C20.1159 32.3334 19.9901 32.5836 19.2349 36.6508L18.8574 39.0286H22.6962C25.0877 39.0286 26.4722 39.2788 26.4722 39.7794C26.4722 41.0934 24.5214 50.6044 23.892 52.2312C23.011 54.4838 20.1789 55.923 16.5917 55.923C14.0743 55.923 13.1933 55.6101 11.9976 54.3587L10.5502 52.857L12.2494 44.7226C14.2632 34.8988 14.3262 27.8908 12.627 19.6313C11.4312 13.8746 11.4312 13.6243 12.564 12.1226C14.8926 8.86884 20.7453 8.86884 24.7101 12.1226C26.8498 13.8746 27.668 15.5015 28.612 19.7564C28.9896 21.5084 29.0526 21.5084 34.339 21.5084H39.6883V19.0055C39.6883 15.8769 38.4925 12.8735 35.6605 9.05656C30.4999 2.0485 21.9411 -1.33039 13.8856 0.4842Z"
                fill="white"
              />
              <path
                d="M54.9191 7.24195C54.8562 15.1261 53.9121 18.1295 47.3041 31.5825C40.3185 45.8489 39.4374 48.7898 39.5633 58.989C39.5633 63.1813 39.7521 66.8105 39.8779 66.9982C40.0667 67.1234 42.773 67.4362 45.9826 67.6239L51.7723 67.9994L51.5835 59.9276L51.3318 51.8558L55.7372 52.1061C58.1916 52.2312 61.9675 52.4815 64.1702 52.7318L68.2609 53.1072L69.7713 56.8616C70.5894 58.9264 71.4071 62.1176 71.5961 63.9322L71.9742 67.2485L77.0712 67.0608L82.1692 66.8731L81.9801 63.4316C81.7291 58.9264 80.0921 54.2335 75.9391 46.412C71.7851 38.528 70.7782 34.3356 70.2747 23.3856C69.8971 14.7506 69.0791 10.8712 66.4359 4.80164L64.9254 1.48532H59.9537H54.9191V7.24195ZM61.3382 26.5767C61.0865 30.331 61.8417 38.9034 62.7227 41.0934C63.0374 42.032 62.5969 42.1571 57.6881 42.1571C54.7302 42.1571 52.2758 41.9069 52.2758 41.594C52.2758 39.3414 60.3314 22.009 61.1495 22.5095C61.4012 22.6347 61.527 24.5118 61.3382 26.5767Z"
                fill="white"
              />
              <path
                d="M84.9381 2.73701C84.9381 2.92473 84.9381 4.92703 85.0001 7.24219C85.0631 10.2456 84.4972 13.8749 82.9872 19.4438C80.1552 30.3939 80.0922 38.1528 82.7982 45.9117C84.6862 51.4806 85.3152 59.0518 84.1822 64.1827L83.6791 66.5605H88.4622H93.2451L94.0632 64.4956C94.5662 63.4319 95.2591 60.491 95.6361 58.1132C96.4541 53.2952 96.1402 51.2303 92.8672 39.0914C91.2942 33.2096 90.9792 30.519 91.6712 27.891C91.9862 26.7647 92.4272 27.3904 94.0632 31.3324C95.1332 34.023 97.2102 37.9025 98.6572 39.9674C101.615 44.3474 105.454 51.6683 106.083 54.1712C106.461 55.7355 106.838 55.9232 109.167 55.9232C111.432 55.9232 111.873 55.6729 112.943 53.8583C115.271 49.7912 115.964 46.7251 116.467 38.4031C116.782 33.2096 117.348 29.0798 117.915 27.7658L118.859 25.5758L118.922 27.8284C118.984 29.0798 119.866 32.8967 120.998 36.2756C123.767 44.9106 123.83 51.3555 121.061 59.4898L119.11 65.309H122.068C123.642 65.309 126.033 65.1213 127.292 64.9336C129.683 64.4956 129.683 64.4956 131.634 58.4887C132.83 54.8595 133.774 50.6046 133.963 47.7263C134.214 43.534 133.963 42.0948 132.138 36.1505C129.368 27.2653 129.243 21.3209 131.697 13.0614C132.641 9.93279 133.585 6.36619 133.837 5.05217L134.214 2.73701H128.928H123.642L122.635 4.73931C122.068 5.8656 119.173 10.1831 116.215 14.3129C110.237 22.6349 107.279 28.0161 106.65 32.0833C106.272 34.2733 106.083 34.5862 105.391 33.8979C103.755 32.2084 101.426 25.3255 99.8531 17.4415C98.9091 12.9363 97.5872 7.86791 96.8952 6.05333L95.5732 2.79958L90.2871 2.61186C87.3921 2.48671 85.0001 2.54929 84.9381 2.73701Z"
                fill="white"
              />
              <path
                d="M201.742 2.92448C194.442 4.80164 187.708 10.1828 186.323 15.3764C185.254 19.2558 185.883 26.6393 187.834 32.4585C190.162 39.4666 190.477 44.4097 188.967 50.6044C187.834 55.1096 187.834 55.8604 188.652 57.8001C190.162 61.5545 194.316 63.9322 201.176 64.9959C207.028 65.8719 217.853 62.1176 222.51 57.4873C227.293 52.7944 227.796 46.7249 224.398 34.7111C222.007 26.2639 221.692 22.1967 223.076 16.5026C224.524 10.308 222.762 6.61622 217.287 4.11335C213.133 2.23619 206.525 1.73561 201.742 2.92448ZM210.238 11.184C211.811 11.9975 211.811 12.1226 211.811 20.3821C211.811 27.9533 212 29.2048 213.636 34.0228C215.147 38.3403 215.524 40.4051 215.524 44.9729C215.587 53.7955 213.133 56.7364 205.707 56.799C202.812 56.8616 201.805 56.6113 200.672 55.485C199.414 54.171 199.351 53.8581 200.043 50.9172C201.364 45.2232 200.987 39.7794 198.847 33.0216C196.582 25.951 196.078 18.3798 197.588 14.6881C199.162 10.9963 206.336 8.99396 210.238 11.184Z"
                fill="white"
              />
              <path
                d="M139.374 4.42629C139.186 5.42744 138.305 8.68118 137.423 11.8098C136.542 14.8758 135.661 19.5687 135.473 22.1968C135.221 26.3265 135.473 27.8908 137.549 34.9614C140.381 44.535 140.318 47.9764 137.298 57.2371C136.228 60.5534 135.347 63.5568 135.347 63.9948C135.347 65.0586 166.75 64.996 167.065 63.8697C167.191 63.4943 167.694 61.6171 168.261 59.8025L169.205 56.5488H158.632H147.996L149.318 52.9196C150.199 50.4167 150.577 47.7887 150.639 44.1595V39.0286H159.639C170.086 39.0286 169.771 39.3415 167.254 32.4586L165.869 28.7043L156.429 28.3914L147.052 28.0785L146.486 25.6382C145.857 23.2605 146.549 17.629 147.933 12.6232L148.626 10.2455L159.387 10.1203L170.149 9.93263L170.967 7.11689C171.47 5.55259 171.848 3.92571 171.848 3.48771C171.848 2.92456 168.198 2.73685 155.8 2.73685H139.752L139.374 4.42629Z"
                fill="white"
              />
              <path
                d="M231.635 4.17601C231.635 4.98944 230.691 8.55605 229.621 12.1852C226.915 20.8827 226.852 26.8896 229.432 34.9614C230.565 38.6532 231.32 42.4075 231.446 45.9115C231.698 50.7296 231.509 51.8559 229.495 57.7376C228.237 61.3668 227.293 64.3077 227.418 64.3703C227.481 64.4328 229.999 64.6831 232.957 64.9334L238.432 65.3714L240.509 59.8651C243.404 52.1687 243.404 46.3495 240.572 36.8386C239.502 33.0217 238.558 29.0797 238.558 28.0785L238.621 26.2014L239.69 28.3914C240.32 29.5802 243.026 34.2106 245.732 38.6532C251.837 48.6021 253.347 51.981 255.172 59.6148L256.62 65.6217L261.906 65.9971C264.801 66.1848 267.381 66.1848 267.633 65.9971C267.885 65.8094 268.577 63.8071 269.143 61.5545C270.465 56.361 270.024 51.105 267.507 41.8443C264.99 32.7088 264.99 28.1411 267.57 19.5687C268.64 15.9396 269.647 10.8087 269.836 7.86775L270.213 2.73685H264.864H259.514L259.074 6.80403C258.885 8.99405 257.815 13.5618 256.745 16.9407C254.48 23.8862 254.165 30.644 255.738 36.4006C257.06 41.3438 255.613 39.5292 251.522 31.3323C249.319 26.8896 247.557 22.2593 246.739 18.6927C244.348 8.61862 243.404 4.92687 242.837 3.80058C242.397 2.92457 241.39 2.73685 236.984 2.73685C231.824 2.73685 231.635 2.79943 231.635 4.17601Z"
                fill="white"
              />
            </svg>
          ) : (
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="152"
              height="50"
              viewBox="0 0 152 50"
              fill="none"
            >
              <path
                d="M2.64969 42.1997V49.1374H1.48049V42.1997H2.64969ZM6.14779 42.1997L3.81409 45.5495L2.41389 47.2505L2.19259 46.0402L3.15969 44.6203L4.73309 42.1997H6.14779ZM4.86309 49.1374L3.08759 45.8592L3.89109 45.0348L6.24399 49.1374H4.86309Z"
                fill="#3D8F94"
              />
              <path
                d="M16.1961 42.1997V49.1374H15.0269V42.1997H16.1961Z"
                fill="#3D8F94"
              />
              <path
                d="M28.0296 42.1997V49.1374H26.8652V42.1997H28.0296ZM29.8147 42.1997V43.1718H25.0993V42.1997H29.8147Z"
                fill="#3D8F94"
              />
              <path
                d="M42.7212 48.1701V49.1374H39.6803V48.1701H42.7212ZM39.9882 42.1997V49.1374H38.819V42.1997H39.9882ZM42.3122 45.0873V46.0402H39.6803V45.0873H42.3122ZM42.6923 42.1997V43.1718H39.6803V42.1997H42.6923Z"
                fill="#3D8F94"
              />
              <path
                d="M54.0206 46.0116H52.5915L52.5867 45.1254H53.8522C54.0479 45.1254 54.2147 45.0873 54.3526 45.011C54.4905 44.9348 54.5948 44.8236 54.6654 44.6775C54.7391 44.5314 54.776 44.3551 54.776 44.1486C54.776 43.9199 54.7439 43.734 54.6798 43.5911C54.6156 43.445 54.5146 43.3385 54.3767 43.2718C54.2419 43.2051 54.0687 43.1718 53.857 43.1718H52.938V49.1374H51.7688V42.1997H53.857C54.1842 42.1997 54.4761 42.2379 54.7327 42.3141C54.9925 42.3872 55.2123 42.4999 55.3919 42.6524C55.5715 42.8049 55.7079 43.0002 55.8009 43.2385C55.8971 43.4736 55.9452 43.7531 55.9452 44.0771C55.9452 44.3598 55.8843 44.6203 55.7624 44.8585C55.6405 45.0936 55.4593 45.2874 55.2187 45.4399C54.9813 45.5892 54.6862 45.6781 54.3334 45.7067L54.0206 46.0116ZM53.9773 49.1374H52.2066L52.7455 48.1701H53.9773C54.1858 48.1701 54.3574 48.1257 54.4921 48.0367C54.6269 47.9478 54.7279 47.8239 54.7953 47.6651C54.8626 47.5062 54.8963 47.3204 54.8963 47.1076C54.8963 46.8852 54.8674 46.6914 54.8097 46.5263C54.752 46.3611 54.6589 46.234 54.5306 46.1451C54.4023 46.0561 54.2323 46.0116 54.0206 46.0116H52.8418L52.8514 45.1254H54.3574L54.6269 45.4637C54.9637 45.47 55.2379 45.5526 55.4496 45.7115C55.6614 45.8671 55.8169 46.0688 55.9164 46.3166C56.0158 46.5644 56.0655 46.8296 56.0655 47.1123C56.0655 47.5539 55.9821 47.9255 55.8153 48.2273C55.6485 48.5259 55.4095 48.753 55.0984 48.9087C54.7905 49.0612 54.4168 49.1374 53.9773 49.1374Z"
                fill="#3D8F94"
              />
              <path
                d="M70.0691 45.1016V46.2832C70.0691 46.7724 70.0113 47.2013 69.8958 47.5698C69.7836 47.9382 69.62 48.2464 69.4051 48.4941C69.1933 48.7387 68.9367 48.923 68.6352 49.0469C68.3369 49.1708 68.0033 49.2327 67.6344 49.2327C67.2687 49.2327 66.9351 49.1708 66.6336 49.0469C66.3352 48.923 66.077 48.7387 65.8589 48.4941C65.644 48.2464 65.4772 47.9382 65.3585 47.5698C65.243 47.2013 65.1853 46.7724 65.1853 46.2832V45.1016C65.1853 44.606 65.243 44.1724 65.3585 43.8007C65.474 43.4259 65.6392 43.113 65.8541 42.8621C66.0722 42.6111 66.3304 42.4221 66.6288 42.295C66.9303 42.168 67.2623 42.1044 67.6248 42.1044C67.9937 42.1044 68.3273 42.168 68.6256 42.295C68.9271 42.4221 69.1853 42.6111 69.4002 42.8621C69.6152 43.113 69.7804 43.4259 69.8958 43.8007C70.0113 44.1724 70.0691 44.606 70.0691 45.1016ZM68.9095 46.2832V45.092C68.9095 44.7394 68.8806 44.4376 68.8229 44.1867C68.7683 43.9326 68.6865 43.7261 68.5775 43.5673C68.4684 43.4053 68.3337 43.2861 68.1733 43.2099C68.0161 43.1305 67.8333 43.0908 67.6248 43.0908C67.4227 43.0908 67.2414 43.1305 67.081 43.2099C66.9239 43.2861 66.7891 43.4053 66.6769 43.5673C66.5678 43.7261 66.4844 43.9326 66.4267 44.1867C66.3721 44.4376 66.3449 44.7394 66.3449 45.092V46.2832C66.3449 46.6295 66.3737 46.9281 66.4315 47.179C66.4892 47.4268 66.5726 47.6301 66.6817 47.7889C66.794 47.9446 66.9303 48.0605 67.0907 48.1368C67.2511 48.213 67.4323 48.2511 67.6344 48.2511C67.8397 48.2511 68.0225 48.213 68.1829 48.1368C68.3433 48.0605 68.4764 47.9446 68.5823 47.7889C68.6913 47.6301 68.7731 47.4268 68.8277 47.179C68.8822 46.9281 68.9095 46.6295 68.9095 46.2832Z"
                fill="#3D8F94"
              />
              <path
                d="M81.6427 43.1527L79.949 49.1374H78.7269L80.9498 42.1997H81.7101L81.6427 43.1527ZM82.9948 49.1374L81.2963 43.1527L81.2145 42.1997H81.9891L84.2216 49.1374H82.9948ZM83.0237 46.5596V47.5316H79.7614V46.5596H83.0237Z"
                fill="#3D8F94"
              />
              <path
                d="M93.1056 42.1997H95.2226C95.6846 42.1997 96.0756 42.2792 96.3966 42.438C96.7176 42.5968 96.9616 42.8319 97.1286 43.1432C97.2986 43.4513 97.3836 43.8341 97.3836 44.2915C97.3836 44.6378 97.3306 44.9427 97.2246 45.2064C97.1216 45.47 96.9726 45.6924 96.7766 45.8735C96.5816 46.0514 96.3456 46.1895 96.0696 46.288L95.7276 46.4738H93.9386L93.9336 45.5018H95.1936C95.4216 45.5018 95.6106 45.4526 95.7616 45.3541C95.9126 45.2556 96.0246 45.119 96.0986 44.9443C96.1756 44.7696 96.2136 44.5711 96.2136 44.3487C96.2136 44.1105 96.1806 43.904 96.1126 43.7293C96.0456 43.5514 95.9396 43.4148 95.7956 43.3195C95.6506 43.221 95.4606 43.1718 95.2226 43.1718H94.2746V49.1374H93.1056V42.1997ZM96.3676 49.1374L95.0356 46.0212L96.2526 46.0164L97.6186 49.0755V49.1374H96.3676Z"
                fill="#3D8F94"
              />
              <path
                d="M108.25 49.1374H107.033L107.042 48.1701H108.25C108.625 48.1701 108.925 48.1018 109.15 47.9652C109.374 47.8255 109.536 47.6126 109.636 47.3268C109.735 47.0409 109.785 46.6756 109.785 46.2308V45.1016C109.785 44.7585 109.756 44.4662 109.698 44.2248C109.644 43.9802 109.557 43.7817 109.438 43.6292C109.323 43.4736 109.171 43.3592 108.981 43.2861C108.792 43.2099 108.564 43.1718 108.298 43.1718H107.009V42.1997H108.298C108.699 42.1997 109.062 42.2633 109.386 42.3903C109.71 42.5174 109.987 42.7048 110.218 42.9526C110.452 43.1972 110.632 43.5006 110.757 43.8627C110.882 44.2248 110.944 44.6409 110.944 45.1111V46.2308C110.944 46.701 110.882 47.1171 110.757 47.4792C110.632 47.8382 110.452 48.1415 110.218 48.3893C109.984 48.6339 109.701 48.8197 109.371 48.9468C109.041 49.0739 108.667 49.1374 108.25 49.1374ZM107.701 42.1997V49.1374H106.532V42.1997H107.701Z"
                fill="#3D8F94"
              />
              <path
                d="M121.431 42.1997V49.1374H120.261V42.1997H121.431Z"
                fill="#3D8F94"
              />
              <path
                d="M135.612 42.1997V49.1374H134.467L131.994 44.3344V49.1374H130.863V42.1997H131.994L134.486 47.0361V42.1997H135.612Z"
                fill="#3D8F94"
              />
              <path
                d="M149.601 45.578V48.3131C149.515 48.4179 149.383 48.5434 149.207 48.6895C149.034 48.8325 148.799 48.9595 148.504 49.0707C148.212 49.1787 147.844 49.2327 147.398 49.2327C147.022 49.2327 146.679 49.1724 146.368 49.0516C146.06 48.9309 145.795 48.7483 145.574 48.5037C145.353 48.2591 145.183 47.9541 145.064 47.5888C144.945 47.2203 144.886 46.7851 144.886 46.2832V45.0491C144.886 44.5536 144.939 44.1216 145.045 43.7531C145.154 43.3846 145.313 43.0781 145.521 42.8335C145.73 42.5857 145.983 42.403 146.281 42.2855C146.58 42.1648 146.923 42.1044 147.311 42.1044C147.802 42.1044 148.211 42.1902 148.538 42.3617C148.868 42.5301 149.12 42.7811 149.293 43.1146C149.47 43.445 149.572 43.8484 149.601 44.3249H148.461C148.435 44.0326 148.379 43.796 148.293 43.6149C148.209 43.4307 148.089 43.2941 147.932 43.2051C147.775 43.1162 147.572 43.0717 147.325 43.0717C147.101 43.0717 146.908 43.1098 146.748 43.1861C146.588 43.2623 146.456 43.3814 146.354 43.5434C146.251 43.7023 146.175 43.9056 146.127 44.1533C146.079 44.4011 146.055 44.6965 146.055 45.0396V46.2832C146.055 46.6327 146.086 46.9329 146.147 47.1838C146.208 47.4348 146.296 47.6412 146.411 47.8032C146.53 47.9621 146.676 48.0796 146.849 48.1558C147.022 48.2289 147.22 48.2654 147.441 48.2654C147.659 48.2654 147.832 48.2432 147.961 48.1987C148.089 48.1543 148.188 48.105 148.259 48.051C148.333 47.9938 148.392 47.9494 148.437 47.9176V46.4881H147.306V45.578H149.601Z"
                fill="#3D8F94"
              />
              <path
                d="M7.76279 0.269609C5.37029 0.792226 3.71669 1.62842 2.20389 3.05691C-0.329309 5.39127 -0.540409 6.99397 0.866891 13.4744C1.95759 18.4916 1.99279 21.0698 1.04279 26.2612C0.444691 29.5014 0.374392 30.5118 0.690992 31.557C2.09829 36.1561 11.8088 38.3859 16.5937 35.2153C18.6343 33.8565 19.3731 32.0448 19.725 27.5851C19.9712 24.2055 20.6045 20.4775 21.3434 18.1432C21.5193 17.6205 21.2026 17.5509 17.7195 17.5509C15.6437 17.5509 13.3217 17.6554 12.618 17.7599C11.2459 18.0038 11.1755 18.1432 10.7533 20.4078L10.5422 21.7318H12.6884C14.0253 21.7318 14.7994 21.8712 14.7994 22.1499C14.7994 22.8816 13.7087 28.1774 13.3569 29.0833C12.8643 30.3376 11.2811 31.1389 9.27559 31.1389C7.86829 31.1389 7.37579 30.9647 6.70729 30.2679L5.89809 29.4317L6.84799 24.9023C7.97389 19.4323 8.00909 15.5301 7.05909 10.931C6.39059 7.72563 6.39059 7.58627 7.02389 6.75008C8.32569 4.93834 11.5977 4.93834 13.8142 6.75008C15.0105 7.72563 15.4678 8.6315 15.9956 11.0007C16.2067 11.9763 16.2419 11.9763 19.1972 11.9763H22.1878V10.5826C22.1878 8.84055 21.5193 7.16817 19.9361 5.04286C17.0511 1.14065 12.2662 -0.740786 7.76279 0.269609Z"
                fill="#3D8F94"
              />
              <path
                d="M30.702 4.03245C30.6668 8.42244 30.1391 10.0948 26.4449 17.5857C22.5396 25.5295 22.047 27.167 22.1174 32.8461C22.1174 35.1805 22.2229 37.2013 22.2933 37.3058C22.3988 37.3755 23.9117 37.5497 25.706 37.6542L28.9429 37.8633L28.8373 33.3687L28.6966 28.8742L31.1594 29.0136C32.5315 29.0833 34.6425 29.2226 35.8739 29.362L38.1608 29.5711L39.0052 31.6615C39.4625 32.8113 39.9199 34.5882 40.0255 35.5986L40.2366 37.4452L43.0864 37.3406L45.9362 37.2361L45.8307 35.3199C45.6899 32.8113 44.7752 30.1982 42.4531 25.843C40.131 21.4531 39.5681 19.1187 39.2866 13.0215C39.0755 8.21339 38.6182 6.05324 37.1405 2.67364L36.2961 0.827057H33.5166H30.702V4.03245ZM34.2907 14.7984C34.1499 16.8889 34.5721 21.6621 35.0647 22.8815C35.2406 23.4042 34.9943 23.4738 32.2501 23.4738C30.5965 23.4738 29.2243 23.3345 29.2243 23.1603C29.2243 21.906 33.7277 12.255 34.1851 12.5337C34.3258 12.6034 34.3962 13.6486 34.2907 14.7984Z"
                fill="#3D8F94"
              />
              <path
                d="M47.4848 1.52401C47.4848 1.62853 47.4848 2.74345 47.52 4.03258C47.5552 5.70496 47.2385 7.72575 46.3941 10.8266C44.8109 16.9238 44.7757 21.2441 46.2886 25.5645C47.3441 28.6653 47.6959 32.8811 47.0626 35.7381L46.7811 37.0621H49.455H52.1289L52.5863 35.9123C52.8678 35.32 53.2548 33.6825 53.4659 32.3585C53.9233 29.6757 53.7473 28.526 51.9178 21.7668C51.0383 18.4917 50.8623 16.9935 51.2494 15.5302C51.4253 14.903 51.6716 15.2514 52.5863 17.4464C53.1844 18.9446 54.3455 21.1048 55.1547 22.2545C56.8083 24.6934 58.9544 28.7698 59.3062 30.1635C59.5173 31.0345 59.7284 31.139 61.0302 31.139C62.2968 31.139 62.5431 30.9997 63.1412 29.9893C64.443 27.7246 64.83 26.0174 65.1114 21.3835C65.2873 18.4917 65.604 16.1922 65.9206 15.4605L66.4484 14.2411L66.4836 15.4953C66.5187 16.1922 67.0113 18.3175 67.6446 20.1989C69.1926 25.007 69.2278 28.5956 67.6798 33.125L66.5891 36.3652H68.2427C69.1223 36.3652 70.4592 36.2607 71.1629 36.1562C72.4998 35.9123 72.4998 35.9123 73.5905 32.5675C74.259 30.5467 74.7867 28.1775 74.8923 26.5748C75.033 24.2405 74.8923 23.4391 73.872 20.1292C72.3239 15.1818 72.2536 11.8719 73.6257 7.27281C74.1534 5.53075 74.6812 3.5448 74.8219 2.81314L75.033 1.52401H72.0776H69.1223L68.5593 2.63893C68.2427 3.26607 66.6243 5.67011 64.9707 7.96964C61.6283 12.6035 59.9747 15.5999 59.6229 17.8645C59.4118 19.084 59.3062 19.2582 58.9192 18.8749C58.0045 17.9342 56.7027 14.1017 55.8231 9.7117C55.2954 7.20313 54.5566 4.38099 54.1695 3.3706L53.4307 1.55885L50.4753 1.45433C48.8569 1.38465 47.52 1.41949 47.4848 1.52401Z"
                fill="#3D8F94"
              />
              <path
                d="M112.785 1.62839C108.703 2.67362 104.939 5.66998 104.165 8.5618C103.567 10.722 103.919 14.8332 105.009 18.0735C106.311 21.9757 106.487 24.7281 105.643 28.1774C105.009 30.686 105.009 31.1041 105.467 32.1841C106.311 34.2746 108.633 35.5986 112.468 36.1909C115.74 36.6787 121.791 34.5882 124.395 32.0099C127.069 29.3968 127.35 26.0172 125.45 19.3277C124.114 14.6242 123.938 12.3595 124.712 9.18894C125.521 5.73966 124.536 3.68403 121.475 2.29037C119.153 1.24513 115.459 0.966409 112.785 1.62839ZM117.534 6.22744C118.414 6.68037 118.414 6.75006 118.414 11.3491C118.414 15.5649 118.519 16.2617 119.434 18.9445C120.279 21.3485 120.49 22.4983 120.49 25.0417C120.525 29.9543 119.153 31.5918 115.001 31.6267C113.383 31.6615 112.82 31.5222 112.187 30.895C111.483 30.1634 111.448 29.9891 111.835 28.3516C112.574 25.1811 112.362 22.1499 111.166 18.387C109.9 14.45 109.618 10.2342 110.463 8.17854C111.342 6.12291 115.353 5.00799 117.534 6.22744Z"
                fill="#3D8F94"
              />
              <path
                d="M77.9177 2.46461C77.8122 3.02207 77.3196 4.83382 76.8271 6.57588C76.3345 8.2831 75.842 10.8962 75.7364 12.3595C75.5957 14.659 75.7364 15.5301 76.8974 19.4671C78.4807 24.7978 78.4455 26.7141 76.7567 31.8706C76.1586 33.7172 75.666 35.3896 75.666 35.6335C75.666 36.2258 93.2226 36.1909 93.3986 35.5638C93.4686 35.3547 93.7496 34.3095 94.0666 33.2991L94.5946 31.4873H88.6836H82.7378L83.4766 29.4666C83.9696 28.0729 84.1806 26.6096 84.2156 24.5888V21.7318H89.2466C95.0866 21.7318 94.9106 21.906 93.5036 18.0735L92.7296 15.983L87.4526 15.8088L82.2101 15.6346L81.8934 14.2758C81.5416 12.9518 81.9286 9.81611 82.7026 7.02881L83.0896 5.70485L89.1056 5.63516L95.1226 5.53064L95.5796 3.96279C95.8606 3.09176 96.0726 2.18588 96.0726 1.942C96.0726 1.62842 94.0316 1.5239 87.1006 1.5239H78.1288L77.9177 2.46461Z"
                fill="#3D8F94"
              />
              <path
                d="M129.496 2.32525C129.496 2.77819 128.968 4.76414 128.37 6.78493C126.857 11.6279 126.822 14.9726 128.264 19.4671C128.898 21.5228 129.32 23.6132 129.39 25.5643C129.531 28.2471 129.425 28.8743 128.3 32.1493C127.596 34.1701 127.068 35.8077 127.139 35.8425C127.174 35.8773 128.581 36.0167 130.235 36.1561L133.296 36.4L134.457 33.3339C136.075 29.0485 136.075 25.8082 134.492 20.5124C133.894 18.3871 133.366 16.1921 133.366 15.6346L133.401 14.5894L133.999 15.8088C134.351 16.4708 135.864 19.049 137.377 21.5228C140.79 27.0625 141.634 28.9439 142.654 33.1946L143.463 36.5393L146.419 36.7484C148.037 36.8529 149.48 36.8529 149.62 36.7484C149.761 36.6438 150.148 35.5289 150.465 34.2746C151.204 31.3828 150.957 28.4562 149.55 23.2997C148.143 18.2128 148.143 15.6694 149.585 10.8962C150.183 8.8754 150.746 6.01842 150.852 4.38088L151.063 1.52391H148.072H145.082L144.836 3.78858C144.73 5.00803 144.132 7.55143 143.534 9.43286C142.267 13.3002 142.091 17.0631 142.971 20.2685C143.71 23.0209 142.901 22.0105 140.614 17.4463C139.382 14.9726 138.397 12.3944 137.94 10.4084C136.603 4.79898 136.075 2.74335 135.758 2.11621C135.512 1.62843 134.949 1.52391 132.486 1.52391C129.601 1.52391 129.496 1.55874 129.496 2.32525Z"
                fill="#3D8F94"
              />
            </svg>
          )
        }
      </div>
      <div
        class={`nav-links menu-text flex items-start md:pl-8 lg:pl-0 ${
          textdark ? "text-blue-800" : "text-white"
        }`}
      >
        <div class="main-menu">
          <button id="close-menu" class="absolute top-4 right-6 md:hidden"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <g clip-path="url(#clip0_25_212)">
                <path
                  d="M23.5 0.5L0.5 23.5"
                  stroke="#373737"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M23.5 23.5L0.5 0.5"
                  stroke="#373737"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g>
              <defs>
                <clipPath id="clip0_25_212">
                  <rect width="24" height="24" fill="white"></rect>
                </clipPath>
              </defs>
            </svg></button
          >
          <ul class="md:flex items-center md:gap-8 lg:gap-[72px]">
            <li>
              <a
                class={`flex items-center justify-center py-4 md:py-0 gap-4 cursor-pointer  ${
                  textdark
                    ? ""
                    : "md:hover:text-blue-200 transition-all duration-300 ease-in-out"
                }`}
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M12 6.5C13.6569 6.5 15 5.15685 15 3.5C15 1.84315 13.6569 0.5 12 0.5C10.3431 0.5 9 1.84315 9 3.5C9 5.15685 10.3431 6.5 12 6.5Z"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M6.26001 22.83C6.39403 23.0366 6.57781 23.2062 6.79448 23.3233C7.01114 23.4404 7.25374 23.5011 7.50001 23.5C7.77001 23.5 7.50001 23.56 12 22.33"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M12.68 19.4L16.89 20.55C17.2427 20.6434 17.5492 20.8621 17.7522 21.1652C17.9552 21.4683 18.0409 21.835 17.9931 22.1966C17.9452 22.5583 17.7673 22.8901 17.4925 23.13C17.2176 23.3699 16.8648 23.5015 16.5 23.5C16.21 23.5 17.01 23.69 5.11001 20.45C4.91959 20.3988 4.74113 20.3106 4.58481 20.1904C4.42848 20.0702 4.29736 19.9204 4.19893 19.7495C4.00015 19.4045 3.94658 18.9946 4.05001 18.61C4.15345 18.2254 4.40541 17.8977 4.75048 17.6989C5.09554 17.5001 5.50545 17.4466 5.89001 17.55L8.50001 18.26V14C8.06761 14.4979 7.52812 14.8915 6.92198 15.1513C6.31584 15.411 5.65877 15.5303 5.00001 15.5C4.01977 15.5418 3.05298 15.26 2.24878 14.698C1.44458 14.1359 0.84763 13.3249 0.55001 12.39C0.446576 12.0054 0.500145 11.5955 0.698934 11.2505C0.897723 10.9054 1.22545 10.6534 1.61001 10.55C1.99457 10.4466 2.40448 10.5001 2.74954 10.6989C3.09461 10.8977 3.34658 11.2254 3.45001 11.61C3.45001 11.61 3.70001 12.5 5.00001 12.5C5.87001 12.5 7.35001 11.09 8.13001 9.38001C8.2494 9.11699 8.44219 8.89404 8.68521 8.73793C8.92824 8.58183 9.21117 8.49921 9.50001 8.50001H14.5C14.7889 8.49921 15.0718 8.58183 15.3148 8.73793C15.5578 8.89404 15.7506 9.11699 15.87 9.38001C16.65 11.09 18.13 12.5 19 12.5C20.3 12.5 20.55 11.62 20.55 11.61C20.6534 11.2254 20.9054 10.8977 21.2505 10.6989C21.5955 10.5001 22.0054 10.4466 22.39 10.55C22.7746 10.6534 23.1023 10.9054 23.3011 11.2505C23.4999 11.5955 23.5534 12.0054 23.45 12.39C23.1524 13.3249 22.5554 14.1359 21.7512 14.698C20.947 15.26 19.9803 15.5418 19 15.5C18.3412 15.5303 17.6842 15.411 17.078 15.1513C16.4719 14.8915 15.9324 14.4979 15.5 14V18.26L18.11 17.55C18.4401 17.4616 18.7904 17.4884 19.1031 17.6262C19.4158 17.764 19.6721 18.0044 19.8295 18.3077C19.987 18.6109 20.0362 18.9588 19.969 19.2939C19.9018 19.6289 19.7222 19.9309 19.46 20.15"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M8.5 12.5V14"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                  <path
                    d="M15.5 12.5V14"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
                <span>YOGA & TRAINING</span></a
              >
            </li>
            <li>
              <a
                class={`flex items-center justify-center py-4 md:py-0 gap-4 cursor-pointer  ${
                  textdark
                    ? ""
                    : "md:hover:text-blue-200 transition-all duration-300 ease-in-out "
                }`}
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <g clip-path="url(#clip0_11_15)">
                    <path
                      d="M3.578 8.021C4.68257 8.021 5.578 7.12557 5.578 6.021C5.578 4.91643 4.68257 4.021 3.578 4.021C2.47343 4.021 1.578 4.91643 1.578 6.021C1.578 7.12557 2.47343 8.021 3.578 8.021Z"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M15.927 1.608L15.828 7.271L21.91 8.752"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M15.828 7.271L11.011 9.373"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M13.067 17.5L10.989 14.9C10.8004 14.6646 10.5274 14.5122 10.228 14.475L6.35802 13.991L5.83302 12.151H8.34902C8.5286 12.1511 8.70572 12.1093 8.8663 12.029C9.02688 11.9486 9.16649 11.8318 9.27402 11.688L11.011 9.37301C11.1846 9.12682 11.2554 8.82268 11.2084 8.52514C11.1615 8.2276 11.0004 7.96007 10.7594 7.77933C10.5184 7.5986 10.2165 7.51888 9.9177 7.55709C9.6189 7.5953 9.34676 7.74844 9.15902 7.98401L7.77002 9.83601H4.30002C4.12068 9.83573 3.94373 9.87713 3.78314 9.95697C3.62255 10.0368 3.48272 10.1529 3.37468 10.296C3.26664 10.4392 3.19336 10.6055 3.16062 10.7818C3.12788 10.9581 3.13657 11.1396 3.18602 11.312L4.34402 15.363C4.35277 15.3856 4.36279 15.4076 4.37402 15.429C4.37402 15.444 4.37402 15.459 4.38202 15.475L5.39102 18"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M7.68697 17.508L7.25897 16.436L9.47397 16.713L10.681 18.221"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M21.867 20.078C22.0486 19.8491 22.1833 19.5866 22.2633 19.3055C22.3433 19.0244 22.3669 18.7303 22.333 18.44C21.868 17.2 16.311 16.105 10.749 18.195C9.513 18.6564 8.31473 19.213 7.16498 19.86"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M23.576 23.41C21.076 23.931 19.515 21.431 19.515 21.431C19.128 22.0459 18.5948 22.5553 17.9629 22.9139C17.3311 23.2725 16.6203 23.469 15.894 23.486C15.2082 23.4723 14.5387 23.2743 13.9558 22.9127C13.3729 22.5511 12.898 22.0393 12.581 21.431C12.1149 22.0369 11.5229 22.5345 10.8457 22.8893C10.1686 23.2441 9.42249 23.4477 8.65899 23.486C7.93739 23.4514 7.23408 23.2473 6.60603 22.8903C5.97798 22.5333 5.44285 22.0333 5.04399 21.431C5.04399 21.431 3.04399 23.973 0.588989 23.451"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M21.91 8.75199C22.3791 8.35914 22.7662 7.87775 23.0492 7.33529C23.3323 6.79284 23.5057 6.19995 23.5596 5.59047C23.6135 4.98099 23.5468 4.36687 23.3634 3.78315C23.18 3.19944 22.8834 2.65758 22.4905 2.18849C22.0977 1.71941 21.6163 1.3323 21.0738 1.04926C20.5313 0.766226 19.9385 0.592804 19.329 0.538899C18.7195 0.484995 18.1054 0.551664 17.5217 0.7351C16.9379 0.918535 16.3961 1.21515 15.927 1.60799C17.3665 2.32488 18.7103 3.21953 19.927 4.27099C20.7654 5.6797 21.4312 7.18418 21.91 8.75199Z"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_11_15">
                      <rect width="24" height="24" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
                <span class="">KITEBOARD CLINICS</span></a
              >
            </li>
            <li>
              <a
                class={`flex items-center justify-center py-4 md:py-0 gap-4 cursor-pointer  ${
                  textdark
                    ? ""
                    : "md:hover:text-blue-200 transition-all duration-300 ease-in-out"
                }`}
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <g clip-path="url(#clip0_11_36)">
                    <path
                      d="M13.514 23.5H10.514"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M14.514 21.5H9.51398"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M12.014 0.5V3.5"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M3.52802 4.01501L5.65002 6.13601"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M20.499 4.01501L18.378 6.13601"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M0.513977 12.5H3.51398"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M23.514 12.5H20.514"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                    <path
                      d="M18.014 12.5C18.0151 11.468 17.7501 10.4532 17.2445 9.55362C16.7388 8.65402 16.0097 7.90003 15.1276 7.36451C14.2455 6.82899 13.2401 6.53004 12.2087 6.49654C11.1773 6.46304 10.1547 6.69614 9.23968 7.1733C8.32467 7.65046 7.54819 8.35555 6.98527 9.22045C6.42235 10.0854 6.09202 11.0808 6.0262 12.1107C5.96037 13.1405 6.16129 14.17 6.60952 15.0995C7.05775 16.029 7.73815 16.8272 8.58498 17.417C8.71739 17.5091 8.82557 17.6319 8.90027 17.7748C8.97497 17.9178 9.01398 18.0767 9.01397 18.238V19C9.01397 19.1326 9.06665 19.2598 9.16042 19.3535C9.25419 19.4473 9.38137 19.5 9.51397 19.5H14.514C14.6466 19.5 14.7738 19.4473 14.8675 19.3535C14.9613 19.2598 15.014 19.1326 15.014 19V18.237C15.014 18.0757 15.053 17.9168 15.1277 17.7738C15.2024 17.6309 15.3106 17.5081 15.443 17.416C16.2368 16.8652 16.8853 16.1303 17.333 15.2742C17.7808 14.418 18.0144 13.4661 18.014 12.5Z"
                      stroke="currentColor"
                      stroke-linecap="round"
                      stroke-linejoin="round"></path>
                  </g>
                  <defs>
                    <clipPath id="clip0_11_36">
                      <rect width="24" height="24" fill="white"></rect>
                    </clipPath>
                  </defs>
                </svg>
                <span class="">TIPS & TRICKS</span></a
              >
            </li>
          </ul>
          <div class="items-center grid mt-14 md:hidden">
            <span class="uppercase mb-5">Follow us</span>
            <ul class="flex gap-6  justify-center items-center">
              <li>
                <a href="/" class="p-3 flex items-center justify-center w-12 h-12"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12.56 13.3018V20H9.52304V13.3018H7V10.5858H9.52304V9.59763C9.52304 5.92899 11.0357 4 14.2362 4C15.2174 4 15.4627 4.15976 16 4.28994V6.97633C15.3984 6.86982 15.2291 6.81065 14.6042 6.81065C13.8624 6.81065 13.4653 7.02367 13.1032 7.44379C12.7411 7.86391 12.56 8.59172 12.56 9.63314V10.5917H16V13.3077H13.5455L12.56 13.3018Z"
                      fill="#373737"></path>
                  </svg></a
                >
              </li>
              <li>
                <a href="/" class="p-3 flex items-center justify-center w-12 h-12">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 20 20"
                    fill="none"
                  >
                    <path
                      d="M15.9914 19H4.00863C2.35277 19 1 17.6472 1 15.9914V4.00862C1 2.35277 2.35277 1 4.00863 1H15.9914C17.6472 1 19 2.35277 19 4.00862V15.9914C19 17.6546 17.6546 19 15.9914 19Z"
                      stroke="#515151"></path>
                    <path
                      d="M6.73636 13.271C7.60864 14.1433 8.76922 14.6238 10.0037 14.6238C11.2382 14.6238 12.3914 14.1433 13.2711 13.271C14.1433 12.3988 14.6238 11.2382 14.6238 10.0037C14.6238 8.7692 14.1433 7.60863 13.2711 6.73635C12.3988 5.86407 11.2382 5.38358 10.0037 5.38358C8.76922 5.38358 7.60864 5.86407 6.73636 6.73635C5.86408 7.60863 5.38359 8.7692 5.38359 10.0037C5.38359 11.2382 5.86408 12.3988 6.73636 13.271Z"
                      stroke="#515151"></path>
                    <path
                      d="M15.5244 5.23175C16.0143 5.23175 16.4115 4.83459 16.4115 4.34467C16.4115 3.85474 16.0143 3.45758 15.5244 3.45758C15.0344 3.45758 14.6373 3.85474 14.6373 4.34467C14.6373 4.83459 15.0344 5.23175 15.5244 5.23175Z"
                      stroke="#515151"></path>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <button id="open-menu" class="md:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <g clip-path="url(#clip0_58_2485)">
              <path
                d="M14.469 5.48899C16.499 5.08099 18.134 3.42599 18.542 1.34399C18.952 3.42599 20.585 5.08099 22.615 5.48899M22.615 5.49099C20.585 5.89999 18.951 7.55399 18.542 9.63699C18.133 7.55399 16.499 5.89999 14.469 5.49099"
                stroke={`${textdark ? "text-blue-800" : "#fff"}`}
                stroke-linecap="round"
                stroke-linejoin="round"></path>
              <path
                d="M1.38501 8.121H11.707"
                stroke={`${textdark ? "text-blue-800" : "#fff"}`}
                stroke-linecap="round"></path>
              <path
                d="M1.38501 12.965H22.15"
                stroke={`${textdark ? "text-blue-800" : "#fff"}`}
                stroke-linecap="round"></path>
              <path
                d="M1.38501 17.813H22.15"
                stroke={`${textdark ? "text-blue-800" : "#fff"}`}
                stroke-linecap="round"></path>
              <path
                d="M1.38501 22.656H22.15"
                stroke={`${textdark ? "text-blue-800" : "#fff"}`}
                stroke-linecap="round"></path>
            </g>
            <defs>
              <clipPath id="clip0_58_2485">
                <rect
                  width="24"
                  height="24"
                  fill={`${textdark ? "text-blue-800" : "#fff"}`}></rect>
              </clipPath>
            </defs>
          </svg>
        </button>
        <button id="show-top-nav" class="hidden burger">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <g clip-path="url(#clip0_12_448)">
                  <path d="M0.534974 5.6313L11.661 18.2043C11.7079 18.2573 11.7655 18.2998 11.8301 18.3289C11.8947 18.358 11.9647 18.373 12.0355 18.373C12.1063 18.373 12.1763 18.358 12.2408 18.3289C12.3054 18.2998 12.3631 18.2573 12.41 18.2043L23.535 5.6313" stroke="black" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                  <clipPath id="clip0_12_448">
                    <rect width="24" height="24" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
        </button>
      </div>
    </div>
  </nav>
</header>
