---
import Button from "./Button.astro";
---

<section class="relative getCursorPosition left-img home-hero">
  <div class="swiper home-swiper h-full relative !z-20">
    <div class="swiper-wrapper h-full">
      {
        [1, 2, 3, 4].map((item) => {
          return (
            <div class="swiper-slide relative md:mt-0 h-full ">
              <div class=" relative  z-20 h-full  home-hero-gradient">
                <div class="container wrapper flex items-center h-full relative z-30 ">
                  <div class="lg:max-w-[620px] lg:pr-0 lg:mt-[90px] h-full py-[100px] flex flex-col md:justify-center">
                    <h1 class="text-white mb-4" data-swiper-parallax="-300">
                      JOIN THE NEXT KITE CLINIC!
                    </h1>
                    <p
                      class="text-xl text-white font-normal flex items-center gap-8"
                      data-swiper-parallax="-400"
                    >
                      <span>Sardinian July 2023</span>
                      <span class="h-[1px] w-[90px] md:w-[107px] bg-white" />
                    </p>
                    <div
                      class="mt-auto md:mt-[232px] lg:mt-[72px] grid md:flex gap-4 justify-center md:justify-start  items-center"
                      data-swiper-parallax="-600"
                    >
                      <a class="btn btn-text secondary full has-wave h-[48px] w-full md:max-w-max">
                        <span>Join now!</span> <div class="wave" />
                      </a>
                      <Button href="/" color="primary-outlined" text="Watch me first" className="!mx-[-10px] md:mx-0"/>
                      
                    </div>
                  </div>
                </div>
              </div>

              <video
                autoplay="true"
                playsinline=""
                loop=""
                controlslist="nodownload"
                poster="/assets/images/home-hero.png"
                src={`/assets/video/home-${item}.mov`}
                class="w-full h-full  top-0 left-0 absolute object-cover inset-0 z-10 "
                muted=""
              />
            </div>
          );
        })
      }
    </div>
    <div class="container wrapper absolute inset-0 h-full w-full">
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
