<section class="bg-gray-100 pt-20 pb-11">
  <div class="container wrapper">
    <div class="text-center">
      <h2 class="h1 uppercase">OUR OFFER</h2>
    </div>
    <div class="swiper swiper-container tabs-buttons mt-12 mb-8 md:mb-28">
      <div class="swiper-wrapper">
        <div class="swiper-slide active-tab tab-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="11"
            viewBox="0 0 27 11"
            fill="none"
            class="pointer-events-none"
          >
            <path
              d="M20.0595 0.798717C20.0661 1.14154 19.9997 1.48183 19.8649 1.79548C19.7302 2.10914 19.5303 2.38873 19.2795 2.61467C18.7469 3.107 18.05 3.36885 17.3342 3.34595C16.7142 3.32056 16.1054 3.16883 15.5432 2.89914C14.8856 2.61357 14.2453 2.28757 13.6258 1.92311C12.8916 1.51199 12.1158 1.18462 11.3124 0.94707C10.3647 0.649165 9.37905 0.498474 8.38805 0.500012C5.56752 0.500012 3.46636 1.38981 2.08462 3.16913C0.623295 5.20614 -0.108507 7.69961 0.013027 10.2277H6.91144C6.90236 9.88378 6.96631 9.54203 7.0988 9.22614C7.23129 8.91026 7.42913 8.62797 7.67859 8.39871C8.22782 7.90603 8.94043 7.6494 9.66862 7.68242C10.4682 7.73424 11.2453 7.97569 11.9392 8.38747C12.8294 8.85737 13.847 9.32687 14.9919 9.79608C16.1435 10.267 17.3724 10.506 18.6118 10.4999C21.4323 10.4999 23.5335 9.61503 24.9152 7.84526C26.3772 5.81364 27.1092 3.32401 26.9868 0.799965L20.0595 0.798717Z"
              fill="#373737"></path>
          </svg>
          <span class="ml-6 title pointer-events-none">Offer</span><span
            class="number ml-2 pointer-events-none">01.</span
          >
        </div>
        <div class="swiper-slide tab-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="11"
            viewBox="0 0 27 11"
            fill="none"
            class="pointer-events-none"
          >
            <path
              d="M20.0595 0.798717C20.0661 1.14154 19.9997 1.48183 19.8649 1.79548C19.7302 2.10914 19.5303 2.38873 19.2795 2.61467C18.7469 3.107 18.05 3.36885 17.3342 3.34595C16.7142 3.32056 16.1054 3.16883 15.5432 2.89914C14.8856 2.61357 14.2453 2.28757 13.6258 1.92311C12.8916 1.51199 12.1158 1.18462 11.3124 0.94707C10.3647 0.649165 9.37905 0.498474 8.38805 0.500012C5.56752 0.500012 3.46636 1.38981 2.08462 3.16913C0.623295 5.20614 -0.108507 7.69961 0.013027 10.2277H6.91144C6.90236 9.88378 6.96631 9.54203 7.0988 9.22614C7.23129 8.91026 7.42913 8.62797 7.67859 8.39871C8.22782 7.90603 8.94043 7.6494 9.66862 7.68242C10.4682 7.73424 11.2453 7.97569 11.9392 8.38747C12.8294 8.85737 13.847 9.32687 14.9919 9.79608C16.1435 10.267 17.3724 10.506 18.6118 10.4999C21.4323 10.4999 23.5335 9.61503 24.9152 7.84526C26.3772 5.81364 27.1092 3.32401 26.9868 0.799965L20.0595 0.798717Z"
              fill="#373737"></path>
          </svg>
          <span class="pointer-events-none ml-6 title">Offer</span><span
            class="number ml-2 pointer-events-none">02.</span
          >
        </div>
        <div class="swiper-slide tab-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="11"
            viewBox="0 0 27 11"
            fill="none"
            class="pointer-events-none"
          >
            <path
              d="M20.0595 0.798717C20.0661 1.14154 19.9997 1.48183 19.8649 1.79548C19.7302 2.10914 19.5303 2.38873 19.2795 2.61467C18.7469 3.107 18.05 3.36885 17.3342 3.34595C16.7142 3.32056 16.1054 3.16883 15.5432 2.89914C14.8856 2.61357 14.2453 2.28757 13.6258 1.92311C12.8916 1.51199 12.1158 1.18462 11.3124 0.94707C10.3647 0.649165 9.37905 0.498474 8.38805 0.500012C5.56752 0.500012 3.46636 1.38981 2.08462 3.16913C0.623295 5.20614 -0.108507 7.69961 0.013027 10.2277H6.91144C6.90236 9.88378 6.96631 9.54203 7.0988 9.22614C7.23129 8.91026 7.42913 8.62797 7.67859 8.39871C8.22782 7.90603 8.94043 7.6494 9.66862 7.68242C10.4682 7.73424 11.2453 7.97569 11.9392 8.38747C12.8294 8.85737 13.847 9.32687 14.9919 9.79608C16.1435 10.267 17.3724 10.506 18.6118 10.4999C21.4323 10.4999 23.5335 9.61503 24.9152 7.84526C26.3772 5.81364 27.1092 3.32401 26.9868 0.799965L20.0595 0.798717Z"
              fill="#373737"></path>
          </svg>
          <span class="pointer-events-none ml-6 title">Offer</span><span
            class="number ml-2 pointer-events-none">03.</span
          >
        </div>
        <div class="swiper-slide tab-btn">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="27"
            height="11"
            viewBox="0 0 27 11"
            fill="none"
            class="pointer-events-none"
          >
            <path
              d="M20.0595 0.798717C20.0661 1.14154 19.9997 1.48183 19.8649 1.79548C19.7302 2.10914 19.5303 2.38873 19.2795 2.61467C18.7469 3.107 18.05 3.36885 17.3342 3.34595C16.7142 3.32056 16.1054 3.16883 15.5432 2.89914C14.8856 2.61357 14.2453 2.28757 13.6258 1.92311C12.8916 1.51199 12.1158 1.18462 11.3124 0.94707C10.3647 0.649165 9.37905 0.498474 8.38805 0.500012C5.56752 0.500012 3.46636 1.38981 2.08462 3.16913C0.623295 5.20614 -0.108507 7.69961 0.013027 10.2277H6.91144C6.90236 9.88378 6.96631 9.54203 7.0988 9.22614C7.23129 8.91026 7.42913 8.62797 7.67859 8.39871C8.22782 7.90603 8.94043 7.6494 9.66862 7.68242C10.4682 7.73424 11.2453 7.97569 11.9392 8.38747C12.8294 8.85737 13.847 9.32687 14.9919 9.79608C16.1435 10.267 17.3724 10.506 18.6118 10.4999C21.4323 10.4999 23.5335 9.61503 24.9152 7.84526C26.3772 5.81364 27.1092 3.32401 26.9868 0.799965L20.0595 0.798717Z"
              fill="#373737"></path>
          </svg>
          <span class="pointer-events-none ml-6 title">Offer</span><span
            class="number ml-2 pointer-events-none">04.</span
          >
        </div>
      </div>
      <!--   <div class="swiper-scrollbar"></div> -->
    </div>
  </div>
  <div class="container">
    <div class="swiper swiper-container tabs-content">
      <div class="swiper-wrapper">
        {
          [1, 2, 3, 4].map((item) => {
            return (
              <article class="swiper-slide">
                <div class="grid md:grid-cols-2">
                  <div class="mb-8 md:mb-0">
                    <img src="/assets/images/offer-1.png" />
                  </div>
                  <div class="max-w-[426px] px-6 md:px-0 md:ml-12">
                    <div class="flex items-center mb-6">
                     
                      
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="48"
                          height="17"
                          viewBox="0 0 48 17"
                          fill="none"
                        >
                          <path
                            d="M35.6614 0.507818C35.673 1.09062 35.5549 1.66911 35.3154 2.20232C35.0758 2.73553 34.7206 3.21084 34.2746 3.59494C33.3278 4.43189 32.089 4.87705 30.8163 4.83812C29.7142 4.79495 28.6319 4.53701 27.6323 4.07854C26.4633 3.59307 25.325 3.03887 24.2236 2.41928C22.9184 1.72038 21.5392 1.16386 20.1109 0.760019C18.4261 0.25358 16.6739 -0.00259391 14.9121 1.97996e-05C9.89781 1.97996e-05 6.16242 1.51267 3.70598 4.53751C1.10808 8.00043 -0.192902 12.2393 0.0231591 16.537H12.287C12.2709 15.9524 12.3845 15.3715 12.6201 14.8344C12.8556 14.2974 13.2073 13.8176 13.6508 13.4278C14.6272 12.5902 15.8941 12.154 17.1887 12.2101C18.6102 12.2982 19.9917 12.7087 21.2253 13.4087C22.8079 14.2075 24.6169 15.0057 26.6523 15.8033C28.6996 16.604 30.8843 17.0102 33.0876 16.9998C38.1019 16.9998 41.8373 15.4956 44.2937 12.4869C46.8927 9.03319 48.1941 4.80082 47.9765 0.509941L35.6614 0.507818Z"
                            fill="#ABCFD1"
                          />
                        </svg>
                        <h4 class="ml-3 mr-2">Offer</h4>
                        <h3>0{item}.</h3>
                    </div>

                    <p class="mb-6">
                      Sorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Nunc vulputate libero et velit interdum, ac aliquet odio
                      mattis. Class aptent taciti sociosqu ad litora torquent
                      per conubia nostra, per inceptos himenaeos. Curabitur
                      tempus urna at turpis condimentum lobortis.
                    </p>
                    <ol
                      class="list-decimal
 grid gap-4 justify-start mb-12 list-style"
                    >
                      <li>Lorem ipsum</li>
                      <li>Lorem ipsum</li>
                      <li>Lorem ipsum</li>
                    </ol>
                    <a class="btn primary full btn-text">Find out more</a>
                  </div>
                </div>
              </article>
            );
          })
        }
      </div>
    </div>
  </div>
</section>
