---
const {bg}=Astro.props;
import Button from "./Button.astro";
---

<article class={` ${bg ? bg : ""} py-10 px-4 text-center swiper-slide`}>
    <img src="/assets/images/courses-2.png" class="w-[180px] rounded-full mb-4 mx-auto"/>
    <h3 class="mb-4">Yoga & trainings</h3>
    <p class="mb-4">Forem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti.</p>
    <h5 class="mb-2">Time: 40 min</h5>
    <h5 class="mb-8">Price: 100 EUR</h5>
    <Button href="/product" text="Book now" color="dark"/>
</article>