---
---

<section class="py-16 bg-gray-100">
    <div class="container wrapper">
        <div class="flex gap-16 flex-wrap">
        <h2 class="h1">REVIEWS</h2>
        <p class="max-w-[867px]">Sorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos.</p>
        </div>
        <div class="flex gap-4 lg:gap-20 md:justify-center mt-28 flex-wrap">
            <img src="/assets/images/reviews-1.png" />
            <img src="/assets/images/reviews-2.png" class="mix-blend-multiply	"/>
            <img src="/assets/images/reviews-1.png" />
            <img src="/assets/images/reviews-2.png" class="mix-blend-multiply	"/>
        </div>
    </div>
</section>