---
import Stars from "./Stars.astro";
const { item } = Astro.props;
---

<article class="pt-[58px] swiper-slide">
  <div class="bg-white px-6 relative text-center pt-[90px] pb-[90px]">
    <img
      src="/assets/images/person-1.png"
      class="absolute top-[-58px] rounded-full left-1/2 -translate-x-1/2"
    />
    <h3 class="mb-2">Julia Kamińska</h3>
    <p class="mb-2">UX designer</p>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="16"
      viewBox="0 0 20 16"
      fill="none"
      class="mb-9 inline"
    >
      <path
        d="M4.577 0.285889C5.505 0.285889 6.27833 0.537222 6.897 1.03989C7.55433 1.50389 8.057 2.16122 8.405 3.01189C8.753 3.82389 8.927 4.79056 8.927 5.91189C8.927 7.18789 8.695 8.44456 8.231 9.68189C7.80567 10.9192 7.129 12.0599 6.201 13.1039C5.273 14.1479 4.07433 15.0179 2.605 15.7139L0.168999 13.4519C1.213 13.1039 2.12167 12.6206 2.895 12.0019C3.707 11.3832 4.36433 10.6872 4.867 9.91389C5.36967 9.14056 5.69833 8.34789 5.853 7.53589L5.621 7.41989C5.46633 7.53589 5.273 7.63256 5.041 7.70989C4.809 7.78722 4.461 7.82589 3.997 7.82589C3.533 7.82589 3.04967 7.69056 2.547 7.41989C2.083 7.14922 1.677 6.76256 1.329 6.25989C0.980999 5.71856 0.806998 5.02256 0.806998 4.17189C0.806998 3.47589 0.980999 2.83789 1.329 2.25789C1.677 1.63922 2.12167 1.15589 2.663 0.807888C3.243 0.459889 3.881 0.285889 4.577 0.285889ZM15.481 0.285889C16.409 0.285889 17.1823 0.537222 17.801 1.03989C18.4583 1.50389 18.961 2.16122 19.309 3.01189C19.657 3.82389 19.831 4.79056 19.831 5.91189C19.831 7.18789 19.599 8.44456 19.135 9.68189C18.7097 10.9192 18.033 12.0599 17.105 13.1039C16.177 14.1479 14.9783 15.0179 13.509 15.7139L11.073 13.4519C12.117 13.1039 13.0257 12.6206 13.799 12.0019C14.611 11.3832 15.2683 10.6872 15.771 9.91389C16.2737 9.14056 16.6023 8.34789 16.757 7.53589L16.525 7.41989C16.3703 7.53589 16.177 7.63256 15.945 7.70989C15.713 7.78722 15.365 7.82589 14.901 7.82589C14.437 7.82589 13.9537 7.69056 13.451 7.41989C12.987 7.14922 12.581 6.76256 12.233 6.25989C11.885 5.71856 11.711 5.02256 11.711 4.17189C11.711 3.47589 11.885 2.83789 12.233 2.25789C12.581 1.63922 13.0257 1.15589 13.567 0.807888C14.147 0.459889 14.785 0.285889 15.481 0.285889Z"
        fill="#BDA681"></path>
    </svg>
    <p class="text-black lines-height">
      Sorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate
      libero et velit interdum, ac aliquet odio mattis. Class aptent taciti
      sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      Curabitur tempus urna at turpis.
    </p>
    <Stars number={5} />
  </div>
</article>
