---
import Input from "../components/Input.astro";
import Button from "./Button.astro";
---

<section class="bg-gray-100 pb-28 pt-11 md:py-11">
  <div class="container wrapper">
    <div class="max-w-[868px] mx-auto">
      <div class="text-center text-black mb-16">
        <h2 class="h1 uppercase mb-4">suscribe to our mailing list</h2>
        <h4>
          we send awesome newletter with tips and tricks on taking you
          kiteboarding to the next level
        </h4>
      </div>
      <form class="max-w-[594px] mx-auto">
        <Input type="text" name="name" placeholder="Name" className="mb-6" />
        <Input
          type="mail"
          name="mail"
          placeholder="E-mail"
          className="mb-12 "
        />
       
        <Button type="button" color="dark" text="Subscribe" className="!ml-[-8px]"/>
      </form>
    </div>
  </div>
</section>
